{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm diversity information" %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/diversity.html" %}

  {# {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[diversity][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.diversity.status, "Completed")
    }
  ]
  }) }} #}

  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}

