{% extends "_templates/_record-form.njk" %}

{% set pageHeading = "Which of the following best describes their " + data.record.diversity.ethnicGroup + " background?" %}

{% set formAction = "disabilities" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/diversity/ethnic-background.njk" %}
{% endblock %}
