
{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukTextarea({
  label: {
    text: "Why the trainee withdrew from the course (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  }
} | decorateAttributes(record, "record.withdraw.additionalDetail"))  }}

{{ govukTextarea({
  label: {
    text: "What the Department for Education could have done to prevent the trainee withdrawing (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  }
} | decorateAttributes(record, "record.withdraw.additionalDfE"))  }}

{{ govukButton({
  text: "Continue"
}) }}
