
{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukCharacterCount({
  maxlength: 1000,
  threshold: 75,
  label: {
    text: "Details about why the trainee withdrew (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  }
} | decorateAttributes(record, "record.withdraw.additionalDetail"))  }}

{% set extraSupportTextArea %}
  {{ govukCharacterCount({
    maxlength: 1000,
    threshold: 75,
    label: {
      text: "Details",
      _classes: "govuk-label--s",
      isPageHeading: false
    }
  } | decorateAttributes(record, "record.withdraw.suggestedSupport"))  }}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      isPageHeading: false,
      text: "Could the Department for Education have done anything to avoid the candidate withdrawing?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      text: "Yes",
      conditional: {
        html: extraSupportTextArea
      }
    },
    {
      text: "No"
    }
  ]
} | decorateAttributes(record, "record.withdraw.suggestedSupportBoolean"))  }}

{{ govukButton({
  text: "Continue"
}) }}
