
{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukCharacterCount({
  maxlength: 500,
  threshold: 75,
  label: {
    text: "Details about why the trainee withdrew (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  }
} | decorateAttributes(record, "record.withdraw.additionalDetail"))  }}

{{ govukCharacterCount({
  maxlength: 500,
  threshold: 75,
  label: {
    text: "What the Department for Education could have done to prevent the trainee withdrawing (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  }
} | decorateAttributes(record, "record.withdraw.additionalDfE"))  }}

{{ govukButton({
  text: "Continue"
}) }}
