
{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

<div class="govuk-inset-text">
  Do not withdraw duplicate records. If you need to remove a duplicate record, contact us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.
</div>

{% set customWithdrawalReason %}
  {{ govukInput({
    label: {
        text: "Enter the reason for withdrawal",
        classes: "govuk-label govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  } | decorateAttributes(record, "record.withdraw.reasonOther")) }}
{% endset %}

{% set withdrawalReasonsItems = []  %}

{% for reason in data.withdrawalReasons %}
  {% set withdrawalReasonsItems = withdrawalReasonsItems | push ({
    text: reason
  }) %}
{% endfor %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({
  divider: "or"
}) %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({
  text: "For another reason",
  checked: storeWithdrawalReasonOther,
  conditional: {
    html: customWithdrawalReason
  }
}) %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({
  text: "Unknown"
}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Reason for leaving",
      classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-4"
    }
  },
  items: withdrawalReasonsItems
} | decorateAttributes(record, "record.withdraw.reason")) }}

{{ govukButton({
  text: "Continue"
}) }}
