{% extends "_templates/_page.html" %}

{% set pageHeading %}
  Organisation – {{ provider.name }}
{% endset %}

{# {% set navActive = "provider" %} #}

{% set backText = "Back" %}
{# {% set backLink = '/home' %} #}

{% block content %}
{{super()}}

{% set isAccreditingProvider = provider | providerIsAccrediting %}
{% set isLeadSchool = provider | providerIsLeadSchool %}

{% macro userTable(params) %}

  {% set tableHead = [
    {
      text: "Name"
    },
    {
      text: "Email"
    },
    {
      text: "Access"
    },
    {
      text: "Change"
    }
  ] %}

  {% set tableRows = [] %}

  {% for user in params.users %}

    {% set userLinkHtml %}
      <a href="/support/users/{{ user.id }}" class="govuk-link">{{user.fullName}}</a>
    {% endset %}

    {% set changeLinkHtml %}
      <a href="{{providerUrl}}/users/{{user.id}}/edit" class="govuk-link">Change<span class="govuk-visually-hidden"> {{user.fullName}}’s access</span></a>
    {% endset %}

    {% set tableRows = tableRows | push([
      {
        html: userLinkHtml
      },
      {
        text: user.email
      }, {
        text: "Standard"
      },
      {
        html: changeLinkHtml
      }
    ])
    %}

  {% endfor %}

  {{ govukTable({
    _caption: params.caption,
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: tableHead,
    rows: tableRows
  }) }}

{% endmacro %}


{% set showMetadata = true %}

  {% include "_includes/support/impersonate-provider-cta.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">{{ provider | getProviderTypeString(true) }}</span>
      <h1 class="govuk-heading-xl">{{provider.name}}</h1>

      {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify  %}

      <h2 class="govuk-heading-m">General</h2>

      {% include "_includes/summary-cards/support/provider.html" %}

      <h2 class="govuk-heading-m">Courses</h2>

      {% set providerCourses = data.courses[provider.name].courses %}

      {{providerCourses[0] | log}}

      {% set publishLinkHtml -%}
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">View this organisation in Publish (opens in a new tab)</a>
      {% endset %}

      {% set publishCoursesText %}
        {% if providerCourses %}
          {{providerCourses | length }} courses imported
        {% else %}
          No publish courses imported
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish teacher training courses"
            },
            value: {
              html: publishLinkHtml
            },
            actions: {
              items: [
                {
                  href: providerUrl + "/courses",
                  text: "View courses",
                  _visuallyHiddenText: "courses"
                }
              ]
            } if false
          },
          {
            key: {
              text: "Publish courses"
            },
            value: {
              text: publishCoursesText
            },
            actions: {
              items: [
                {
                  href: providerUrl + "/courses",
                  text: "View courses",
                  _visuallyHiddenText: "courses"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Trainees</h2>

      {% set providerTrainees = data.records | filterByAccreditingProvider(provider.name) %}

      {% set draftTrainees = providerTrainees | filterByStatus('Draft') %}

      {% set registeredTrainees = providerTrainees | filterByStatus('Draft', true) %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Draft trainees"
            },
            value: {
              html: (draftTrainees | length) + " draft trainees"
            },
            actions: {
              items: [
                {
                  href: '#',
                  text: "View",
                  visuallyHiddenText: "draft trainees"
                }
              ]
            }
          },
          {
            key: {
              text: "Registered trainees"
            },
            value: {
              html: (registeredTrainees | length) + " registered trainees"
            },
            actions: {
              items: [
                {
                  href: '#',
                  text: "View",
                  visuallyHiddenText: "registered trainees"
                }
              ]
            }
          }
        ]
      }) }}

      {% set providerUsers = data.users.byProvider[provider.name] | sort(attribute = "fullName") %}
      <h2 class="govuk-heading-m">Users ({{providerUsers | length}})</h2>
      

      {{userTable({users: providerUsers})}}

      {{ govukButton({
        "text": "Add a user to this organisaion",
        href: currentPageUrl + '/users/add',
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body govuk-!-margin-top-8"><a href="./archive-organisation/confirm" class="govuk-link app-destructive-link">Archive this organisation</a></p>

    </div>
  </div>

{% endblock %}

