{% extends "_templates/_page.html" %}

{% set pageHeading %}
  Organisation – {{ provider.name }}
{% endset %}

{# {% set navActive = "provider" %} #}

{% set backText = "Back" %}
{# {% set backLink = '/home' %} #}

{% block content %}

{% set isAccreditingProvider = provider | providerIsAccrediting %}
{% set isLeadSchool = provider | providerIsLeadSchool %}


{% set showMetadata = true %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-xl">{{ provider | getProviderTypeString(true) }}</span>
      <h1 class="govuk-heading-xl">{{provider.name}}</h1>

      {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify  %}

      <h2 class="govuk-heading-m">General</h2>

      {% include "_includes/summary-cards/support/provider.html" %}


      <h2 class="govuk-heading-m">Users</h2>

      {{ govukButton({
        "text": "Add a user to this organisaion",
        classes: "govuk-button--secondary"
      }) }}

      {% set providerUsers = data.users.byProvider[provider.name] | sort(attribute = "fullName") %}
      {% set hasMultipleUsers = providerUsers | length > 1 %}

      {% if hasMultipleUsers %}
        <ol class="govuk-list">
      {% endif %}

        {% for user in providerUsers %}
          {% if hasMultipleUsers %}
            <li class="">
          {% endif %}

          {% include "_includes/support/user-card.njk" %}

          {% if hasMultipleUsers %}
            </li>
          {% endif %}

        {% endfor %}

      {% if hasMultipleUsers %}
        </ol>
      {% endif %}

      <p class="govuk-body govuk-!-margin-top-8"><a href="./archive-organisation/confirm" class="govuk-link app-destructive-link">Archive this organisation</a></p>

    </div>
  </div>

{% endblock %}

