
{% extends "_templates/_record-form.html" %}

{% set pageHeading = 'You cannot delete this record' %}
{% set pageHeadingTraineeName = data.record.personalDetails | getShortName %}

{% set formAction = "./cannot-delete-answer" | addReferrer(referrer) %}

{% block formContent %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ pageHeadingTraineeName }}</span>
    {{ pageHeading }}
  </h1>

  <p class="govuk-body">
    You can only delete a trainee record before the trainee starts their ITT,<br>
    but you can defer or withdraw the trainee.
  </p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you want defer or withdraw this trainee?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "defer",
        text: "Defer"
      },
      {
        value: "withdraw",
        text: "Withdraw"
      },
      {
        divider: "or"
      },
      {
        value: "cancel",
        text: "Return to trainee record"
      }
    ]
  } | decorateAttributes(record, "record.deferOrWithdrawTemp")) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
