{% extends "_templates/_record-form.html" %}

{% if data.record | requiresField(['leadSchool', 'employingSchool']) %}
  {% set pageHeading = "Confirm training details" %}
{% else %}
  {% set pageHeading = "Confirm trainee ID" %}
{% endif %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/training-details/training-details.html" %}

  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}
