
{% extends "_templates/_record-form.html" %}

{% set qualification = data.record | getQualificationText %}

{% set pageHeading %}
  The trainee’s {{ qualification }} award has not been removed in DQT
{% endset %}

{% set returnLink = {
 text: 'Cancel and return to record',
 href: "/record/" + data.record.id + "/admin"
} %}

{% set formAction = './details' | addReferrer(referrer) %}

{% block formContent %}



  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>

  <p class="govuk-body">
    This trainee’s DQT record still shows that they’ve been awarded {{ qualification }}.
  </p>

  <p class="govuk-body">
    You cannot remove their {{ qualification }} award on Register until their DQT record has been updated.
  </p>

  <p class="govuk-body">
    After you’ve asked DQT to remove the {{ qualification }} award, you can check again to see whether the record has been updated.
  </p>

  {{ govukButton({
    text: "Check again"
  }) }}


{% endblock %}
