{% extends "_templates/_record-form.html" %}

{% set qualification = data.record | getQualificationText %}

{% set pageHeading %}
  Confirm removal of {{ qualification }} award
{% endset %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {# Needed as this is an awarded trainee #}
  {% set canAmend = true %}

  {% include "_includes/summary-cards/record-admin/revert-teaching-status.html" %}

  {# {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[contactDetails][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.contactDetails.status, "Completed")
    }
  ]
  }) }} #}

  {{ govukButton({
    text: "Remove " + qualification + " award",
    classes: "govuk-button--warning"
  }) }}

{% endblock %}
