<div class="app-status-box app-status-box--admin {{params.classes}}">
  <p class="govuk-body">
    <strong class="govuk-tag govuk-tag--purple">Admin</strong>{% if params.title %}
      <span class="govuk-!-margin-left-2">{{params.title}}</span>
    {% endif %}
  </p>
  <div class="govuk-form-group">
    {{ params.html | safe}}
  </div>
</div>
