{% extends "_templates/_new-record.html" %}

{% if data.record | requiresField(['leadSchool', 'employingSchool', 'region']) %}
  {% set pageHeading = "Confirm training details" %}
{% else %}
  {% set pageHeading = "Confirm trainee start date and ID" %}
{% endif %}

{% set backLink = './../overview' %}
{% set backText = "Back to draft record" %}
{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./../overview" | orReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/training-details/training-details.html" %}

  {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[trainingDetails][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.trainingDetails.status, "Completed")
    }
  ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
