{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm international training details" %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/iqts.html" %}

{#   {% set checkboxText %}
    {% if record | sourceIsManual %}
      I have completed this section
    {% else %}
      I have reviewed this section
    {% endif %}
  {% endset %}

  {% if record | sourceIsManual or not data.settings.groupApplySections %}
    {{ govukCheckboxes({
      idPrefix: "contact-details",
      name: "record[iQts][status]",
      items: [
        {
          value: "Completed",
          text: checkboxText,
          checked: checked(record.iqts.status, "Completed")
        }
      ]
      }) }}
  {% endif %} #}

  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}
