.app-nowrap {
  white-space: nowrap;
}

p.govuk-body + ul.govuk-list--bullet,
p + ul.govuk-list--bullet {
  margin-top: govuk-spacing(-3);
}

html {
  scroll-behavior: smooth;
}

.app-table__in-accordion tr:last-child td {
  border-bottom: none;
}
