{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Placement details" %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}
{% set minPlacementsRequired = data.settings.minPlacementsRequired %}
{% set canAmend = record.status | canBeAmended %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {% set placementCount = record.placement.items | length %}


  {# Details about how many placements are needed #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if placementCount < minPlacementsRequired %}
        {% set insetTextHtml %}
          <p class="govuk-body">
            You need to add the details of at least {{ minPlacementsRequired }} {{ ( record | schoolOrSettingText ) | pluralise(data.settings.minPlacementsRequired) }} before you can recommend this trainee for {{ record | getQualificationText }}. These can be added at any time.
          </p>
        {% endset %}

        {{ govukInsetText({
          html: insetTextHtml
        }) }}
      {% endif %}

      <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice#c23-training-in-schools" class="govuk-link">Read DfE guidance about training placements in schools and <span class="app-nowrap">early years settings</span></a>.
      </p>
    </div>
  </div>

  {% include "_includes/summary-cards/placements/placement-details.html" %}

  {% if canAmend %}
    <div class="govuk-form-group">
      {{ govukButton({
        "text": "Add another placement" if placementCount > 0 else "Add a placement",
        href: recordPath + '/placements/add' | addReferrer(referrer),
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
      }) }}
    </div>
  {% endif %}

  {# Hide the checkbox until enough placements have been added #}
  {% if placementCount >= minPlacementsRequired and canAmend %}
    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: "Have all placements been added?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      idPrefix: "placement-section-complete",
      name: "record[placement][status]",
      items: [
        {
          value: "Complete",
          text: "Yes, all placements have been added",
          checked: checked(record.placement.status, "Complete")
        }
      ]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
