{% extends "_templates/_new-record.njk" %}

{% set pageHeading = "Employing school" %}

{# {% set formAction = "./confirm" | addReferrer(referrer) %} #}

{% block formContent %}
  {% include "_includes/forms/schools/employing-school.njk" %}
{% endblock %}
