{% extends "_templates/_page.html" %}

{% set allSchools = schools %}
{% set filteredSchools = allSchools | lodash('slice', 0, 100) | sort(attribute="schoolName") %}

{% set pageHeadingShort = "Schools" %}

{% set pageHeading %}
  {{ pageHeadingShort }} ({{schools | length}} {{ "schools" | pluralise(filteredSchools | length) }})
{% endset %}



{% set backText = "Support home" %}
{% set backLink = '/support' %}

{# Dual skip links to support skipping to results rather than #main-content #}
{% block skipLink %}
  <div class="app-skip-link__container">
    <span class="app-skip-link__item">
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    </span>
    <span class="app-skip-link__item">
      {{ govukSkipLink({
        href: '#records-list',
        text: 'Skip to results' if selectedFilters else 'Skip to records'
      }) }}
    </span>
  </div>
{% endblock %}

{% block content %}

{# super pulls in flash message banner #}
{{super()}}

{{data | log}}

{% set filterOptionsHtml %}

  {# {% include "_includes/filter-panel/all-schools.njk" %} #}

  {# {% include "_includes/filter-panel/training-status.njk" %} #}

  {% include "_includes/filter-panel/support/school-type.njk" %}

  {# {% include "_includes/filter-panel/training-routes.njk" %} #}

  {# {% include "_includes/filter-panel/statuses.njk" %} #}



{% endset %}

{% set filterContentHtml %}
  {% if filteredSchools | length %}
    <div>
      {% set label = "Search for a school by its unique reference number (URN), name or postcode" %}

      {# Todo - this could probably be the default that the autocomplete progressively enhances #}
      <label class="govuk-label govuk-label--s" for="schoolSearch">
        Search for a school
      </label>
      <div class="app-no-js-only">
        {{ govukInput({
          id: "schoolSearch",
          name: "_schoolSearch",
          label: {
            text: label
          },
          value: query._schoolSearch,
          classes: 'app-!-max-width-two-thirds'
        }) }}
      </div>
      <div class="app-js-only">
        {{ appSchoolAutocomplete({
          name: "_autocomplete_result_uuid",
          label: {
            text: label
          },
          onConfirmExtra: true
        }) }}
      </div>

      <script>
        let onConfirmExtra = selected => {
          if (selected.uuid){
            window.location.href = `./schools/${selected.uuid}`
          }
        }
      </script>

      <button class="govuk-button app-no-js-only" data-module="govuk-button">
        Submit
      </button>
    </div>
    <div class="app-records-actions">
      <div class="app-records-actions__col">

        {# <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Export these users</a></p> #}

        {# Only sort if there’s at least two items #}
        {% if filteredSchools | length > 1 %}
          {% include "_includes/record-sort-order.njk" %}
        {% endif %}
      </div>
      <div class="app-records-actions__col">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter">
          </div>
        </div>
      </div>
    </div>

    <div class="app-application-cards">

      {% if filteredSchools | length %}

      {# {{data.users | log}} #}
        {{filteredSchools | log}}
        {% for school in filteredSchools %}
          {# {{school | log}} #}
          {% include "_includes/support/school-card.njk" %}
        {% endfor %}

      {% endif %}
    </div>

    {# Dummy pagination - not hooked up to data yet #}
    {% set count = schools | length %}
    {% include "_includes/pagination.njk" %}

  {% else %}
    <h2 class="govuk-heading-m">No schools found</h2>
    <p class="govuk-body">Try <a href="/support/schools">clearing your search and filters</a>.</p>
  {% endif %}

{% endset %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Support for Register</span>
    {# This heading set separately than {{pageHeading}} as it uses html #}
    <h1 class="govuk-heading-xl">
      {{ pageHeadingShort }} 
      <span class="govuk-!-font-weight-regular">
        ({{ filteredSchools | length}}{% if (filteredSchools | length) != (allSchools | length) %} of {{ allSchools | length }}{% endif %}<span class="govuk-visually-hidden">{{ "user" | pluralise(filteredSchools | length )}}</span>)
      </span>
    </h1>

{#     {{ govukButton({
      text: "Add an organisation",
      href: "/support/organisations/new",
      isStartButton: true
    }) }} #}

  </div>

  {% if data.settings.showBulkLinks %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Submit a group of draft records
              </a>
            </li>
            <li>
              <a href="#">
                Recommend a group of trainees for EYTS or QTS
              </a>
            </li>
          </ul>
        </nav>
        <div class="js-bulk-menu govuk-!-margin-bottom-3">
          {{bulkButton | safe}}
        </div>
      </aside>
    </div>
  {% endif %}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {{ appFilterPage({
      filterOptions: filterOptionsHtml,
      selectedFilters: selectedFilters,
      filterContent: filterContentHtml
      })
    }}
  </div>

</div>

{% endblock %}

{% block pageScripts %}
  <script>
    new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.moj-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary'
    },
    closeButton: {
      container: $('.moj-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.moj-filter')
    }
  });
  </script>
{% endblock %}
