{% extends "_templates/_page.njk" %}

{% set pageHeading %}
  School – {{ school.schoolName }}
{% endset %}

{# {% set navActive = "school" %} #}

{% set backText = "Back" %}
{# {% set backLink = '/home' %} #}

{% block content %}
{{super()}}

{% set isRandomLeadPartner = (school.urn % 6) == 0 %} {# 1/6 chance of being lead partner #}

{% set isLeadPartner = school | schoolIsLeadPartner or isRandomLeadPartner %}


{% set showMetadata = true %}

{% if isLeadPartner %}
  {% include "_includes/support/impersonate-provider-cta.njk" %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

{#       <span class="govuk-caption-xl">{{ school | getSchoolTypeString(true) }}</span> #}
      <span class="govuk-caption-l">{{"Lead partner" if isLeadPartner else "School"}}</span>
      <h1 class="govuk-heading-xl">

        {{school.schoolName}}

        {% if isLeadPartner %}
          <span style="display: inline-block;">
            {{govukTag({
              text: 'Lead partner',
              classes: 'Lead partner' | getStatusClass
            })}}
          </span>
        {% endif %}

      </h1>


      <h2 class="govuk-heading-m">General</h2>

      {% include "_includes/summary-cards/support/school.njk" %}

      {% if isLeadPartner %}
      <h2 class="govuk-heading-m">Courses</h2>

      {% set publishLinkHtml -%}
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">View this organisation in Publish (opens in a new tab)</a>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish teacher training courses"
            },
            value: {
              html: publishLinkHtml
            },
            actions: {
              items: [
                {
                  href: providerUrl + "/courses",
                  text: "View courses",
                  _visuallyHiddenText: "courses"
                }
              ]
            } if false
          },
          {
            key: {
              text: "Publish courses"
            },
            value: {
              text: "7 courses imported"
            },
            actions: {
              items: [
                {
                  href: providerUrl + "/courses",
                  text: "View courses",
                  _visuallyHiddenText: "courses"
                }
              ]
            }
          }
        ]
      }) }}
      {% endif %}

      <p class="govuk-body govuk-!-margin-top-8"><a href="./archive-organisation/confirm" class="govuk-link app-destructive-link">Archive this school</a></p>

    </div>
  </div>

{% endblock %}
