{% extends "_templates/_form.njk" %}

{% set navActive = 'bulk' %}
{% set pageHeading = "When did they meet the standards?" %}
{% set formAction = "./date-answer" %}

{% block formContent %}

  {% include "_includes/forms/bulk/date.njk" %}

{% endblock %}
