{% extends "_templates/_new-record.njk" %}

{% set pageHeading = "GCSE details" %}

{# {% set formAction = "./contact-details/confirm" %} #}
{% set formAction = "./gcse/confirm" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/gcse-details.njk" %}
{% endblock %}
