{% extends "_templates/_guidance-page.html" %}

{% set pageHeading = 'Bulk recommend trainees' %}

{% block guidanceContent %}

# Bulk recommend trainees for qualified teacher status or early years teacher status

You can [recommend multiple trainees at the same time](/bulk-update/recommend/upload) for qualified teacher status (QTS) or early years teacher status (EYTS).

You cannot use this process to make other changes to trainee records.

## How to bulk recommend trainees

1. Download a CSV file listing trainees you can recommend.
2. Fill in the date when each trainee met QTS or EYTS standards.
3. Upload the CSV file.
4. If there are any errors, fix them and upload the file again.
5. Check the list of trainees you are going to recommend then submit your recommendations.

### Download a CSV file

The CSV file includes all trainees with a course end date between 26 July 2022 and 26 July 2023 (from 6 months ago until 6 months from now). You can recommend other trainees individually.

If you expect to see trainees who are not listed in the file, check their course end date.

The file does not include deferred or withdrawn trainees.

### Fill in the date when each trainee met QTS or EYTS standards

If a trainee has not met the standards, either delete the row or leave the date blank in the CSV file.

Do not make any other changes to the CSV file.

### Fix errors

You’ll get an error message when you upload the CSV file if you:

- entered a date which cannot be accepted, such as a date in the future
- edited any data in the CSV - you cannot change trainee or course details using this process

You can choose to either:

- fix the errors
- ignore the errors and continue - you’ll only be able to recommend trainees whose data does not have errors

### Submit your recommendations

After you submit your recommendations, WHAT

## Making other changes to other trainee records

You cannot use the bulk recommendation process to:

- change details of a trainee or their course
- mark a trainee as withdrawn or deferred

### Changing details of a trainee or their course

You cannot use the bulk recommendation process to fix mistakes. Instead you should do this either:

- in this service, changing details of one trainee at a time
- in the Higher Education Statistics Agency (HESA) service if you use it - you can make the change in this service instead if you prefer

The only changes you should make to the CSV file in the bulk recommendation process are:

- adding the dates when trainees met the standards for QTS or EYTS
- deleting rows for trainees who have not met the standards - you can also leave the date blank

You’ll get an error message when you upload the CSV file if you edit any other data in it.

### Deferring trainees

If a trainee defers, you can mark this either:

- in this service, changing details of one trainee at a time
- in the Higher Education Statistics Agency (HESA) service if you use it - you can use this service instead if you prefer

### Withdraw trainees

If a trainee withdraws from initial teacher training, you should mark this in this service.


{% endblock %}