{% extends "_templates/_guidance-page.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}


{% set pageHeading = 'Check how data from HESA imports into Register trainee teachers' %}
{% set gridColumn = "govuk-grid-column-full" %}
{# 
  To generate tables:

  1. Start with finished table in Google sheets
  2. Copy cells for table
  3. Paste in to https://tabletomarkdown.com/convert-spreadsheet-to-markdown/
  4. Convert to markdown and copy markdown below
 #}

{% set tableHeadItems =  [
  {
    text: "CSV column name from Register export"
  },
  {
    text: "Field name in Register service"
  },
  {
    text: "HESA code"
  },
  {
    text: "More information"
  }
] %}

{% set traineeProgressContent %}

{# {{ govukTable({
  head: tableHeadItems,
  rows: []
}) }} #}

| CSV column name from Register export | Field name in Register service | HESA code                                                                                           | More information                                                                     |
| ------------------------------------ | ------------------------------ | --------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------ |
| hesa\_id                             | not displayed                  | [HUSID](https://www.hesa.ac.uk/collection/c22053/e/husid) (HESA unique student identifier)          |                                                                                      |
| provider\_trainee\_id                | Trainee ID                     | [OWNSTU](https://www.hesa.ac.uk/collection/c22053/e/ownstu) (provider’s own identifier for student) |                                                                                      |
| trn                                  | TRN                            | [TRN](https://www.hesa.ac.uk/collection/c22053/e/trn) (teacher reference number)                    |                                                                                      |
| status<br>submitted\_for\_trn\_at    | Trainee status                 | [RSNEND](https://www.hesa.ac.uk/collection/c22053/e/rsnend) (reason for ending instance)            | If codes 03, 05 or 11 are used we mark the trainee status as ‘withdrawn’ in Register |
| hesa\_updated\_at                    | not displayed                  | STATUS\_TIMESTAMP                                                                                   | This shows when the record was last updated in HESA or the TRA portal                |

{% endset %}

{% set personalDetailsContent %}


| CSV column name from Register export                                                                  | Field name in Register service                                                            | HESA code                                                                                                                                         | More information                                                                                                                                                                                                   |
| ----------------------------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
| first\_names                                                                                          | Full name                                                                                 | [](https://www.hesa.ac.uk/collection/c22053/e/fnames)[FNAMES](https://www.hesa.ac.uk/collection/c22053/e/fnames) (forenames)                      |                                                                                                                                                                                                                    |
| middle\_names                                                                                         | Full name                                                                                 | [](https://www.hesa.ac.uk/collection/c22053/e/fnames)[FNAMES](https://www.hesa.ac.uk/collection/c22053/e/fnames) (forenames)                      |                                                                                                                                                                                                                    |
| last\_names                                                                                           | Full name                                                                                 | [](https://www.hesa.ac.uk/collection/c22053/e/surname)[SURNAME](https://www.hesa.ac.uk/collection/c22053/e/surname) (family name)                 |                                                                                                                                                                                                                    |
| date\_of\_birth                                                                                       | Date of birth                                                                             | [](https://www.hesa.ac.uk/collection/c22053/e/birthdte)[BIRTHDTE](https://www.hesa.ac.uk/collection/c22053/e/birthdte) (date of birth)            |                                                                                                                                                                                                                    |
| gender                                                                                                | Gender                                                                                    | [](https://www.hesa.ac.uk/collection/c22053/e/sexid)[SEXID](https://www.hesa.ac.uk/collection/c22053/e/sexid) (sex identifier)                    | HESA code 96 ‘Information refused’ imports into Register as ‘Prefer not to say’<br><br>HESA code 99 ‘Not available’ imports into Register as ‘Gender not provided’                                                 |
| nationalities                                                                                         | Nationality                                                                               | [](https://www.hesa.ac.uk/collection/c22053/e/nation)[NATION](https://www.hesa.ac.uk/collection/c22053/e/nation) (nationality)                    |                                                                                                                                                                                                                    |
| email\_address                                                                                        | Email address                                                                             | [](https://www.hesa.ac.uk/collection/c22053/e/nqtemail)[NQTEMAIL](https://www.hesa.ac.uk/collection/c22053/e/nqtemail) (email addresses)          |                                                                                                                                                                                                                    |
| diversity\_disclosure<br>ehnic group<br>ethnic background<br>ethnic\_background\_additional           | Ethnicity                                                                                 | [](https://www.hesa.ac.uk/collection/c22053/e/ethnic)[ETHNIC](https://www.hesa.ac.uk/collection/c22053/e/ethnic) (ethnicity)                      |                                                                                                                                                                                                                    |
| diversity\_disclosure<br>disability\_disclosure<br>disabilities                                       | Disability                                                                                | [](https://www.hesa.ac.uk/collection/c22053/e/disable)[DISABLE](https://www.hesa.ac.uk/collection/c22053/e/disable) (disability)                  |                                                                                                                                                                                                                    |
| number\_of\_degrees degree\_1\_subject                                                                | Subject (within personal details)                                                         | [](https://www.hesa.ac.uk/collection/c22053/e/degsbj)[DEGSBJ](https://www.hesa.ac.uk/collection/c22053/e/degsbj) (previous degree subject)        | Register only supports 1 degree subject at the moment. If you add multiple subjects for a trainee’s degree, Register will take the first one.                                                                      |
| degree\_1\_uk\_or\_non\_uk degree\_1\_non\_uk\_type degree\_1\_type\_of\_degree (for UK degrees only) | Non-UK or if a UK degree, the interface will just show the type and subject of the degree | [](https://www.hesa.ac.uk/collection/c22053/e/degtype)[DEGTYPE](https://www.hesa.ac.uk/collection/c22053/e/degtype) (previous degree type)        | The CSV export from Register does not display degrees types with ‘Honours’. For example, in HESA a BEd is code 001 and a BEd (Hons) is code 002. Both these codes will show as ‘Bachelor of Education’ in the CSV. |
| degree\_1\_awarding\_institution                                                                      | Awarding institution                                                                      | [](https://www.hesa.ac.uk/collection/c22053/e/degest)[DEGEST](https://www.hesa.ac.uk/collection/c22053/e/degest) (previous degree establishment)  |                                                                                                                                                                                                                    |
| degree\_1\_country                                                                                    | Country                                                                                   | [](https://www.hesa.ac.uk/collection/c22053/e/degctry)[DEGCTRY](https://www.hesa.ac.uk/collection/c22053/e/degctry) (previous degree country)     |                                                                                                                                                                                                                    |
| degree\_1\_grade                                                                                      | Grade                                                                                     | [](https://www.hesa.ac.uk/collection/c22053/e/degclss)[DEGCLSS](https://www.hesa.ac.uk/collection/c22053/e/degclss) (previous degree class)       |                                                                                                                                                                                                                    |
| degree\_1\_graduation\_year                                                                           | Graduation year                                                                           | [](https://www.hesa.ac.uk/collection/c22053/e/degenddt)[DEGENDDT](https://www.hesa.ac.uk/collection/c22053/e/degenddt) (previous degree end date) | Register will show the year the trainee graduated from their degree. For example, 2010.                                                                                                                            |

{% endset %}

{% set courseDetailsContent %}

| CSV column name from Register export                                                                                                     | Field name in Register service                                   | HESA code                                                                                                                                                       | More information                                                                                                                                                                                                                                              |
| ---------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| course\_route                                                                                                                            | Training route                                                   | [](https://www.hesa.ac.uk/collection/c22053/e/entryrte)[ENTRYRTE](https://www.hesa.ac.uk/collection/c22053/e/entryrte) (entry route)                            |                                                                                                                                                                                                                                                               |
| course\_education\_phase<br>course\_allocation\_subject<br>course\_itt\_subject\_1<br>course\_itt\_subject\_2<br>course\_itt\_subject\_3 | Subject (within course details)                                  | [](https://www.hesa.ac.uk/collection/c22053/e/sbjca)[SBJCA](https://www.hesa.ac.uk/collection/c22053/e/sbjca) (subject of ITT course)                           |                                                                                                                                                                                                                                                               |
| course\_min\_age<br>course\_max\_age                                                                                                     | Age range                                                        | [](https://www.hesa.ac.uk/collection/c22053/e/ittphsc)[ITTPHSC](https://www.hesa.ac.uk/collection/c22053/e/ittphsc) (ITT phase or scope)                        | HESA codes 99803 and 99801 are not used in Register                                                                                                                                                                                                           |
| course\_study\_mode                                                                                                                      | Full time or part time                                           | [](https://www.hesa.ac.uk/collection/c22053/e/mode)[MODE](https://www.hesa.ac.uk/collection/c22053/e/mode) (mode)                                               | ‘Dormant’ trainees used in HESA codes 64 and 64 maen ‘Deferred’ in Register.                                                                                                                                                                                  |
| itt\_start\_date,<br>start\_academic\_year                                                                                               | ITT start date                                                   | [](https://www.hesa.ac.uk/collection/c22053/e/comdate)[COMDATE](https://www.hesa.ac.uk/collection/c22053/e/comdate) (start date of instance)                    | ‘ITT start date’ (COMDATE) will be used if there is no data for ‘Trainee start date’ (ITTCOMDATE)                                                                                                                                                             |
| itt\_end\_date                                                                                                                           | ITT end date                                                     | [](https://www.hesa.ac.uk/collection/c22053/e/expectedenddate)[EXPECTEDENDDATE](https://www.hesa.ac.uk/collection/c22053/e/expectedenddate) (expected end date) | The Department for Education requires this field, you must submit this data even though it’s optional in HESA. If you do not add it, we’ll use the trainee’s training route (ENTRYRTE) and if they are full or part time (MODE) to work out the ITT end date. |
| commencement\_date                                                                                                                       | Trainee start date                                               | [I](https://www.hesa.ac.uk/collection/c22053/e/ittcomdate)[TTCOMDATE](https://www.hesa.ac.uk/collection/c22053/e/ittcomdate) (start date of ITT course)         |                                                                                                                                                                                                                                                               |
| defer\_date<br>withdraw\_date                                                                                                            | Trainee status, Deferral date<br>Trainee status, Withdrawal date | [](https://www.hesa.ac.uk/collection/c22053/e/enddate)[ENDDATE](https://www.hesa.ac.uk/collection/c22053/e/enddate) (end date of instance)                      | If a trainee withdraws of defers, ENDDATE will be used for ‘itt\_end\_date’ in Register (EXPECTEDENDDATE in HESA)                                                                                                                                             |

{% endset %}

{% set schoolsContent %}
| CSV column name from Register export | Field name in Register service | HESA code                                                                                                                                               | More information                                                                                                            |
| ------------------------------------ | ------------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------- |
| employing\_school\_urn               | Employing school               | [](https://www.hesa.ac.uk/collection/c22053/e/sdemploy)[SDEMPLOY](https://www.hesa.ac.uk/collection/c22053/e/sdemploy) (school direct employing school) | Register check the URN entered for the school to make sure it’s valid. If it’s not, this data will not import into Register |
| lead\_school\_urn                    | Lead school                    | [](https://www.hesa.ac.uk/collection/c22053/e/sdlead)[SDLEAD](https://www.hesa.ac.uk/collection/c22053/e/sdlead) (school direct lead school)            | Register check the URN entered for the school to make sure it’s valid. If it’s not, this data will not import into Register |
{% endset %}

{% set fundingContent %}
| CSV column name from Register export | Field name in Register service | HESA code                                                                                                                                     | More information                                                                                                                                                                 |
| ------------------------------------ | ------------------------------ | --------------------------------------------------------------------------------------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| funding\_method                      | Funding method                 | [](https://www.hesa.ac.uk/collection/c22053/e/burslev)[BURSLEV](https://www.hesa.ac.uk/collection/c22053/e/burslev) (bursary level award)     |                                                                                                                                                                                  |
| training\_initiative                 | Training initiative            | [](https://www.hesa.ac.uk/collection/c22053/e/initiatives)[INITIATIVES](https://www.hesa.ac.uk/collection/c22053/e/initiatives) (initiatives) | The following codes are not mapped to Register:<br>001 Abridged ITT course<br>011 Primary with mathematics specialist<br>019 Additional ITT place for PE with a priority subject |
{% endset %}

{% set otherContent %}

You will not see these data items in the Register service or the CSV export.

| HESA code                                                                                                                                                                   | More information                                                                                                                                                     |
| --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| [](https://www.hesa.ac.uk/collection/c22053/e/ctitle)[CTITLE](https://www.hesa.ac.uk/collection/c22053/e/ctitle) (course title)                                             |                                                                                                                                                                      |
| [](https://www.hesa.ac.uk/collection/c22053/e/fundcode)[FUNDCODE](https://www.hesa.ac.uk/collection/c22053/e/fundcode) (fundability code)                                   |                                                                                                                                                                      |
| [](https://www.hesa.ac.uk/collection/c22053/e/ittaim)[ITTAIM](https://www.hesa.ac.uk/collection/c22053/e/ittaim) (ITT qualification aim)                                    |                                                                                                                                                                      |
| [](https://www.hesa.ac.uk/collection/c22053/e/pgappstdt)[PGAPPSTDT](https://www.hesa.ac.uk/collection/c22053/e/pgappstdt) (postgraduate teaching apprenticeship start date) |                                                                                                                                                                      |
| [](https://www.hesa.ac.uk/collection/c22053/e/plmntsch)[PLMNTSCH](https://www.hesa.ac.uk/collection/c22053/e/plmntsch) (placement school)                                   | At the moment, Register only imports the first placement submitted through HESA. Any other placements added after the first one, will not be imported into Register. |
| [](https://www.hesa.ac.uk/collection/c22053/e/qlaim)[QLAIM](https://www.hesa.ac.uk/collection/c22053/e/qlaim) (qualification aim)                                           |
{% endset %}

{% set allTableContent = {
  "trainee-progress": 
  {
    name: "Trainee progress",
    content: traineeProgressContent
  },
  "personal-details": {
    name: "Personal details",
    content: personalDetailsContent
  },
  "course-details": {
    name: "Course details",
    content: courseDetailsContent
  },
  "schools": {
    name: "Schools",
    content: schoolsContent
  },
  "funding": {
    name: "Funding",
    content: fundingContent
  },
  "other": {
    name: "Other",
    content: otherContent
  }
} %}


{% block guidanceContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    # {{ pageHeading }}

    Use the tables to understand how trainee data from HESA imports into Register and where it goes. 

    Where possible, these tables follow the same order as the CSV export and a trainee’s record in Register.
    
  </div>
</div>

{# Everything from here #}

{% if data.settings.hesaGuidanceStyle == 'tabs' %}

  {% set tabItems = [] %}

  {% for key, tab in allTableContent %}

     {% set tabItems = tabItems | push({
      text: tab.name,
      href: "./" + key,
      active: (activeTab == key),
      panel: {
        html: tab.content
      }
    }) %}
  {% endfor %}

  {{ appSubNavigation({
    label: 'Sub navigation',
    classes: 'govuk-!-margin-bottom-4',
    items: tabItems
  }) }}

  {{ allTableContent[activeTab].content  | safe}}

{% elseif data.settings.hesaGuidanceStyle == 'accordion' %}

  {% set accordionItems = [] %}

  {% for key, item in allTableContent %}
    {% set accordionItems = accordionItems | push({
      heading: {
        text: item.name
      },
      content: {
        html: item.content
      }
    }) %}
    
  {% endfor %}

  {{ govukAccordion({
    id: "accordion-default",
    items: accordionItems
  }) }}
{% else %}

  {% for key, tabData in allTableContent %}
    <h2 class="govuk-heading-m">{{tabData.name}}</h2>
    {{ tabData.content | safe }}
  {% endfor %}

{% endif %}

{% endblock %}
