{% extends "_templates/_guidance-page.njk" %}

{% set pageHeading = "Check what data you need to provide to register trainees manually" %}

{% set guidanceContent %}

This information is mainly for school centred initial teacher training providers (SCITTs) that use this service to manually register their trainees.

You’ll need the following information about a trainee to register them manually in Register.

### Personal details

- First names
- Middle names
- Last or family name
- Date of birth
- Sex
- Nationality

---

### Contact details

- Address
- Email address

---

### Diversity information (optional)

If the trainee chose not to share this information during the application process, do not ask for it for the purpose of registering them.

- Ethnicity
- Disability

---

### Degrees

### If it’s a UK degree

- Type (for example, BA or BSc)
- Awarding institution
- Subject
- Grade
- Graduation year

#### If it’s not a UK degree

- Country where the degree was obtained
- Subject
- UK ENIC comparable degree (if provided)
- Graduation year

---

### Course details

#### If it’s a course on Publish teacher training courses

- Which Publish course
- Subject specialisms
- Full or part time
- ITT start date
- Expected end date

#### If it's not a course on Publish teacher training courses

- Primary or secondary
- Subjects
- Age range
- Full or part time (not for assessment only)
- ITT start date
- Expected end date

#### If it's a course leading to Early Years Teacher Status (EYTS)

- Full or part time
- ITT start date
- Expected end date

---

### Trainee start date

- Trainee start date

---

### Lead partners and employing schools

These are only required for School direct and Teaching apprenticeship routes.

---

### Funding details

- Whether the trainee is on a training initiative

### For courses with bursaries, scholarships or grants available

- Whether you’re applying for a bursary for the trainee
- Whether you’re applying for a grant for the trainee
- Whether the trainee is applying for a scholarship

---

### Placement details

You should keep a record of the location of the trainee’s placements.

You cannot currently provide this data but you’ll be asked to provide it later in the 2023 to 2024 academic year.

{% endset %}
