{% extends "_templates/_guidance-page.njk" %}
{% set previousAcademicYear = data.years.previousAcademicYear %}

{% set pageHeading = "Dates and deadlines for training providers for " + data.years.academicYears[0] + " academic year" %}

{% set guidanceContent %}

<p class="govuk-body">
  All providers can add and update trainee data at any time.
</p>

<p class="govuk-body">
  Guidance for the sign-off processes for each stage can be found below:
</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://www.register-trainee-teachers.service.gov.uk/guidance/census-sign-off">Census sign off process</a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.register-trainee-teachers.service.gov.uk/guidance/performance-profiles">Performance profile sign off process</a>
  </li>
</ul>


| Date | Event name | What happens |
| --- | --- | --- |
| 8&nbsp;October&nbsp;2025 | Census date | This is the second Wednesday of October every academic year. If a new trainee starts their course after this date, they will not be included in the ITT census publication. |
| 31&nbsp;October&nbsp;2025 | ITT census deadline | You need to submit and sign off ITT trainee data before this date. This data will be used for the ITT census publication.  |
| 27&nbsp;January&nbsp;2026 | ITT performance profiles deadline | You need to check and sign off all the details for your trainees who had outcomes in the previous academic year ({{ previousAcademicYear }}). This data will be used for the ITT performance profiles publication. |

{% endset %}
