
{% extends "_templates/_page.html" %}
{% set backLink = '/home' %}
{% set backText = "Home" %}
{# {% set navActive = "reports" %} #}

{% set pageHeading = 'How to use this service' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="/guidance/about-register-trainee-teachers">About Register trainee teachers</a>
      </li>
      <li>
        <a class="govuk-link" href="/guidance/dates-and-deadlines">Dates and deadlines for the {{ data.years.currentAcademicYear }} academic year</a>
      </li>
      <li>
        <a class="govuk-link" href="/guidance/manually-registering-trainees">Registering trainees manually in this service</a>
      </li>
      <li>
        <a class="govuk-link" href="/guidance/check-data">Check what data you need to provide to register trainees manually</a>
      </li>
      <li>
      <li>
        <a class="govuk-link" href="/guidance/registering-trainees-through-hesa">Registering trainees through HESA</a>
      </li>
      <!-- commenting out until this section exists
      <li>
        <a class="govuk-link" href="/#">Check how data maps from HESA into Register</a>
      </li>
      -->
    </ul>

  </div>
</div>
{% endblock %}
