{% extends "_templates/_guidance-page.html" %}

{% set pageHeading = 'Record that a trainee has withdrawn, deferred or met teaching standards' %}

{% block guidanceContent %}

# Record that a trainee has withdrawn, deferred or met teaching standards

You must use Register to:

- record that a trainee has withdrawn from teacher training
- recommend a trainee for qualified teacher status (QTS) or early years teacher status (EYTS)

If you have access to the Higher Education Statistics Agency (HESA) service, you can choose to use it to record that a trainee has deferred or returned to training (‘been reinstated’). Otherwise you must use Register.

## Recommend a trainee for QTS or EYTS

After you recommend a trainee in Register, the information will be sent to the Teaching Regulation Agency. They’ll award the trainee with QTS or EYTS within 3 working days.

You should recommend a trainee for QTS or EYTS as soon as they meet the teaching standards. They’ll need their teaching status award to apply for jobs at state schools.

You do not need to record in Register when a trainee completed an undergraduate course. You just need to record when they met the standards for QTS or EYTS.

You can recommend an individual trainee from within their trainee record. You can also [bulk recommend trainees](/bulk-update/recommend/upload).

## Record that a trainee has withdrawn from teacher training

You need to record that a trainee has withdrawn if they’re no longer training for QTS or EYTS. Do this even if the trainee continues to study for an academic qualification.

You can withdraw an individual trainee from within their trainee record. You cannot withdraw multiple trainees at the same time.

## Record that a trainee has deferred or been reinstated

You can record that a trainee has deferred or been reinstated from within their trainee record. You cannot do this for multiple trainees at the same time.

{% endblock %}
