{% extends "layout.html" %}

{% if not backLink %}
{% set backLink      = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
{% set backText      = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
{% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
{% set backText = '' %}
{% endif %}


{% block pageTitle %}
{{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{# {% set breadcrumbs  = {
items: [
{
text: "How to use this service",
href: "/guidance"
}
]
} %}
#}
{% set backLink = '/guidance' %}
{% set backText = "How to use this service" %}

{% block pageNavigation %}
{% if breadcrumbs %}
{{ govukBreadcrumbs(breadcrumbs)}}
{% elseif backLink %}
{{ govukBackLink({
text: backText,
href: backLink
}) }}
{% endif %}
{% endblock %}

{% set gridColumn = "govuk-grid-column-full" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<!-- This is a hack to add a matching secondary nav element from QA into this design -->
<style>
  .app-tab-navigation {
    margin-bottom: 40px
  }

  .app-tab-navigation__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0
  }

  @media(min-width: 23.4375em) {
    .app-tab-navigation__list {
      box-shadow:inset 0 -1px 0 #b1b4b6;
      width: 100%
    }
  }

  .app-tab-navigation__item {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-shadow: inset 0 -1px 0 #b1b4b6;
    display: block;
    margin-top: -1px
  }

  /*! Copyright (c) 2011 by Margaret Calvert & Henrik Kubel. All rights reserved. The font has been customised for exclusive use on gov.uk. This cut is not commercially available. */
  @media print {
    .app-tab-navigation__item {
      font-family: sans-serif
    }
  }

  @media(min-width: 40.0625em) {
    .app-tab-navigation__item {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
    }
  }

  @media print {
    .app-tab-navigation__item {
      font-size: 14pt;
      line-height: 1.15
    }
  }

  .app-tab-navigation__item:last-child {
    box-shadow: none
  }

  @media(min-width: 23.4375em) {
    .app-tab-navigation__item {
      box-shadow:none;
      display: inline-block;
      margin-right: 20px;
      margin-top: 0
    }
  }

  .app-tab-navigation__link {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: block;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 15px;
    position: relative;
    font-weight: 700;
    text-decoration: none
  }

  @media print {
    .app-tab-navigation__link {
      font-family: sans-serif
    }
  }

  .app-tab-navigation__link:focus {
    outline: 3px solid transparent;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
  }

  .app-tab-navigation__link:link {
    color: #1d70b8
  }

  .app-tab-navigation__link:visited {
    color: #4c2c92
  }

  .app-tab-navigation__link:active {
    color: #0b0c0c
  }

  @media(min-width: 23.4375em) {
    .app-tab-navigation__link {
      padding-left:0
    }
  }

  .app-tab-navigation__link:link,.app-tab-navigation__link:visited {
    color: #1d70b8
  }

  .app-tab-navigation__link:hover {
    color: #003078
  }

  .app-tab-navigation__link:focus {
    color: #0b0c0c;
    position: relative;
    box-shadow: none
  }

  .app-tab-navigation__link:focus:before {
    background-color: #0b0c0c;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px
  }

  .app-tab-navigation__link[aria-current=page] {
    color: #0b0c0c;
    position: relative;
    text-decoration: none
  }

  .app-tab-navigation__link[aria-current=page]:focus:before {
    height: 7px
  }

  .app-tab-navigation__link[aria-current=page]:before {
    background-color: #1d70b8;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px
  }

  @media(min-width: 23.4375em) {
    .app-tab-navigation__link[aria-current=page]:before {
      height:5px;
      width: 100%
    }
  }

  .app-tab-navigation__link[aria-current=page]:focus:before {
    background-color: #0b0c0c
  }

</style>

<div class="govuk-grid-row">
  <div class="{{ gridColumn or 'govuk-grid-column-two-thirds-from-desktop' }}">


    <div class="govuk-grid-column-full">
      <nav class="app-tab-navigation govuk-!-margin-bottom-4" aria-label="Sub navigation">
        <ul class="app-tab-navigation__list">
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" href="#">Field name</a>
          </li>
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" aria-current="page" href="#">Technical</a>
          </li>
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" href="#">HESA Alignment</a>
          </li>
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" href="#">Description</a>
          </li>
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" href="#">Format</a>
          </li>
          <li class="app-tab-navigation__item">
            <a class="govuk-link app-tab-navigation__link" href="#">Example</a>
          </li>
        </ul>
      </nav>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
      caption: "CSV guidance",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
      {
      text: "Field name"
      },
      {
      text: "Technical"
      },
      {
      text: "HESA alignment"
      },
      {
      text: "Description"
      },
      {
      text: "Format"
      },
      {
      text: "Example"
      }
      ],
      rows: [
      [
      {
      text: "Provider trainee ID"
      },
      {
      text: "provider_trainee_id"
      },
      {
      text: "OWNSTU"
      },
      {
      text: "Provider's own internal identifier for the student."
      },
      {
      text: "20 character max length"
      },
      {
      text: "99157234"
      }
      ],
      [
      {
      text: "Apply ID"
      },
      {
      text: "application_id"
      },
      {
      text: "APPLYAPPLICATIONID"
      },
      {
      text: "Unique Application ID, also called Application Number, used by the Department for Education’s apply for teacher training online service."
      },
      {
      text: "10 character max length"
      },
      {
      text: "11fc0d3b2f"
      }
      ],
      [
      {
      text: "HESA ID"
      },
      {
      text: ""
      },
      {
      text: ""
      },
      {
      text: ""
      },
      {
      text: ""
      },
      {
      text: ""
      }
      ],
      [
      {
      text: "First name"
      },
      {
      text: "first_names"
      },
      {
      text: "FNAMES"
      },
      {
      text: "This field records the forenames of the student"
      },
      {
      text: "60 character maxlength"
      },
      {
      text: "Jane"
      }
      ],
      [
      {
      text: "Last name"
      },
      {
      text: "last_name"
      },
      {
      text: "SURNAME"
      },
      {
      text: "This field is the student's family name."
      },
      {
      text: "60 character length"
      },
      {
      text: "Smith"
      }
      ],
      [
      {
      text: "Previous last name"
      },
      {
      text: "previous_last_name"
      },
      {
      text: "PSURNAME"
      },
      {
      text: "This is the trainee's surname immediately prior to the current surname, if applicable."
      },
      {
      text: "60 character length"
      },
      {
      text: "Jordan-smith"
      }
      ],
      [
      {
      text: "Date of birth"
      },
      {
      text: "date_of_birth"
      },
      {
      text: "BIRTHDTE"
      },
      {
      text: "This field records the date of birth of the student."
      },
      {
      text: "YYYY-MM-DD"
      },
      {
      text: "1985-02-13"
      }
      ],
      [
      {
      text: "Additional training initiative"
      },
      {
      text: "additional_training_initiative"
      },
      {
      text: "INITIATIVES"
      },
      {
      text: "This field records the student identifier which is to be unique to each student. It is intended that the identifier is to be transferred with the student to each provider of higher education he or she may attend. The objective is that the use of this number will facilitate the accurate tracking of students throughout their experience within the sector for which HESA collects data. "
      },
      {
      text: "001
      Abridged ITT course

      009
      Maths and Physics Chairs Programme

      011
      Primary mathematics specialist

      019
      Additional ITT place for PE with a priority subject

      025
      Transition to Teach

      026
      Now Teach

      036
      International relocation payment"
      },
      {
      text: "“026” is an example of using the code for Now Teach

      HESA allows you to add 2 initiatives, but Register will only import the first one.

      The following HESA codes are not mapped to Register:
      001 Abridged ITT course
      011 Primary with mathematics specialist
      019 Additional ITT place for PE with a priority subject

      "
      }
      ]

      ]
      }) }}










    </div>

  </div>
</div>

{% endblock %}




