{% extends "_templates/_record-form.njk" %}

{% set pageHeading = "Lead partner" %}

{# {% set formAction = "./training-details/confirm" %} #}

{% block formContent %}
  {% include "_includes/forms/schools/lead-school.njk" %}
{% endblock %}
