{% extends "_templates/_page.html" %}
{% set navActive = "funding" %}

{% set pageHeading = "Funding" %}

{% block content %}

  {% set yearPaymentsTabName = "" | typesOfFunding | joinify  | sentenceCase %}

  {% set activeTabYearlyScitt = true %}
  {% include "_includes/funding-header-and-tab-nav.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        {{ yearPaymentsTabName | sentenceCase }} 
        <span class="app-nowrap">{{ data.years.currentAcademicYear }}</span>
      </h2>

  {% set dataSource = data.funding.annualFundingScitts %}
  {% set dataSource = dataSource | sort(attribute = "subject") %}

  {# ITT Bursaries #}

  {% set ittHeadItems = [
    { text: "Course",
      classes: "app-table__column-32" },
    { text: "Lead school",
      classes: "app-table__column-32" },
    { text: "Trainees",
      classes: "app-table__column-12" },
    { text: "Amount per trainee",
      classes: "app-table__column-12" },
    { text: "Total",
      classes: "app-table__column-12" }
  ] %}
  {% set ittBursaryTotal = 0 %}
  {% set ittBursaryRows = [] %}
  {% set ittBursaryData = dataSource | whereDoesNotInclude("route", "EYITT") %}

  {% for item in ittBursaryData %}
    {% if item.numberOfTraineesPgIttOrTier1EyItt > 0 %}
      {% if item.leadSchool == "" %}
        {% set leadSchool = "–" %}
      {% else %}
        {% set leadSchool = item.leadSchool %}
      {% endif %}
      {% set course = item.route + '<br><span class="app-nowrap">' + item.subject | lower | sentenceCase + '</span>' %}
      {% set amount = item.amountPgIttOrTier1EyItt | currency %}
      {% set total = item.numberOfTraineesPgIttOrTier1EyItt * item.amountPgIttOrTier1EyItt %}
      {% set ittBursaryTotal = ittBursaryTotal + total %}
      {% set row = [
        { text: course | safe },
        { text: leadSchool },
        { text: item.numberOfTraineesPgIttOrTier1EyItt,
          format: "numeric" },
        { text: amount,
          format: "numeric" },
        { text: total | currency,
          format: "numeric" }
      ] %}
      {% set ittBursaryRows = ittBursaryRows | push(row) %}
    {% endif %}
  {% endfor %}

  {# Scholarships data #}
  {% set ittScholarshipTotal = 0 %}
  {% set ittScholarshipRows = [] %}
  {% set ittScholarshipRows = dataSource | whereDoesNotInclude("route", "EYITT") %}

  {% for item in ittScholarshipRows %}
    {% if item.numberOfTraineesScholarship > 0 and item.amountScholarship != 0 %}
        {% if item.leadSchool == "" %}
        {% set leadSchool = "–" %}
      {% else %}
        {% set leadSchool = item.leadSchool %}
      {% endif %}
      {% set course %}
        <span class="app-nowrap">{{ item.route | lower | sentenceCase }}</span><br>
        {{ item.subject }}
      {% endset %}
      {% set amount = item.amountScholarship %}
      {% set total = item.numberOfTraineesScholarship * item.amountScholarship %}
      {% set row = [
        { text: course | safe },
        { text: leadSchool },
        { text: item.numberOfTraineesScholarship,
          format: "numeric" },
        { text: amount | currency,
          format: "numeric" },
        { text: total  | currency,
          format: "numeric" }
      ] %}
      {% set ittScholarshipTotal = ittScholarshipTotal + total %}
      {% set ittScholarshipRows = ittScholarshipRows | push(row) %}
    {% endif %}
  {% endfor %}

  {# EY ITT bursary data #}
  {% set eyIttTotal = 0 %}
  {% set eyIttBursaryRows = [] %}
  {% set eyIttData = dataSource | whereIncludes("route", "EYITT") %}

  {% for item in eyIttData %}
    {% if item.numberOfTraineesPgIttOrTier1EyItt > 0 %}
      {% set total = item.numberOfTraineesPgIttOrTier1EyItt * item.amountPgIttOrTier1EyItt %}
      {% set row = [
        { text: "Tier 1" }, 
        { text: item.numberOfTraineesPgIttOrTier1EyItt,
          format: "numeric" },
        { text: item.amountPgIttOrTier1EyItt | currency,
          format: "numeric" },
        { text: total | currency,
          format: "numeric" }
      ]%}
      {% set eyIttTotal = eyIttTotal + total %}
      {% set eyIttBursaryRows = eyIttBursaryRows | push(row) %}
    {% endif %}
    {% if item.numberOfTraineesTier2EyItt > 0 %}
      {% set total = item.numberOfTraineesTier2EyItt * item.amountTier2EyItt %}
      {% set row = [
        { text: "Tier 2" }, 
        { text: item.numberOfTraineesTier2EyItt,
          format: "numeric" },
        { text: item.amountTier2EyItt | currency,
          format: "numeric" },
        { text: total | currency,
          format: "numeric" }
      ]%}
      {% set eyIttTotal = eyIttTotal + total %}
      {% set eyIttBursaryRows = eyIttBursaryRows | push(row) %}
    {% endif %}
    {% if item.numberOfTraineesTier3EyItt > 0 and item.amountTier3EyItt %}
      {% set total = item.numberOfTraineesTier3EyItt * item.amountTier3EyItt %}
      {% set row = [
        { text: "Tier 3" }, 
        { text: item.numberOfTraineesTier3EyItt,
          format: "numeric" },
        { text: item.amountTier3EyItt | currency,
          format: "numeric" },
        { text: total | currency,
          format: "numeric" }
      ]%}
      {% set eyIttTotal = eyIttTotal + total %}
      {% set eyIttBursaryRows = eyIttBursaryRows | push(row) %}
    {% endif %}
  {% endfor %}

  {# Summary data #}

  {% set annualSummaryRows = [] %}
  {% if ittBursaryTotal > 0 %}
    {% set annualSummaryRows = annualSummaryRows | push([
      { text: "ITT bursaries" },
      { text: ittBursaryTotal | currency,
        format: "numeric"
      }]) %}
  {% endif %}
  {% if ittScholarshipTotal > 0 %}
    {% set annualSummaryRows = annualSummaryRows | push([
      { text: "ITT scholarships" },
      { text: ittScholarshipTotal | currency,
        format: "numeric"
      }]) %}
  {% endif %}
  {% if eyIttTotal > 0 %}
    {% set annualSummaryRows = annualSummaryRows | push([
      { text: "Early years ITT bursaries" },
      { text: eyIttTotal | currency,
        format: "numeric"
      }]
    ) %}
  {% endif %}
  {% set annualTotal = ittBursaryTotal + ittScholarshipTotal + eyIttTotal %}
  {% set annualSummaryRows = annualSummaryRows | push([
    { text: "Total",
      classes: "govuk-!-font-weight-bold" },
    { text: annualTotal | currency,
      format: "numeric",
      classes: "app-table__column-20 govuk-!-font-weight-bold"
    }]) %}


  {% if annualTotal == 0 %}

      <p class="govuk-body">
        No trainees eligible for bursaries or scholarships.
      </p>

      <p class="govuk-body">
       Contact <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Funding">becomingateacher@digital.education.gov.uk</a> if you have any questions about funding.
      </p>

    </div>
  </div>

  {% else %}

    {% include "_includes/funding-payment-profile-meta.html" %}
    </div>
  </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-half-from-desktop">

        {{ govukTable({
            caption: "Summary",
            captionClasses: "govuk-table__caption--m",
            head: [
              { text: "Payment type",
                classes: "app-table__column-64"
               },
              { text: "Total" }
            ],
            rows: annualSummaryRows
          }) }}

      </div>
    </div>

    {% if ittBursaryTotal > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          {{ govukTable({
            caption: "ITT bursaries",
            captionClasses: "govuk-table__caption--m",
            head: ittHeadItems,
            rows: ittBursaryRows
          }) }}

        </div>
      </div>
    {% endif %}

    {% if ittScholarshipTotal > 0 %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          {# ITT Scholarships #}
          {{ govukTable({
            caption: "ITT scholarships",
            captionClasses: "govuk-table__caption--m",
            head: ittHeadItems,
            rows: ittScholarshipRows
          }) }}

        </div>
      </div>
    {% endif %}
    
    {% if eyIttTotal > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          {{ govukTable({
            caption: "Early years ITT bursaries",
            captionClasses: "govuk-table__caption--m",
            head: [
              { text: "Tier",
              classes: "app-table__column-48"
              },
              { text: "Trainees"
              },
              { text: "Amount per trainee"
              },
              { text: "Total"
              }
            ],
            rows: eyIttBursaryRows
          }) }}

        </div>
      </div>

    {% endif %}

  {% endif %}

{% endblock %}
