{% extends "_templates/_page.html" %}
{% set pageHeading = "Funding CSVs" %}

{% set months = [
  {
    name: "August",
    year: data.years.defaultCourseYear
  },
  {
    name: "September",
    year: data.years.defaultCourseYear
  },
  {
    name: "October",
    year: data.years.defaultCourseYear
  },
  {
    name: "November",
    year: data.years.defaultCourseYear
  },
  {
    name: "December",
    year: data.years.defaultCourseYear
  },
  {
    name: "January",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "February",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "March",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "April",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "May",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "June",
    year: data.years.endOfCurrentCycle
  },
  {
    name: "July",
    year: data.years.endOfCurrentCycle
  }
] %}

{# 
  --------------  Monthly payment schedule | Accredited provider --------------
#}

{% set scittPaymentScheduleHeadRow = [
  { text: "Month" }
] %}

{% set scittPaymentSchedule = data.funding.monthlyFundingScitts | sort(attribute = "descriptions") %}

{% for item in scittPaymentSchedule %}
  {% set scittPaymentScheduleHeadRow = scittPaymentScheduleHeadRow | push ({ text: item.descriptions | fixNamesFromFunding | sentenceCase | formatYearRange | safe }) %}
{% endfor %}
{% set scittPaymentScheduleHeadRow = scittPaymentScheduleHeadRow | push ({ text: "Month total" }) %}
{% set scittPaymentScheduleTotal = 0 %}

{% set scittPaymentScheduleBodyRows = [] %}
{% for month in months %}
  {% set row = [{ text: month.name + " " + month.year }] %}
  {% set monthTotal = 0 %}
  {% set monthIndex = loop.index0 %}
  {% for item in scittPaymentSchedule %}
    {% set row = row | push({ text: item.monthlyPayments[monthIndex] | currencyForCsv, format: "numeric" }) %}
    {% set monthTotal = monthTotal +  item.monthlyPayments[monthIndex] %}
    {% set scittPaymentScheduleTotal = scittPaymentScheduleTotal + monthTotal %}
  {% endfor %}
  {% set row = row | push({ text: monthTotal | currencyForCsv, format: "numeric" }) %}
  {% set scittPaymentScheduleBodyRows = scittPaymentScheduleBodyRows | push(row) %}
{% endfor %}

{% set scittPaymentScheduleBodyFinalRow = [{ text: "Total", classes: "govuk-!-font-weight-bold" }] %}

{% for item in scittPaymentSchedule %}
  {% set scittPaymentScheduleBodyFinalRow = scittPaymentScheduleBodyFinalRow | push({ text: item.cumulativeMonthlyPayments | last | currencyForCsv, format: "numeric" }) %}
{% endfor %}

{% set scittPaymentScheduleBodyFinalRow = scittPaymentScheduleBodyFinalRow | push ({ text: scittPaymentScheduleTotal | currencyForCsv, format: "numeric" }) %}
{% set scittPaymentScheduleBodyRows = scittPaymentScheduleBodyRows | push(scittPaymentScheduleBodyFinalRow)%}

{# 
  --------------  Bursaries and scholarships | Accredited provider --------------
#}

{% set scittTraineeSummary = data.funding.annualFundingScitts | sort(attribute = "route") %}

{% set scittTraineeSummaryHeadRow = [
  { text: "Funding type" },
  { text: "Route" },
  { text: "Course" },
  { text: "Lead school" },
  { text: "Tier" },
  { text: "Number of trainees" },
  { text: "Amount per trainee" },
  { text: "Total" }
] %}
{% set scittTraineeSummaryBodyRows = [] %}

{% for item in scittTraineeSummary %}
  
  {% if item.numberOfTraineesScholarship > 0 %}
    {% set fundingType = "ITT scholarship" %}
    {% set numberOfTrainees = item.numberOfTraineesScholarship %}
    {% set amount = item.amountPgIttOrTier1EyItt %}
  {% elseif item.subject != "Early Years ITT" and item.numberOfTraineesPgIttOrTier1EyItt > 0 %}
    {% set fundingType = "ITT bursary" %}
    {% set numberOfTrainees = item.numberOfTraineesPgIttOrTier1EyItt %}
    {% set amount = item.amountScholarship %}
  {% endif %}
  {% if numberOfTrainees > 0 and amount > 0 %}
    {% set row = [
      { text: fundingType },
      { text: item.route },
      { text: item.subject },
      { text: item.leadSchool },
      { text: "Not applicable" },
      { text: numberOfTrainees,
        format: "numeric" },
      { text: amount | currencyForCsv,
        format: "numeric" },
      { text: (numberOfTrainees * amount) | currencyForCsv,
        format: "numeric" }
    ] %}
    {% set scittTraineeSummaryBodyRows = scittTraineeSummaryBodyRows | push(row) %}
  {% endif %}

  {% if item.numberOfTraineesPgIttOrTier1EyItt and item.subject == "Early Years ITT" %}
    {% set row = [
      { text: "EYITT bursary" },
      { text: item.route },
      { text: item.subject },
      { text: item.leadSchool },
      { text: "Tier 1" },
      { text: item.numberOfTraineesPgIttOrTier1EyItt,
        format: "numeric" },
      { text: item.amountPgIttOrTier1EyItt | currencyForCsv,
        format: "numeric" },
      { text: (item.numberOfTraineesPgIttOrTier1EyItt * item.amountPgIttOrTier1EyItt) | currencyForCsv,
        format: "numeric" }
    ] %}
    {% set scittTraineeSummaryBodyRows = scittTraineeSummaryBodyRows | push(row) %}
  {% endif %}
  {% if item.numberOfTraineesTier2EyItt and item.amountTier2EyItt > 0 %}
    {% set numberOfTrainees = item.numberOfTraineesTier2EyItt %}
    {% set row = [
      { text: "EYITT bursary" },
      { text: item.route },
      { text: item.subject },
      { text: item.leadSchool },
      { text: "Tier 2" },
      { text: item.numberOfTraineesTier2EyItt,
        format: "numeric" },
      { text: item.amountTier2EyItt | currencyForCsv,
        format: "numeric" },
      { text: (item.numberOfTraineesTier2EyItt * item.amountTier2EyItt) | currencyForCsv,
        format: "numeric" }
    ] %}
    {% set scittTraineeSummaryBodyRows = scittTraineeSummaryBodyRows | push(row) %}
  {% endif %}
  {% if item.numberOfTraineesTier3EyItt and item.amountTier3EyItt > 0 %}
    {% set row = [
      { text: "EYITT bursary" },
      { text: item.route },
      { text: item.subject },
      { text: item.leadSchool },
      { text: "Tier 3" },
      { text: item.numberOfTraineesTier3EyItt,
        format: "numeric" },
      { text: item.amountTier3EyItt | currencyForCsv,
        format: "numeric" },
      { text: (item.numberOfTraineesTier3EyItt * item.amountTier3EyItt) | currencyForCsv,
        format: "numeric" }
    ] %}
    {% set scittTraineeSummaryBodyRows = scittTraineeSummaryBodyRows | push(row) %}
  {% endif %}
{% endfor %}

{# 
  --------------  Monthly payment schedule | Lead shool --------------
#}

{% set leadSchoolPaymentScheduleHeadRow = [
  { text: "Month" }
] %}

{% set leadSchoolPaymentSchedule = data.funding.monthlyFundingLeadSchools | sort(attribute = "descriptions") %}

{% for item in leadSchoolPaymentSchedule %}
  {% set leadSchoolPaymentScheduleHeadRow = leadSchoolPaymentScheduleHeadRow | push ({ text: item.descriptions | fixNamesFromFunding | sentenceCase | formatYearRange | safe }) %}
{% endfor %}
{% set leadSchoolPaymentScheduleHeadRow = leadSchoolPaymentScheduleHeadRow | push ({ text: "Month total" }) %}
{% set leadSchoolPaymentScheduleTotal = 0 %}

{% set leadSchoolPaymentScheduleBodyRows = [] %}
{% for month in months %}
  {% set row = [{ text: month.name + " " + month.year }] %}
  {% set monthTotal = 0 %}
  {% set monthIndex = loop.index0 %}
  {% for item in leadSchoolPaymentSchedule %}
    {% set row = row | push({ text: item.monthlyPayments[monthIndex] | currencyForCsv, format: "numeric" }) %}
    {% set monthTotal = monthTotal +  item.monthlyPayments[monthIndex] %}
    {% set leadSchoolPaymentScheduleTotal = leadSchoolPaymentScheduleTotal + monthTotal %}
  {% endfor %}
  {% set row = row | push({ text: monthTotal | currencyForCsv, format: "numeric" }) %}
  {% set leadSchoolPaymentScheduleBodyRows = leadSchoolPaymentScheduleBodyRows | push(row) %}
{% endfor %}

{% set leadSchoolPaymentScheduleBodyFinalRow = [{ text: "Total", classes: "govuk-!-font-weight-bold" }] %}

{% for item in leadSchoolPaymentSchedule %}
  {% set leadSchoolPaymentScheduleBodyFinalRow = leadSchoolPaymentScheduleBodyFinalRow | push({ text: item.cumulativeMonthlyPayments | last | currencyForCsv, format: "numeric" }) %}
{% endfor %}

{% set leadSchoolPaymentScheduleBodyFinalRow = leadSchoolPaymentScheduleBodyFinalRow | push ({ text: leadSchoolPaymentScheduleTotal | currencyForCsv, format: "numeric" }) %}
{% set leadSchoolPaymentScheduleBodyRows = leadSchoolPaymentScheduleBodyRows | push(leadSchoolPaymentScheduleBodyFinalRow)%}

{# 
  --------------  Trainee summary | Lead shool --------------
#}

{% set leadSchoolTraineeSummary = data.funding.annualFundingLeadSchools | sort(attribute = "route") %}

{% set leadSchoolTraineeSummaryHeadRow = [
  { text: "Route" },
  { text: "Course" },
  { text: "Trainees" },
  { text: "Amount per trainee" },
  { text: "Total" }
  ] %}

{% set leadSchoolTraineeSummaryBodyRows = [] %}
{% for item in leadSchoolTraineeSummary %}
  {% if item.numberOfTrainees > 0 and item.amountPerTrainee > 0 %}
    {% set row = [
      { text: item.route },
      { text: item.subject },
      { text: item.numberOfTrainees,
        format: "numeric" },
      { text: item.amountPerTrainee | currencyForCsv,
        format: "numeric" },
      { text: (item.numberOfTrainees * item.amountPerTrainee) | currencyForCsv,
        format: "numeric" }
    ] %}
    {% set leadSchoolTraineeSummaryBodyRows = leadSchoolTraineeSummaryBodyRows | push(row) %}
  {% endif %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      {% set howToCreateACSVHtml %}
      <ol class="govuk-list govuk-list--number">
        <li>Copy and paste this into spreadsheet software (for example, <span class="app-nowrap">Microsoft Excel</span>)</li>
        <li>Export the file as a ‘CSV’.</li>
        <li>Save the file in ‘/app/assets/downloads/funding/’. Theres a folder for accredited providers, and a folder for lead schools.</li>
        <li>Restart the prototype for the CSV to appear in folder you need to point the download link to ‘/public/downloads/funding/’.</li>
      </ol>
      {% endset %}
      {{ govukDetails({
        summaryText: "How to create a CSV for funding export",
        text: howToCreateACSVHtml | safe
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        Accredited provider
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTable({
        caption: "Payment schedule",
        captionClasses: "govuk-table__caption--s",
        head: scittPaymentScheduleHeadRow,
        rows: scittPaymentScheduleBodyRows
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTable({
        caption: "Trainee summary",
        captionClasses: "govuk-table__caption--s",
        head: scittTraineeSummaryHeadRow,
        rows: scittTraineeSummaryBodyRows
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        Lead schools
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTable({
        caption: "Payment schedule",
        captionClasses: "govuk-table__caption--s",
        head: leadSchoolPaymentScheduleHeadRow,
        rows: leadSchoolPaymentScheduleBodyRows
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTable({
        caption: "Trainee summary",
        captionClasses: "govuk-table__caption--s",
        head: leadSchoolTraineeSummaryHeadRow,
        rows: leadSchoolTraineeSummaryBodyRows
      }) }}
    </div>
  </div>
{% endblock %}
