{% extends "_templates/_page.html" %}
{% set navActive = "Funding" %}
{% set pageHeading = "Select an academic year to view its funding" %}

{% set backLink = "/" %}
{% set backText = "Home" %}

{% set yearsToShow = [
  "2021 to 2022",
  "2020 to 2021"
  ] %}

{% block content %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  <ul class="govuk-list">
    {% for year in yearsToShow %}
      <li class="govuk-!-margin-bottom-2">
        {# TODO: make real styles for this element #}
        <a href="/funding/{{year | academicYearToYear}}/payment-schedule" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">{{year}}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
