{% extends "layout.html" %}
{% set navActive = "funding" %}

{% block content %}

  {% set pageHeading = "Funding 2021 to 2022" %}

  {% set yearPaymentsTabName = "" | typesOfFunding | joinify  | sentenceCase %}
  {% set activeTabMonthly = true %}
  {% include "_includes/funding-header-and-tab-nav.html" %}

  {% if accessLevel == 'accreditingProvider' %}
    {% set dataSource = data.funding.monthlyFundingScitts %}
  {% else %}
    {% set dataSource = data.funding.monthlyFundingLeadSchools %}
  {% endif %}
  {% set dataSource = dataSource | sort(attribute = "description") %}

  {% if dataSource.length > 4 %}
    {% set tableClasses = "govuk-!-font-size-16" %}
  {% endif %}

  {% set months  = [
    "August",
    "September",
    "October",
    "November",
    "December",
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July"
  ]%}


  {# Get Month starting from August #}
  {% if currentMonth() >= 6 %}
    {% set thisMonth = -1 + currentMonth() - 6 %}
  {% else %}
    {% set thisMonth = -1 + currentMonth() + 6 %}
  {% endif %}
  {# {% set thisMonth = 12 %} #}

  {% if thisMonth == 12 %}
    {% set totalRowTitle = "Total" %}
  {% else %}
    {% set totalRowTitle = "Total to " + thisMonth | prettyMonthFromAugust %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        Monthly payments
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-1">
        Last updated: {{ "" | yesterdayGovuk }}
      </p>
      <p>
        <a href="#" class="govuk-link--no-visited-state">Export monthly payments</a>
      </p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

      {# Summary to date #}
      {% set headRow = [
        { text: "Month", classes: "app-table__column-25" },
        { text: "Recovery", classes: "app-table__column-25", format: "numeric" },
        { text: "Payment", classes: "app-table__column-25", format: "numeric" },
        { text: "Total", classes: "app-table__column-25", format: "numeric" }
      ] %}

      {% set bodyRowsPast = [] %}
      {% set bodyRowsFuture = [] %}


      {% set pastTotal = 0 %}
      {% set pastRecoveryTotal = 0 %}
      {% set pastPaymentTotal = 0 %}

      {% set recoveryTotal = 0 %}
      {% set paymentTotal = 0 %}
      {% set total = 0 %}

      {% for month in months %}

        {% set recovery = 0 %}
        {% set payment = 0 %}
        {% set monthTotal = 0 %}

        {% set monthIndex = loop.index0 %}

        {% for item in dataSource %}


          {% if item.monthlyPayments[monthIndex] < 0 %}
            {% set recovery = recovery + item.monthlyPayments[monthIndex] %}
          {% else %}
            {% set payment = payment + item.monthlyPayments[monthIndex] %}
          {% endif %}
          {% set monthTotal = monthTotal + recovery + payment %}
          {% set total = total + monthTotal %}
          {% if loop.index0 < thisMonth %}
            {% set pastRecoveryTotal = pastRecoveryTotal + recovery %}
            {% set pastPaymentTotal = pastPaymentTotal + payment %}
            {% set pastTotal = pastPaymentTotal + pastRecoveryTotal %}
          {% endif %}
          {% set recoveryTotal = recoveryTotal + recovery %}
          {% set paymentTotal = paymentTotal + payment %}
          {% set total = paymentTotal + recoveryTotal %}
        {% endfor %}

        {% set row = [
          { text: month },
          { text: recovery | currency, format: "numeric" },
          { text: payment | currency, format: "numeric" },
          { text: monthTotal | currency, format: "numeric" }
        ] %}

        {% if loop.index0 < thisMonth %}
          {% set bodyRowsPast = bodyRowsPast | push(row) %}
        {% else %}
          {% set bodyRowsFuture = bodyRowsFuture | push(row) %}
        {% endif %}

      {% endfor %}

      {% set bodyRowsPast = bodyRowsPast | push([
        { text: totalRowTitle, classes: "govuk-!-font-weight-bold" },
        { text: pastRecoveryTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" },
        { text: pastPaymentTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }, 
        { text: pastTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
      ])%}

      {% set bodyRowsFuture = bodyRowsFuture | push([
        { text: "Total", classes: "govuk-!-font-weight-bold" },
        { text: recoveryTotal  | currency, format: "numeric", classes: "govuk-!-font-weight-bold" },
        { text: paymentTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" },
        { text: total | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
      ])%}

      <h3 class="govuk-heading-m">Summary of payments per month</h3>

      {{ govukTable({
        caption: "Payments made",
        captionClasses: "govuk-table__caption--s",
        head: headRow,
        rows: bodyRowsPast
      }) }}

      {{ govukTable({
        caption: "Predicted payments",
        captionClasses: "govuk-table__caption--s",
        head: headRow,
        rows: bodyRowsFuture
      }) if thisMonth != 12 }}

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-l">Payments by funding stream</h2>

      {# Payment per month, by payment type tables #}
      {% for item in dataSource %}

        {% set headRow = [{ text: "Month"}, { text: "Payment" }] %}
        
        {% set pastTotal = 0 %}
        {% set futureTotal = 0 %}

        {% set pastRows = [] %}
        {% set futureRows = [] %}
        {% for month in months %}
          {% set row = [] %}
          {% if item.monthlyPayments[loop.index0] %}
            {% set row = [{ text: month }, { text: item.monthlyPayments[loop.index0] | currency, format: "numeric" }] %}
          {% endif %}
          {% if loop.index0 < thisMonth %}
            {% set pastTotal = pastTotal + item.monthlyPayments[loop.index0] %}
            {% set pastRows = pastRows | push(row) %}
            {% set futureTotal = pastTotal %}
          {% else %}
            {% set futureTotal = futureTotal + item.monthlyPayments[loop.index0] %}
            {% set futureRows = futureRows | push(row) %}
          {% endif %}
        {% endfor %}

        {% set pastTotalRowHeading %}
          {% if pastTotal == futureTotal %}
            Total
          {% else %}
            Total to {{ thisMonth | prettyMonthFromAugust }}
          {% endif %}
        {% endset %}

        {% set pastRows = pastRows | push([
          { text: pastTotalRowHeading, classes: "govuk-!-font-weight-bold" },
          { text: pastTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
        ]) %}

        {% set futureRows = futureRows | push([
          { text: "Predicted total", classes: "govuk-!-font-weight-bold" },
          { text: futureTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
        ]) %}


        <h3 class="govuk-heading-m">{{ item.description | fixNamesFromFunding | sentenceCase | formatYearRange | safe }}</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

        {{ govukTable({
          caption: "Paymants made",
          captionClasses: "govuk-table__caption--s",
          head: headRow,
          rows: pastRows
        }) }}

        {% if pastTotal == futureTotal and this != 12 %}

          <p class="govuk-body">No more {{ item.description | fixNamesFromFunding | startLowerCase | formatYearRange | safe }} predicted.</p>

        {% elseif thisMonth != 12 %}

          {{ govukTable({
            caption: "Remaining payments (predicted)",
            captionClasses: "govuk-table__caption--s",
            head: headRow,
            rows: futureRows
          }) }}

        {% endif %}

        <hr class="govuk-section-break govuk-section-break--l">

        {% endfor %}


    </div>
  </div>

{% endblock %}
