{% extends "layout.html" %}
{% set navActive = "funding" %}

{% block content %}

  {% set pageHeading = "Funding 2021 to 2022" %}

  {% set yearPaymentsTabName = "" | typesOfFunding | joinify  | sentenceCase %}
  {% set activeTabMonthly = true %}
  {% include "_includes/funding-header-and-tab-nav.html" %}

  {% if accessLevel == 'accreditingProvider' %}
    {% set dataSource = data.funding.monthlyFundingScitts %}
  {% else %}
    {% set dataSource = data.funding.monthlyFundingLeadSchools %}
  {% endif %}
  {% set dataSource = dataSource | sort(attribute = "description") %}

  {# TODO #}
  {% if dataSource.length > 4 %}
    {% set tableClasses = "govuk-!-font-size-16" %}
  {% endif %}

  {% set headRow = [{ text: "Month" }] %}
  {% for item in dataSource %}
    {% set headRow = headRow | push({ text: item.description | fixNamesFromFunding | sentenceCase | formatYearRange | safe }) %}
  {% endfor %}
  {% set headRow = headRow | push({ text: "Total" }) %}

  {% set rowsPast = [] %}
  {% set pastTotal = 0 %}

  {% set rowsFuture = [] %}
  {% set futureTotal = 0 %}

  {% set months  = [
    "August",
    "September",
    "October",
    "November",
    "December",
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July"
  ]%}

  {% if currentMonth() >= 8 %}
    {% set thisMonth = currentMonth() - 8 %}
  {% else %}
    {% set thisMonth = currentMonth() + 4 %}
  {% endif %}

  {% for item in months %}
    {% set monthIndex = loop.index0 %}
    {% set monthTotal = 0 %}
    {% set row = [{ text: months[monthIndex]}] %}
    {% for paymentType in dataSource %}
      {% if paymentType.monthlyPayments[monthIndex] == 0 %}
        {% set amount = "–" %}
      {% else %}
        {% set amount = paymentType.monthlyPayments[monthIndex] | currency %}
      {% endif %}
      {% set monthTotal = monthTotal + paymentType.monthlyPayments[monthIndex] %}
      {% set row = row | push({ text: amount, format: "numeric" }) %}
    {% endfor %}
    {% if monthTotal != 0 %}
      {% set row = row | push({ text: monthTotal | currency, format: "numeric" }) %}
    {% else %}
      {% set row = row | push({ text: "–", format: "numeric" }) %}
    {% endif %}
    {% if thisMonth >= loop.index0 %}
      {% set pastTotal = pastTotal + monthTotal %}
      {% set rowsPast = rowsPast | push(row) %}
    {% else %}
      {% set futureTotal = futureTotal + monthTotal %}
      {% set rowsFuture = rowsFuture | push(row) %}
    {% endif %}
  {% endfor %}

  {% set summaryRows = [] %}
  {% if thisMonth != 11 %}
    {% set summaryRowItems = [
      { text: "Payments to " + currentMonth("nameOfMonth") + " " + currentYear() }, 
      { text: pastTotal | currency, format: "numeric" }] 
    %}
    {% set summaryRows = summaryRows | push(summaryRowItems) %}
    {% set summaryRowItems = [
      { text: "Predicted payments" }, 
      { text: futureTotal | currency, format: "numeric" }] 
    %}
    {% set summaryRows = summaryRows | push(summaryRowItems) %}
    {% set summaryRowItems = [{ text: "Predicted total" }, { text: (pastTotal + futureTotal) | currency, format: "numeric" }] %}
    {% set summaryRows = summaryRows | push(summaryRowItems) %}
  {% else %}
    {% set summaryRowItems = [{ text: "Total for year" }, { text: pastTotal | currency, format: "numeric" }] %}
    {% set summaryRows = summaryRows | push(summaryRowItems) %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        Monthly payments
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-1">
        Last updated: {{ "" | yesterdayGovuk }}
      </p>
      <p>
        <a href="#" class="govuk-link--no-visited-state">Export monthly payments</a>
      </p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {{ govukTable({
        caption: "Summary",
        captionClasses: "govuk-table__caption--m",
        head: [
                {
                  text: "Payment type"
                },
                {
                  text: "Amount",
                  classes: "app-table__column-25"
                }
              ],
        rows: summaryRows
      }) }}
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m">
  {{ govukTable({
    caption: "Payments to " + currentMonth("nameOfMonth") + " " + currentYear(),
    captionClasses: "govuk-table__caption--m",
    classes: tableClasses,
    head: headRow,
    rows: rowsPast
  }) }}

  {# 11th month = July (12 months of the Academic year 0 indexed) #}

  {% if thisMonth != 11 %}
    <hr class="govuk-section-break govuk-section-break--m">
    {{ govukTable({
      caption: "Predicted payments",
      captionClasses: "govuk-table__caption--m",
      classes: tableClasses,
      head: headRow,
      rows: rowsFuture
    }) }}
  {% endif %}

{% endblock %}
