{% extends "_templates/_page.html" %}
{% set navActive = "funding" %}

{% set pageHeading = "Funding" %}

{% set tablePerMonth = true %}

{% block content %}


  {% set yearPaymentsTabName = "" | typesOfFunding | joinify  | sentenceCase %}

  {% set activeTabMonthly = true %}
  {% include "_includes/funding-header-and-tab-nav.html" %}

  {% if currentMonth() >= 6 %}
    {% set thisMonth = -1 + currentMonth() - 6 %}
  {% else %}
    {% set thisMonth = -1 + currentMonth() + 6 %}
  {% endif %}
  {# {% set thisMonth = 12 %} #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">
        Monthly payments <span class="app-nowrap">{{ data.years.currentAcademicYear }}</span>
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-2">
        Last updated: {{ "" | yesterdayGovuk }}
      </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="#" class="govuk-link--no-visited-state">Export lastest monthly payment data (csv)</a><br>
      </p>
      <p class="govuk-body">
        <a href="#">Export all monthly payment data ({{ thisMonth }} csv files)</a>
      </p>
    </div>
  </div>

  {# Set which data the user sees #}
  {% if accessLevel == 'accreditingProvider' %}
    {% set dataSource = data.funding.monthlyFundingScitts %}
  {% else %}
    {% set dataSource = data.funding.monthlyFundingLeadSchools %}
  {% endif %}
  {% set dataSource = dataSource | sort(attribute = "descriptions") %}

  {% if not tablePerMonth and dataSource.length > 4 %}
    {% set tableClasses = "govuk-!-font-size-16" %}
  {% else %}
    {% set rowHeadingCellClasses = "app-table__column-50" %}
    {% set dataCellClasses = "app-table__column-25" %}
  {% endif %}

  {% set months  = [
    "August",
    "September",
    "October",
    "November",
    "December",
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July"
  ]%}

  {% set pastTotal     = 0 %}
  {% set total         = 0 %}

  {% set pastRows     = [] %}
  {% set futureRows   = [] %}


  {% set headRow = [{ text: "Month", classes: rowHeadingCellClasses }] %}
  {% if not tablePerMonth %}
    {% for item in dataSource %}
      {% set headRow = headRow | push({ text: item.descriptions | fixNamesFromFunding | sentenceCase | formatYearRange | safe, classes: cellClasses }) %}
    {% endfor %}
  {% endif %}
  {% set headRow = headRow | push({ text: "Total", format: "numeric", classes: dataCellClasses }) %}
  {% if tablePerMonth %}
    {% set headRow = headRow | push({ text: "Running total", format: "numeric", classes: dataCellClasses }) %}
  {% endif %}

  {% for month in months %}

    {% set monthTotal = 0 %}
    {% set row = [{ text: month }] %}

    {% set monthIndex = loop.index0 %}
    {% for item in dataSource %}
      {% if not tablePerMonth %}
        {% set row = row | push({text: item.monthlyPayments[monthIndex] | currency, format: "numeric" }) %}
      {% endif %}
      {% set monthTotal = monthTotal + item.monthlyPayments[monthIndex] %}
    {% endfor %}

    {% set row = row | push({ text: monthTotal | currency, format: "numeric" }) %}

    {% if monthIndex < thisMonth %}
      {% set pastTotal = pastTotal + monthTotal %}
      {% set total = total + monthTotal %}
      {% if tablePerMonth %}
        {% set row = row | push({ text: total | currency, format: "numeric" }) %}
      {% endif %}
      {% set pastRows = pastRows | push(row) %}
    {% else %}
      {% set total = total + monthTotal %}
      {% if tablePerMonth %}
        {% set row = row | push({ text: total | currency, format: "numeric" }) if tablePerMonth %}
      {% endif %}
      {% set futureRows = futureRows | push(row) %}
    {% endif %}

  {% endfor %}

  {% if thisMonth != 12 %}
    {% set tableCaption %}
      Payments to {{ thisMonth | prettyMonthFromAugust }} {% if thisMonth < 6 %}{{ data.years.defaultCourseYear }}{% else %}{{ data.years.defaultCourseYear + 1 }}{% endif %}
    {% endset %}
    {% set totalPerStreamRowPast = [{ text: "Total to " + thisMonth | prettyMonthFromAugust, classes: "govuk-!-font-weight-bold" }] if not tablePerMonth %}
  {% else %}
    {% set tableCaption = 'Monthly payments' %}
    {% set totalPerStreamRowPast = [{ text: "Total", classes: "govuk-!-font-weight-bold" }] %}
  {% endif %}
  {% set totalPerStreamRow = [{ text: "Predicted total", classes: "govuk-!-font-weight-bold" }] if not tablePerMonth %}

  {% if not tablePerMonth %}
    {% for item in dataSource %}
      {% set totalPerStreamRowPast = totalPerStreamRowPast | push(
        {text: item.cumulativeMonthlyPayments[thisMonth - 1] | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
      ) %}
      {% set totalPerStreamRow = totalPerStreamRow | push(
        {text: item.cumulativeMonthlyPayments[11] | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
      ) %}
    {% endfor %}
  {% endif %}

  {% set totalPerStreamRowPast = totalPerStreamRowPast | push({text: pastTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }) if not tablePerMonth %}
  {% set totalPerStreamRow = totalPerStreamRow | push({text: total | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }) if not tablePerMonth %}

  {% set pastRows = pastRows | push(totalPerStreamRowPast) %}
  {% set futureRows = futureRows | push(totalPerStreamRow) %}

  <div class="govuk-grid-row">
  {% if not tablePerMonth %}
    <div class="govuk-grid-column-full">
  {% else %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
  {% endif %}

        <hr class="govuk-section-break govuk-section-break--m">

        <!-- Everything in one table -->
        {{ govukTable({
          classes: tableClasses,
          caption: tableCaption,
          captionClasses: "govuk-table__caption--m govuk-!-margin-bottom-3",
          head: headRow,
          rows: pastRows
        }) }}

        {{ govukTable({
          classes: tableClasses,
          caption: "Predicted payments",
          captionClasses: "govuk-table__caption--m govuk-!-margin-bottom-3",
          head: headRow,
          rows: futureRows
        }) if thisMonth != 12 }}

    </div>
  </div>

  {% if tablePerMonth %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        {% set accordionItems = [] %}
        {% set runningMonthTotal = 0 %}

        {% for month in months %}
        
          {% set bodyRows = [] %}
          {% set monthIndex = loop.index0 %}
          {% set expandedState = false %}
          {% set monthTotal = 0 %}

          {% for item in dataSource %}
            {% set row = [
              { text: item.descriptions | fixNamesFromFunding | sentenceCase | formatYearRange | safe },
              { text: item.monthlyPayments[monthIndex] | currency, format: "numeric" },
              { text: item.cumulativeMonthlyPayments[monthIndex] | currency, format: "numeric" }
            ] if item.monthlyPayments[monthIndex] %}
            {% set monthTotal = monthTotal + item.monthlyPayments[monthIndex] %}
            {% set bodyRows = bodyRows | push(row) %}
          {% endfor %}
          
          {% set runningMonthTotal = runningMonthTotal + monthTotal %}

          {% set bodyRows = bodyRows | push([
            { text: "Total", classes: "govuk-!-font-weight-bold" }, 
            { text: monthTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" },
            { text: runningMonthTotal | currency, format: "numeric", classes: "govuk-!-font-weight-bold" }
          ]) %}

          {% set accordionTitle -%}
            {{ month }} {% if loop.index < 6 %}{{ data.years.defaultCourseYear }}{% else %}{{ data.years.defaultCourseYear + 1 }}{% endif %}
          {%- endset %}

          {% set accordionHtml %}

{#             {% if loop.index <= thisMonth %}
              <p class="govuk-body">
                <a href="#" class="govuk-link--no-visited-state">Export monthly payment data as it was on {{ [1,2, 3, 4, 5] | random }} {{ month }} {% if loop.index < 6 %}{{ data.years.defaultCourseYear }}{% else %}{{ data.years.defaultCourseYear + 1 }}{% endif %}</a>
              </p>
            {% endif %} #}


            {% if monthTotal != 0 %}
              {{ govukTable({
                classes: "app-table__in-accordion govuk-!-margin-bottom-6",
                caption: month + " payments",
                captionClasses: "govuk-visually-hidden",
                head: [
                  { text: "Payment type", classes: rowHeadingCellClasses }, 
                  { text: "Amount", format: "numeric", classes: dataCellClasses }, 
                  { text: "Running total", format: "numeric", classes: dataCellClasses }],
                rows: bodyRows
              }) }}
            {% else %}
              <p class="govuk-body">
                No payments for {{ accordionTitle }}.
              </p>
            {% endif %}
          {% endset %}

          {% if loop.index0 == thisMonth -1 %}
            {% set expandedState = true %}
          {% endif %}

          {% set accordionItems = accordionItems | push(
            { 
              heading: { text: accordionTitle },
              content: { html: accordionHtml },
              expanded: expandedState
            }
          )%}
        {% endfor %}

        <h2 class="govuk-heading-m">Payment breakdown</h2>

        {{ govukAccordion({
          id: "accordion-default",
          items: accordionItems
        })}}

      </div>
    </div>
  {% endif %}
{% endblock %}
