{% extends "_templates/_record-form.njk" %}

{% set pageHeading %}
  Why you’re undoing the withdrawal
{% endset %}
{# {% set pageHeading = "Revert award of teaching status" %} #}

{% set formAction = "./confirm" | addReferrer(referrer) %}

{% block formContent %}

  {% include "_includes/forms/revert/withdraw/details.njk" %}

{% endblock %}
