

{% set statusTag %}
  {{ govukTag({
    text: "Deleted",
    classes: 'govuk-tag--red'
  })}}
{% endset %}


{% set revertRows = [
  {
    key: {
      text: "New record status"
    },
    value: {
      html: statusTag | safe
    }
  },
  {
    key: {
      text: "Reason for deletion"
    },
    value: {
      text: record.admin.delete.reason
    },
    actions: {
      items: [{
        href: "./details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "audit log comment"
      }]
    } if canAmend
  },
  {
    key: {
      text: "Zendesk ticket URL"
    },
    value: {
      text: record.admin.delete.zendeskUrl
    },
    actions: {
      items: [{
        href: "./details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "audit log comment"
      }]
    } if canAmend
  }
] | removeEmpty %}

{% set revertHtml %}
  {{ govukSummaryList({
    rows: revertRows,
    attributes: {
      style: "overflow:hidden;"
    }
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Delete trainee record",
  html: revertHtml
}) }}
