

{% set statusTag %}
  {{ govukTag({
    text: "TRN received",
    classes: "TRN received" | getStatusClass
  })}}
{% endset %}


{% set revertRows = [
  {
    key: {
      text: "New record status"
    },
    value: {
      html: statusTag | safe
    }
  },
  {
    key: {
      text: "Trainee timeline comment"
    },
    value: {
      text: record.revert.teachingStatus.auditLogComment or "Not provided"
    },
    actions: {
      items: [{
        href: "./details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "trainee timeline comment"
      }]
    } if canAmend
  },
  {
    key: {
      text: "Zendesk ticket URL"
    },
    value: {
      text: record.revert.teachingStatus.zendeskUrl or "Not provided"
    },
    actions: {
      items: [{
        href: "./details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "Zendesk ticket URL"
      }]
    } if canAmend
  }
] | removeEmpty %}

{% set revertHtml %}
  {{ govukSummaryList({
    rows: revertRows,
    attributes: {
      style: "overflow:hidden;"
    }
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Remove " + qualification + " award",
  html: revertHtml
}) }}
