{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Is this the course you want to add?" %}
{% set gridColumn = 'govuk-grid-column-full' %}

{# {% set formAction = "./update" %} #}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  <p class="govuk-body">These are the course details as listed on Publish teacher training courses.</p>

  {% set detailsHtml %}
    <p class="govuk-body">If the details are incorrect for all trainees, you should <a href="#">update the course on Publish</a>.</p>
    <p class="govuk-body">If the details are wrong for this trainee only, you can edit them here.</p>

  {% endset %}

  {{ govukDetails({
    summaryText: "What if the details are incorrect?",
    html: detailsHtml
  }) }}

  {% set courseDetails = record.courseDetails %}

  {# Don't show allocation row as that question comes later #}
  {% set hideAllocationRow = true %}
  {% include "_includes/summary-cards/course-details/non-early-years-course.html" %}


  {{ govukButton({
    text: "Confirm course"
  }) }}

  <p class="govuk-body"><a href="#" class="govuk-link">Edit details for this trainee only</a></p>
  

{% endblock %}

