{% extends "_templates/_record-form.html" %}

{% set missingItems = data.record | getCourseChangeMissingItems %}

{% set hasMissingItems = missingItems | falsify %}

{% set pageHeading = "Add more training details" if hasMissingItems else "Check training details" %}

{% macro getCourseString(course) %}
  {% if course.isPublishCourse | falsify %}
    {{ course.courseNameShort | dynamicLowercase }} ({{course.code}})
  {% else %}
    {{ course.subjects | prettifySubjects | dynamicLowercase }}
  {% endif %}
{% endmacro %}




{% block formContent %}

  {% include "_includes/trainee-name-caption.njk" %}

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  {% if hasMissingItems %}

    <p class="govuk-body">Based on the changes you made, you need to add more details to the trainee’s record.</p>

    <p class="govuk-body">Details to add:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in missingItems %}
        <li>{{item}}</li>
      {% endfor %}
    </ul>

    {{ govukButton({
      text: "Add details",
      href: "./get-next-course-change-url" | addReferrer(referrer)
    }) }}

  {# No missing details - either nothing more is needed, or the user has looped through this
  section before #}
  {% else %}

    <p class="govuk-body">
      Before you update the trainee’s record, check if their training details are correct.
    </p>

    {{ govukButton({
      text: "Check training details",
      href: "./get-next-course-change-url" | addReferrer(referrer)
    }) }}

  {% endif %}

{% endblock %}




