{% extends "_templates/_record-form.njk" %}

{% set pageHeading = "Did this course change happen after they started training?" %}

{% set formAction = "./course-move-question-answer" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/course-details/course-move-question.njk" %}
{% endblock %}
