{% extends "_templates/_record-form.html" %}

{% set pageHeading = "When did the trainee move course?" %}

{# {% if data.record.temp.courseMoveTemp.courseMoveUpFront | falsify %} #}
  {% set formAction = "./select-route" | addReferrer(referrer) %}
{# {% elseif referrer | includes("final-check") %} #}
  {# {% set formAction = "./final-check-course-change" | addReferrer(referrer) %} #}
{# {% elseif referrer %}
  {% set formAction = "./confirm" | orReferrer(referrer) %} #}
{# {% else %} #}
  {# {% set formAction = "./confirm" | addReferrer(referrer) %} #}
{# {% endif %} #}

{% block formContent %}
  {% include "_includes/forms/course-details/course-move-date.html" %}
{% endblock %}

