
.start-page .govuk-phase-banner {
  margin-bottom: govuk-spacing(6);
  border-bottom-color: govuk-colour("light-blue");
}

.start-page main {
  padding-top: 0;
}

.start-page-banner {
  padding-top: govuk-spacing(1);
  padding-bottom: govuk-spacing(7);
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
}

.start-page-banner__tag {
  color: govuk-colour("blue");
  background-color: govuk-colour("white");

  > :last-child { margin-right: 0 !important; margin-bottom: 0 !important; }
}

.start-page-banner__heading,
.start-page-banner__description {
  margin-bottom: govuk-spacing(6);
}

.start-page-banner__actions {
  color: govuk-colour("white");
  font-family: "GDS Transport", Arial, sans-serif;

  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: center;
  }
}

.start-page-banner__text,
.start-page-banner__link,
.start-page-banner__link:link,
.start-page-banner__link:visited,
.start-page-banner__actions .govuk-link {
  color: govuk-colour("white");
}

.start-page-banner__actions p {
  margin-bottom: 0;
}

.start-page-banner__button.govuk-button:link,
.start-page-banner__button.govuk-button:visited,
.start-page-banner__button.govuk-button:active,
.start-page-banner__button.govuk-button:hover {
  margin-bottom: govuk-spacing(3);
  color: govuk-colour("blue");
  background-color: govuk-colour("white");
  box-shadow: 0 2px 0 #00508c;

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(3);
    margin-bottom: 0;
  }
}

.start-page-banner__button.govuk-button:hover {
  background-color: #e8f1f8;
}
