{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm qualification on entry" %}
{% set backLink = './../overview' %}
{% set backText = "Back to draft record" %}
{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./../overview"  | orReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/undergraduate-qualification.html" %}

  {% set checkboxText %}
    {% if record | sourceIsManual %}
      I have completed this section
    {% else %}
      I have reviewed this section
    {% endif %}
  {% endset %}

  {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[undergraduateQualification][status]",
  items: [
    {
      value: "Completed",
      text: checkboxText,
      checked: checked(record.undergraduateQualification.status, "Completed")
    }
  ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

