{% extends "_templates/_page.njk" %}

{% set pageHeading %}
  Organisation – {{ provider.name }}
{% endset %}

{% set navActive = "provider" %}

{% set backText = "Back" %}
{% set backLink = 'token-manage' %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{provider.name}}</h1>

        {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify  %}

        <h2 class="govuk-heading-l">Create a token</h2>

        <p class="govuk-body">This API token is unique to your organisation.</p>

        <p class="govuk-body">You must make sure the token is securely sent to the developers managing your Register API integration.</p>

        <form action="/token-generated" method="post" novalidate>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
        label: {
        text: "Token name",
        classes: "govuk-!-font-weight-bold"
        },
        hint: {
        text: "Give this token a name to identify where it's being used"
        },
        classes: "govuk-input--extra-letter-spacing",
        id: "tokenName",
        name: "tokenName",
        spellcheck: false,
        value: ""
        }) }}

          {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

          {{ govukDateInput({
          id: "token_expiration_date",
          namePrefix: "token_expiration_date",
          fieldset: {
          legend: {
          text: "Expiration date (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s govuk-!-font-weight-bold"
          }
          },
          hint: {
          text: "For example, 27 3 2024"
          }
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
            text: "Generate token"
            }) }}

            <a class="govuk-link" href="#">Cancel</a>
          </div>

        </form>

      </div>
    </div>

{% endblock %}
