{% extends "_templates/_page.njk" %}

{% set pageHeading %}
Organisation – {{ provider.name }}
{% endset %}

{% set tokens = tokens %}

{% set navActive = "provider" %}

{% set backText = "Back" %}
{% set backLink = 'organisation' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{provider.name}}</h1>
    <h1 class="govuk-heading-l">{{ token }}</h1>

    {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify  %}

    <h2 class="govuk-heading-l">Manage your API tokens</h2>

    <p class="govuk-body">These API tokens are unique to your organisation.</p>

    <p class="govuk-body">You must make sure the token is securely sent to the developers managing your Register API integration.</p>

    <form action="/organisations/:providerUuid/token-details" method="get" novalidate>
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Generate a new token"
            }) }}
        <a class="govuk-link" href="organisation.njk">Cancel</a>
      </div>
    </form>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop">

    <h3 class="govuk-heading-m govuk-!-margin-top-9" style="color:#1d70b8;">Option Three <span class="govuk-!-font-size-19 govuk-!-font-weight-regular" style="color: #505a5f;">(Summary card)</span></h3>
    <!-- Experiment with a summary card style UI -->
    {% for token in tokens %}
      {% include "_includes/api-token-summary-card.njk" %}
    {% endfor %}

  </div>
</div>

{% endblock %}
