{% extends "_templates/_page.njk" %}

{% set pageHeading %}
  Organisation – {{ provider.name }}
{% endset %}

{% set navActive = "provider" %}

{% set backText = "Back" %}
{% set backLink = 'token-details' %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">{{provider.name}}</h1>

        {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify  %}


        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
        titleText: "Token generated",
        html: "Your API token is<br><strong>prod_aa6b3ac3ae3b50a4fbb6</strong>"
        }) }}

        <form action="/copy-token" method="post" novalidate>

          <p>Make sure to copy your API token now as you will not be able to see it again.</p>

          <p>You must make sure the token is securely sent to the developers managing your Register API integration.</p>

          {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
            text: "Copy token"
            }) }}

          <p class="govuk-body"><a href="/token-manage" class="govuk-link">Continue to manage tokens</a></p>
        </form>

      </div>
    </div>

{% endblock %}
