{% set selectedTrainees = data.records | getRecordsById(data.applyImportable.selectedTrainees) | sortRecordsByLastName %}

{% set traineeList %}

  {% if selectedTrainees | length > 1 %}
    <ul class="govuk-list">
  {% endif %}

  {% for trainee in selectedTrainees %}

    {% set subjects -%}
      {%- if trainee.courseDetails | subjectsAreIncomplete -%}
        {{- trainee.courseDetails.courseNameShort or trainee.courseDetails.subjects | prettifySubjects -}}
      {%- else -%}
        {{- (trainee.courseDetails.subjects | prettifySubjects | falsify ) or trainee.courseDetails.courseNameShort -}}
      {%- endif %}
    {%- endset %}

    {% if selectedTrainees | length > 1 %}
      <li class="govuk-!-margin-bottom-4">
    {% endif %}

    <p class="govuk-body govuk-!-margin-bottom-1">{{ trainee.personalDetails.fullName }}</p>
    <p class="govuk-hint">{{ subjects }}, {{trainee.route | lower}}</p>

    {% if selectedTrainees | length > 1 %}
      </li>
    {% endif %}

  {% endfor %}


  {% if selectedTrainees | length > 1 %}
    </ul>
  {% endif %}

{% endset %}


{% set rows = [
  {
    key: {
      text: "Application to import with conditions pending" if (selectedTrainees | length == 1) else "Applications to import with conditions pending"
    },
    value: {
      text: traineeList | safe or 'Not provided'
    },
    actions: {
      items: [
        {
          href: "./../apply-importable" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "selected applications"
        }
      ]
    } if canAmend
  }] %}

{% set summaryListHtml %}
  {{ govukSummaryList({
    rows: rows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Application import details",
  html: summaryListHtml
}) }}
