{% extends "_templates/_record-form.html" %}

{% if traineeStartDate %}
  {% set pageHeading = "When did the trainee start their ITT?" %}
{% else %}
  {% set pageHeading = "Did the trainee start their ITT on time?" %}
{% endif %}

{% set startConfirmed = true %}

{% set pageHeadingTraineeName = data.record.personalDetails | getShortName %}
{% set formAction = "./when-did-the-trainee-start-answer" | addReferrer(referrer) %}

{% block formContent %}

  {% include "_includes/forms/training-details/trainee-start-date.html" %}

{% endblock %}
