{% extends "_templates/_page.njk" %}

{% set navActive = 'bulk' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}

{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}
{% set pageHeading = "Your CSV is being checked" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <p class="govuk-body">This may take several minutes.</p>

      <p class="govuk-body">You will receive an email telling you if errors have been found, or if you can complete the register process.</p>

      <p class="govuk-body">You can also check the <a href="/bulk-update/add-new/validation-overview" class="govuk-link">status of new trainee files</a></p>

      <p class="govuk-body"><a href="/bulk-update/" class="govuk-link">Back to Bulk updates page</a></p>

    </div>
  </div>

{% endblock %}
