{% extends "_templates/_page.html" %}

{% set navActive = 'bulk' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}

{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}
{% set pageHeading = "Trainees submitted" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <p class="govuk-body govuk-body-lead">You can view your trainee records to check if they are correct.</p>

      <p class="govuk-body">
        <a href="/records" class="govuk-link">
          View your trainee records
        </a>
      </p>

      <p class="govuk-body">There are 3 ways to check trainee data in Register.</p>
      <p class="govuk-body">Choose whichever one of the following that suits you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Use the ‘Reports’ section and export a CSV of your new trainees for the current academic year</li>
        <li>Export a CSV of your trainees in the ‘Registered trainees’ section, using the ‘start year’ filter to select the current academic year</li>
        <li>Check your trainees directly in the service one by one</li>
      </ul>

    </div>
  </div>

{% endblock %}


