{% extends "_templates/_page.njk" %}

{% set pageHeading = "Bulk add new trainees" %}
{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}

{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}
{% set traineesWithoutStartDates = traineesThatCanBeUpdated | filterByNeedsStartDate | length %}
{% set traineesWithoutPlacements = traineesThatCanBeUpdated | filterByNeedsPlacements | length %}

{% set placementRowHeading = [] %}
{% for i in range(0, data.settings.minPlacementsRequired) %}
  {% set placementRowHeading = placementRowHeading | push('<span class="app-nowrap">‘Placement ' + loop.index + ' URN’</span>') %}
{% endfor %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<!--      <div class="govuk-error-summary" data-module="govuk-error-summary">-->
<!--        <div role="alert">-->
<!--          <h2 class="govuk-error-summary__title">-->
<!--            There is a problem-->
<!--          </h2>-->
<!--          <div class="govuk-error-summary__body">-->
<!--            <ul class="govuk-list govuk-error-summary__list">-->
<!--              <li>-->
<!--                <a href="#">The CSV template structure has been changed</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>
      <p class="govuk-body">
        Training providers can register their trainees in bulk by creating trainee records and adding the required data.
      </p>

      {{ govukInsetText({
      text: "You must only use this CSV file template to register new trainees. Using it to update already existing trainees will result in an error."
      }) }}

      <h2 class="govuk-heading-m">
        1. Download this CSV file template
      </h2>
      {{ appDownloadLink({
        linkText: "Download empty CSV file to add new trainees",
        fileName: "bulk-update/add-new",
        showDownloadedFileName: false,
        downloadedFileName: (data.signedInProviders + "-new trainees to add") | slugify,
        fileType: "csv"
      })}}

      <p class="govuk-body">You can adapt this CSV file template to add trainee data directly from your student record system.</p>

      <p class="govuk-body">If you're adapting the CSV file template for a direct extract from your student record system, you can go directly to step 3.</p>

      <h3 class="govuk-heading-m">
        2. Add new trainee details
      </h3>
      <p class="govuk-body">Open as a CSV file to add trainee details in bulk. There are 36 data fields. You will need to include trainee information such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>personal information</li>
        <li>course details</li>
        <li>funding (if applicable)</li>
      </ul>
      <p class="govuk-body">You can leave non mandatory rows or cells empty if you do not want to upload those fields.</p>

      {{ govukDetails({
      summaryText: "Help with copying data from Excel to CSV",
      html: "If you're copying trainee data from Excel to CSV, be aware Excel removes the 'leading zeros' from any data that begins with a zero, for example, trainee IDs.
      <br><br>
      To prevent this, you can first apply the Text format to the cells before you type or paste the numbers in Excel."
      }) }}

      <!-- Placeholder link added, the guidance hasn't been written yet so we don't have a URL to point to -->
      <p class="govuk-body">Check <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://staging.register-trainee-teachers.service.gov.uk/csv-docs">guidance on how add trainee information to the CSV template (opens in new tab)</a>.</p>
      <h4 class="govuk-heading-m">
        3. Upload your trainee records
      </h2>
      <form action="/bulk-update/add-new/upload-answer" method="post" novalidate>
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          hint: {
            text: "File type must be ‘CSV’."
          },
          label: {
            text: "Upload a file"
          },
          attributes: {
            "accept": ".csv"
          }
        }) }}
        {{ govukButton({
          text: "Upload records"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
