{% extends "_templates/_page.njk" %}

{% set pageHeading = "Bulk add new trainees" %}
{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}

{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}
{% set traineesWithoutStartDates = traineesThatCanBeUpdated | filterByNeedsStartDate | length %}
{% set traineesWithoutPlacements = traineesThatCanBeUpdated | filterByNeedsPlacements | length %}

{% set placementRowHeading = [] %}
{% for i in range(0, data.settings.minPlacementsRequired) %}
  {% set placementRowHeading = placementRowHeading | push('<span class="app-nowrap">‘Placement ' + loop.index + ' URN’</span>') %}
{% endfor %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<!--      <div class="govuk-error-summary" data-module="govuk-error-summary">-->
<!--        <div role="alert">-->
<!--          <h2 class="govuk-error-summary__title">-->
<!--            There is a problem-->
<!--          </h2>-->
<!--          <div class="govuk-error-summary__body">-->
<!--            <ul class="govuk-list govuk-error-summary__list">-->
<!--              <li>-->
<!--                <a href="#">The CSV template structure has been changed</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>

      <p class="govuk-body">You can register new trainees in bulk with a CSV file. <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://sandbox.register-trainee-teachers.service.gov.uk/bulk-update/add-trainees/empty-template.csv">This is the template CSV file to add new trainees.</a></p>

      <p class="govuk-body">You can leave non mandatory fields empty if you do not want to upload those fields.</p>

      <p class="govuk-body">You can also add trainee data directly from your student record system.</p>

      <p class="govuk-body">Check <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://staging.register-trainee-teachers.service.gov.uk/csv-docs">guidance on how to add trainee information to the CSV template (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">Checking your trainee records before adding to Register</h2>
      <p class="govuk-body">Uploaded CSVs are checked for errors before the final submission stage.</p>

       {{ govukInsetText({
         text: "These tests can also be used as a tool to check your file is valid without having to submit it."
       }) }}

      <p class="govuk-body">We will send you an email to tell you if the file is valid and ready for final submission. At this point trainees can be added to the database.</p>

      <h3 class="govuk-heading-m">Upload your trainee records</h3>
      <form action="/bulk-update/add-new/upload-answer" method="post" novalidate>
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          hint: {
            text: "File type must be ‘CSV’."
          },
          label: {
            text: "Upload a file"
          },
          attributes: {
            "accept": ".csv"
          }
        }) }}
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with the CSV file
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">The CSV file must include the following headers in the first row:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Provider Trainee ID</li>
              <li>Application ID</li>
              <li>HESA ID</li>
              <li>First Names</li>
              <li>Last Name</li>
              <li>Previous Last Name</li>
              <li>Date of Birth</li>
              <li>NI Number</li>
              <li>Sex</li>
              <li>Email</li>
              <li>Nationality</li>
              <li>Ethnicity</li>
              <li>Disability 1</li>
              <li>Disability 2</li>
              <li>Disability 3</li>
              <li>Disability 4</li>
              <li>Disability 5</li>
              <li>Disability 6</li>
              <li>Disability 7</li>
              <li>Disability 8</li>
              <li>Disability 9</li>
              <li>ITT Aim</li>
              <li>Training Route</li>
              <li>Qualification Aim</li>
              <li>Course Subject One</li>
              <li>Course Subject Two</li>
              <li>Course Subject Three</li>
              <li>Study Mode</li>
              <li>ITT Start Date</li>
              <li>ITT End Date</li>
              <li>Course Age Range</li>
              <li>Course Year</li>
              <li>Lead Partner URN</li>
              <li>Employing School URN</li>
              <li>Trainee Start Date</li>
              <li>PG Apprenticeship Start Date</li>
              <li>First Placement URN</li>
              <li>Fund Code</li>
              <li>Funding Method</li>
              <li>Training Initiative</li>
              <li>Additional Training Initiative</li>
              <li>UK Degree Type</li>
              <li>Non-UK Degree Type</li>
              <li>Degree Subject</li>
              <li>Degree Grade</li>
              <li>Degree Graduation Year</li>
              <li>Degree UK Awarding Institution</li>
              <li>Degree Country</li>
            </ul>
          </div>
        </details>
        {{ govukButton({
          text: "Upload CSV"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
