{% extends "_templates/_page.njk" %}

{% set navActive = 'bulk' %}

{% set pageHeading = "Upload summary" %}

{% set bulkPath =  "add-new" %}
{% set bulkRoute = "add-new" %}

{% set totalCount = data.bulkUpload.processedRows | length %}

{# Sets numbers for errors summary #}
{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{# {% set unchangedCount = 0 %} #}
{# {% set updatedCount = 0 %} #}

{% set simulateZeroTrainees = false %}

{% if simulateZeroTrainees %}
  {% set errorCount = 0 %}
  {% set updatedCount = 0 %}
{% endif %}

{% set hasErrors = errorCount > 0 %}

{% set hasUpdated = updatedCount > 0 %}

{% set filteredRecords = data.records | filterRecords(data) %}

{# TODO: TODO create a new function to populate errors. Hard code response in the interim #}
{% set updatedCount = 7 %}

{# Use the traineesThatCanBeAdded variable for New Trainees for the time being #}
{% set traineesThatCanBeAdded = filteredRecords | filterByReadyToRecommend %}
{% set qualifications = traineesThatCanBeAdded | getQualifications | orSeparate %}

{% block content %}
  {{super()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>
      {% set errorPluralisation = "error" | pluralise(errorCount) %}
      <form action="/bulk-update/add-new/confirmation" method="post" novalidate>

        <p class="govuk-body">You uploaded a CSV file with details of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            {{ updatedCount }} {{ "trainee" | pluralise(updatedCount) }} who can be added
          </li>
        </ul>

        {{ govukButton({
        text: "Process bulk upload",
        href: '/bulk-update/add-new/confirmation'
        }) }}

      </form>
      <p class="govuk-body">
        <a href="/bulk-update/add-new/cancel-bulk-updates" class="govuk-link">Cancel bulk upload</a>
      </p>
    </div>
  </div>

{% endblock %}
