{% extends "_templates/_page.njk" %}

{% set navActive = 'bulk' %}

{% set pageHeading = "Your file has been approved" %}

{% set bulkPath =  "add-new" %}
{% set bulkRoute = "add-new" %}

{% set totalCount = data.bulkUpload.processedRows | length %}

{# Sets numbers for errors summary #}
{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{# {% set unchangedCount = 0 %} #}
{# {% set updatedCount = 0 %} #}

{% set simulateZeroTrainees = false %}

{% if simulateZeroTrainees %}
  {% set errorCount = 0 %}
  {% set updatedCount = 0 %}
{% endif %}

{% set hasErrors = errorCount > 0 %}

{% set hasUpdated = updatedCount > 0 %}

{% set totalCount = 5 %}

{# Hard code value prior to creating new upload functions #}
{% set filteredRecords = data.records | filterRecords(data) %}

{# Use the traineesThatCanBeAdded variable for New Trainees for the time being #}
{% set traineesThatCanBeAdded = filteredRecords | filterByReadyToRecommend %}
{% set qualifications = traineesThatCanBeAdded | getQualifications | orSeparate %}

{% block content %}
  {{super()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<!--      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>-->
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>

      {% set errorPluralisation = "error" | pluralise(errorCount) %}
      <form action="/bulk-update/{{ bulkPath }}/errors-found-answer" method="post" novalidate>

        <p class="govuk-body">Your trainees_5.csv file has {{ totalCount }} {{ "trainee" | pluralise(totalCount) }} that can now be submitted and added to the Register service.</p>

        <p class="govuk-body">Once a trainee has been registered, a TRN is created for each trainee record.</p>

        {{ govukButton({
        text: "Submit trainees to Register",
        href: '/bulk-update/add-new/confirm-trainees-registered'
        }) }}


      </form>
      <p class="govuk-body">
        <a href="/bulk-update/add-new/cancel-bulk-updates" class="govuk-link">Cancel trainee submission to Register</a>
      </p>
    </div>
  </div>

{% endblock %}
