{% extends "_templates/_page.html" %}

{% set navActive = 'bulk' %}

{% set pageHeading = "Your file is being processed" %}

{% set bulkPath =  "add-new" %}
{% set bulkRoute = "add-new" %}

{% set totalCount = data.bulkUpload.processedRows | length %}

{# Sets numbers for errors summary #}
{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{# {% set unchangedCount = 0 %} #}
{# {% set updatedCount = 0 %} #}

{% set simulateZeroTrainees = false %}

{% if simulateZeroTrainees %}
  {% set errorCount = 0 %}
  {% set updatedCount = 0 %}
{% endif %}

{% set hasErrors = errorCount > 0 %}

{% set hasUpdated = updatedCount > 0 %}

{% set filteredRecords = data.records | filterRecords(data) %}

{# Use the traineesThatCanBeAdded variable for New Trainees for the time being #}
{% set traineesThatCanBeAdded = filteredRecords | filterByReadyToRecommend %}
{% set qualifications = traineesThatCanBeAdded | getQualifications | orSeparate %}

{% block content %}
  {{super()}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>

      <p class="govuk-body">We are processing your trainee records to check if they are correct.</p>

      <p class="govuk-body">This may take several minutes.</p>

      <p class="govuk-body">You’ll receive an email to tell you if the upload has been successful or if you need to fix any mistakes and upload an updated file.</p>

      <p class="govuk-body">You can also check the <a href="/bulk-update/add-new/validation-overview" class="govuk-link">status of new trainee files</a></p>

      <p class="govuk-body"><a href="/bulk-update/" class="govuk-link">Back to Bulk updates page</a></p>

    </div>
  </div>

{% endblock %}
