{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm funding details" %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/funding.html" %}
{{record | log}}

  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}
