{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

{% set bursary = record | getFinancialSupport %}

{% set scholarshipsApply = record | scholarshipsApply %}

{# We might not always have a bursary value at this stage - so conditionally set it #}
{% set bursaryValue = record | getFinancialSupportValue %}
{% if bursaryValue | falsify %}
  {% set bursaryValueText %} of {{ bursaryValue | currency }}{% endset %}
{% endif %}

{# Early years either have a bursary or not - it’s not based on subject #}
{% if record | isEarlyYears %}
  <p class="govuk-body">
    {{ record.route }} has a bursary available{{ bursaryValueText }}. You need to check if the trainee is eligible for this bursary.
  </p>

{% else %}

  <p class="govuk-body">
    The course you have selected has a bursary available{{ bursaryValueText }} for {{ bursary.subject | dynamicLowercase }}. You need to check if the trainee is eligible for this bursary.
  </p>

{% endif %}

<p class="govuk-body">
  <a href="https://www.gov.uk/government/publications/funding-initial-teacher-training-itt/funding-initial-teacher-training-itt-academic-year-2021-to-2022" class="govuk-link" rel="noreferrer noopener" target="_blank">Funding: initial teacher training (ITT), academic year 2021 to 2022 (opens in new tab)
  </a>
</p>

{# Tiers apply is just for Early years (postgrad) #}
{# Will probably want to refactor this section if any other routes have tiers #}
{% if bursary.tiersApply %}

  {% set items = [] %}
  {% for tier in bursary.tiers %}

    {% set bursaryText %}
      Yes - {{tier.name}} ({{tier.value | currency}})
    {% endset %}
    {% set items = items | push({
      text: bursaryText,
      value: tier.name,
      hint: {
        text: tier.hint
      }
    }) %}

  {% endfor %}

  {% set items = items | push({
    divider: "or"
  }) %}

  {% set items = items | push({
    text: "No, do not apply for a bursary",
    value: "true",
    hint: {
      text: "For example, the trainee is not eligible or has applied for a scholarship."
    }
  }) %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Are you applying for a bursary for this trainee?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: ""
    },
    items: items
  } | decorateAttributes(record, "record.funding.source")) }}


{# Non tiered courses with bursaries #}
{% else %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you want to apply for a bursary for this trainee?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes, apply for a bursary",
        value: "bursary"
      },
      {
        divider: "or"
      } if scholarshipsApply,
      {
        text: "No, the trainee has applied for a scholarship",
        value: "scholarship",
        hint: {
          text: record | getScholarshipValue | currency + " estimated scholarship"
        }
      } if scholarshipsApply,
      {
        text: "No, do not apply for a bursary",
        value: "self-funded",
        hint: {
          text: "For example, the trainee is not eligible or is self-funded"
        }
      }
    ]
  } | decorateAttributes(record, "record.funding.source")) }}

{% endif %}

{{ govukButton({
  text: "Continue"
}) }}
