{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

<p class="govuk-body">
Training initiatives are separate from bursaries and scholarships and are sometimes referred to as programmes or schemes. They provide incentives and support for people training to teach.
</p>

<p class="govuk-body">If you’re not sure if the trainee is on an initiative you could check with a colleague or ask the trainee directly.</p>

{% set initiatives = data.trainingRoutes[record.route].initiatives %}

{% if initiatives | length == 2 %}
  {% set radioLegend = "Is the trainee on either of these training initiatives?" %}
{% else %}
  {% set radioLegend = "Is the trainee on any of these training initiatives?" %}
{% endif %}

{% set radioItems = [] %}

{% for initiative in initiatives %}
  {% set radioItems = radioItems | push({
      text: initiative
  }) %}
{% endfor %}

{% set radioItems = radioItems | push({
  divider: "or"
}) %}

{% set radioItems = radioItems | push({
  text: 'Not on a training initiative'
}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: radioLegend,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: radioItems
} | decorateAttributes(record, "record.funding.initiative")) }}

{{ govukButton({
  text: "Continue"
}) }}
