{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm you want to cancel your bulk updates" %}

{% set returnLink = {
  href: 'javascript:history.back();',
  text: "Return to the previous page"
} %}

{% set bulkOnly = true if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}

  <h1 class="govuk-heading-l">
    {# {{pageHeading}} #}
    Confirm you want to cancel 
    {% if bulkOnly %}
      bulk recommending trainees
    {% else %}
      your <span class="app-nowrap">bulk updates</span>
    {% endif %}
  </h1>

  <p class="govuk-body">
    The updates you made to the trainee’s records will not be saved.
  </p>

  {{ govukButton({
    text: "Confirm cancel",
    href: "/bulk-update/recommend" if bulkOnly else "/bulk-update",
    classes: "govuk-button--warning"
  }) }}

{% endblock %}
