{% extends "_templates/_page.html" %}
{% set pageHeading = "Bulk updates" %}
{% set navActive = 'bulk' %}
{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}
{% set traineesWithoutStartDates = traineesThatCanBeUpdated | filterByNeedsStartDate | length %}
{% set traineesWithoutPlacements = traineesThatCanBeUpdated | filterByNeedsPlacements | length %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByCanBeRecommended %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>
      <p class="govuk-body">
        Make changes to multiple trainee records at the same time.
      </p> 
      <h2 class="govuk-heading-m">
        Add missing details
      </h2>
      {% if traineesThatCanBeUpdated %}
        <p class="govuk-body">
          You can bulk add {{ "trainee start dates" if traineesWithoutStartDates }} {{ "and" if traineesWithoutStartDates and traineesWithoutPlacements }} {{ "placement schools" if traineesWithoutPlacements }} to trainee records.
        </p>
        <p class="govuk-body">
          <a href="/bulk-update/add-details" class="govuk-link">
            Bulk add missing details to trainee records
          </a>
        </p>
      {% else %}
        <p class="govuk-body">
          You do not have any trainee records you can add missing
          details to in bulk.
        </p>
        {% include "_includes/bulk-update/update-individual-records.html" %}
      {% endif %}
      {% if traineesThatCanBeRecommended %}
        <h2 class="govuk-heading-m">
          Recommend trainees for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}
        </h2>
        <p class="govuk-body">
          You can bulk recommended {{ traineesThatCanBeRecommended | length }} {{"trainee" | pluralise(traineesThatCanBeRecommended.length)}} for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
          The DfE will award {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} where appropriate within <span class="app-nowrap">3 working days</span>.
        </p>
        <p class="govuk-body">
          <a href="/bulk-update/recommend" class="govuk-link">
            Bulk recommend trainees for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}
          </a>
        </p>
      {% else %}
        <h2 class="govuk-heading-m">
          Recommend trainees for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}
        </h2>
        <p class="govuk-body">
          You do not have any trainees that can be bulk recommended for
          {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
