{% extends "layouts/main.njk" %}

{% set primaryNavId = "users" %}

{% block pageTitle -%}
  Change user - {{ serviceName }} - GOV.UK
{%- endblock %}

{% set title = "Check your answers" %}

{% if currentUser %}
  {% set caption = "User - " + currentUser.firstName + " " + currentUser.lastName %}
{% else %}
  {% set caption = "Add user" %}
{% endif %}
{% set allowPersonalDetailChanges = (not currentUser) or (not (currentUser.lastSignedInAt)) %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    </h1>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: user.firstName
            },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            } if allowPersonalDetailChanges
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: user.lastName
            },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            } if allowPersonalDetailChanges
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: user.email
            },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            } if allowPersonalDetailChanges
          },
          {
            key: {
              text: "Is the account an API user?"
            },
            value: {
              text: "Yes" if (user.isApiUser === true or user.isApiUser === "true") else "No"
            },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "account type"
                }
              ]
            }
          },
          {
            key: {
              text: "Is the account active?"
            },
            value: {
              text: "Yes" if (user.isActive === true or user.isActive === "true") else "No"
            },
            actions: {
              items: [
                {
                  href: actions.change,
                  text: "Change",
                  visuallyHiddenText: "account active status"
                }
              ]
            }
          } if currentUser
        ]
      }) }}

      {{ govukButton({
        text: "Save user"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
