{% extends "layouts/main.njk" %}

{% set primaryNavId = "users" %}

{% block pageTitle -%}
{{ "Error: " if errors.length -}}
{% if currentUser -%}
  Change user - personal details
{%- else -%}
  Add user - personal details
{%- endif %}
 - {{ serviceName }} - GOV.UK
{%- endblock %}

{% set title = "Personal details" %}

{% if currentUser %}
  {% set caption = "User - " + currentUser.firstName + " " + currentUser.lastName %}
{% else %}
  {% set caption = "Add user" %}
{% endif %}
{% set userHasSignedIn = currentUser and currentUser.lastSignedInAt %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      {% include "_includes/page-heading-legend.njk" %}
    {% endset %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {% call govukFieldset({
        legend: {
          html: headingHtml,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {% if userHasSignedIn %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "First name"
              },
              value: {
                text: currentUser.firstName
              }
            },
            {
              key: {
                text: "Last name"
              },
              value: {
                text: currentUser.lastName
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: currentUser.email
              }
            }
          ]
        }) }}

        <input type="hidden" name="user[firstName]" value="{{ currentUser.firstName | default('') }}">
        <input type="hidden" name="user[lastName]" value="{{ currentUser.lastName | default('') }}">
        <input type="hidden" name="user[email]" value="{{ currentUser.email | default('') }}">
      {% else %}
        {{ govukInput({
          id: "firstName",
          name: "user[firstName]",
          label: {
            text: "First name",
            classes: "govuk-label--s"
          },
            errorMessage: errors | getErrorMessage("firstName"),
          value: user.firstName,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "lastName",
          name: "user[lastName]",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("lastName"),
          value: user.lastName,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "email",
          name: "user[email]",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Email must be a valid Department for Education address, like name@education.gov.uk"
          },
          errorMessage: errors | getErrorMessage("email"),
          value: user.email
        }) }}
      {% endif %}

      {{ govukRadios({
        name: "user[isApiUser]",
        classes: "govuk-radios--inline",
        fieldset: {
          legend: {
            text: "Is the account an API user?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        errorMessage: errors | getErrorMessage("isApiUser"),
        items: [
          {
            value: "true",
            text: "Yes",
            checked: user.isApiUser === true or user.isApiUser === "true"
          },
          {
            value: "false",
            text: "No",
            checked: user.isApiUser === false or user.isApiUser === "false"
          }
        ]
      }) }}

      {% if currentUser %}
        {{ govukRadios({
          name: "user[isActive]",
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Is the account active?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: errors | getErrorMessage("isActive"),
          items: [
            {
              value: "true",
              text: "Yes",
              checked: user.isActive === true or user.isActive === "true"
            },
            {
              value: "false",
              text: "No",
              checked: user.isActive === false or user.isActive === "false"
            }
          ]
        }) }}
      {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}

      {% endcall %}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
