{% extends "layouts/main.njk" %}

{% set primaryNavId = "users" %}

{% set title = "Users (" + pagination.totalCount | numeral("0,0") + ")" %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {{ govukButton({
      text: "Add user",
      href: actions.new
    }) }}

    {% if users.length %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for user in users %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="{{ actions.view }}/{{ user.id }}">
                  {{ user.firstName }} {{ user.lastName }}
                </a>
              </td>
              <td class="govuk-table__cell">
                {{ user.email if user.email else "Not entered" }}
              </td>
              <td class="govuk-table__cell">
                <div class="app-tag-list">
                  {% if user.isActive %}
                    {{ govukTag({
                      text: "Active",
                      classes: "govuk-tag--turquoise"
                    }) }}
                  {% else %}
                    {{ govukTag({
                      text: "Not active",
                      classes: "govuk-tag--grey"
                    }) }}
                  {% endif %}
                  {% if user.isApiUser %}
                    {{ govukTag({
                      text: "API user",
                      classes: "govuk-tag--yellow"
                    }) }}
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "_includes/pagination.njk" %}
    {% else %}
      <p class="govuk-body">There are no users.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
