{% include "_includes/bulk-update/upload-summary.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% set errorPluralisation = "error" | pluralise(updatedCount) %}
    <form action="/bulk-update/{{ bulkPath }}/errors-found-answer" method="post" novalidate>
      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      {{ govukRadios({
        fieldset: {
          legend: {
            text: "Do you want to fix the " + errorPluralisation + " now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          { 
            value: "Fix errors now",
            text: "Yes, review and fix " + errorPluralisation + " now"
          },
          {
            value: "Skip fixing errors",
            text: "No, continue without fixing " + errorPluralisation + " and check " + updatedCount  + " pending updates"
          }
        ]
      } | decorateAttributes(data, "data.bulk." + bulkRoute + "FixErrors" )) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="/bulk-update/cancel-bulk-updates" class="govuk-link">Cancel bulk {{ "recommending trainees" if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" else "updates to records" }}</a>
    </p>
  </div>
</div>
