<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      {{ pageHeading }}
    </h1>
    <h2 class="govuk-heading-m">
      1. Export a new template or update your original file
    </h2>
    <p class="govuk-body">
      <a href="/public/downloads/{{ bulkPath }}{{ "-with-errors" if pageContent == "fixErrors" }}.csv" download="{{ fileName}}">Your trainee records {{ "with a description of the errors" if pageContent == "fixErrors" }} (csv)</a>
    </p>
    <h2 class="govuk-heading-m">
      2. {{ "Fix the errors" if pageContent == "fixErrors" else "Update your trainee records" }}
    </h2>
    <p class="govuk-body">
      Changes you make to this file will overwrite previous files. For example, removing a row will mean no updates are made to that trainee’s record.
    </p>
  </div>
</div>
{% if pageContent == "fixErrors" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukTable({
      caption: tableCaption,
      captionClasses: tableCaptionClasses,
      head: tableHeadRow,
      rows: tableBodyRows
    }) }}
  </div>
</div>
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m">
      3. Upload your trainee records
    </h2>
    <form action="/bulk-update/{{ bulkPath }}/fix-file" method="post" novalidate>
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        hint: {
          text: "File type must be ‘csv’."
        },
        label: {
          text: "Upload a file"
        },
        attributes: {
          "accept": ".csv"
        }
      }) }}
      {{ govukButton({
        text: "Upload records"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="/bulk-update/{{ bulkPath }}/no-update" class="govuk-link">
        {% if pageContent == "fixErrors" %}
          Skip fixing errors and review pending updates to trainee records
        {% else %}
          Return to pending updates without making a change
        {% endif %}
      </a>
    </p>
    <p class="govuk-body">
      <a href="/bulk-update/cancel-bulk-updates" class="govuk-link">Cancel bulk updates to records</a>
    </p>
  </div>
</div>
