{% set filteredRecords = data.records | filterRecords(data) %}
<p class="govuk-body">
  You have {{ filteredRecords | filterByCannotBulkUpdate | length }} trainees with incomplete records.
</p> 
<p class="govuk-body">
  Not all trainee records can be updated in bulk and you may need to add information to these records individually.
</p>
<p class="govuk-body">
  <a href="/records?%5BfilterCompleteStatus%5D=Incomplete" class="govuk-link">
    View incomplete trainee records
  </a>
</p>
