<p class="govuk-body">
  Your file was uploaded, out of {{ data.bulkUpload.processedRows | length }} trainee records:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    {{ errorCount if errorCount else "No" }} trainee {{ "record" | pluralise(errorCount) }} had errors
  </li>
  <li>
    {{ unchangedCount if unchangedCount else "No" }} trainee {{ "record" | pluralise(unchangedCount) }} without changes
  </li>
  {%  if updatedCount > 0 %}
    <li>
      {{ updatedCount }} pending {{ "update" | pluralise(updatedCount) }} to trainee records
    </li>
  {% endif %}
</ul>
{%  if updatedCount == 0 %}
  <p class="govuk-body">
    You need to fix the errors before you can update the trainee records.
  </p>
{% endif %}
