{% set placementCount = record.placement.items | length %}
{% set hasCommencementDate = record.trainingDetails.commencementDate | length > 0 %}
{% set minPlacementsRequired = data.settings.minPlacementsRequired %}

{% if record | hasOutstandingActions and canAmend %}

    {{ appNoticeBanner({
      titleText: "You need to provide additional details before recording an outcome",
      itemList: [
        {
          text: "Confirm training placement details are complete" if placementCount >= minPlacementsRequired else "Add placement details",
          href: recordPath + "/placements/confirm" | addReferrer(referrer)
        } if record | needsPlacementDetails,
        {
          text: "Provide a trainee start date",
          href: recordPath + "/trainee-start-date" | addReferrer(referrer)
        } if not hasCommencementDate
      ]
    }) }}

{% endif %}
