<div class="app-application-card {{justNowClass}}">
  <div class="app-application-card_row app-application-card_row--header">
    <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">

      <!--<a href="#" class="govuk-link govuk-link--no-visited-state">-->
        {{ token.tokenName }}
      <!-- </a> -->
    </h3>

    <span class="app-application-card_tag-container">
      {# Status tag #}
      {{ miscTagsHtml | safe }}
      <span style="display: inline-block;">
        {% if token.tokenStatus == "Active" %}
          <strong class="govuk-tag govuk-tag--green">{{ token.tokenStatus }}</strong>
        {% elseif token.tokenStatus == "Revoked" %}
          <strong class="govuk-tag govuk-tag--red">{{ token.tokenStatus }}</strong>
        {% elseif token.tokenStatus == "Expired" %}
          <strong class="govuk-tag govuk-tag--grey">{{ token.tokenStatus }}</strong>
        {% endif %}
      </span>
    </span>
  </div>

  <div class="app-application-card_row app-application-card_row--body">
    <div class="app-application-card_col">
      <div>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">
          Created:
          <span class="app-nowrap">{{ token.dateCreated }}</span>
        </p>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">
          Revoked:
          <span class="app-nowrap">{{ token.dateRevoked }}</span>
        </p>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">
          Expired:
          <span class="app-nowrap">{{ token.dateExpired }}</span>
        </p>
      </div>

      <div>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">Created by: {{ token.createdBy }}</p>
      </div>
    </div>

    <div class="app-application-card_col">
      <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">
        Last used:
        <span class="app-nowrap">{{ token.lastUsedDate }}</span>
      </p>
    </div>
  </div>
</div>
