
{% set deletePath = "./../delete/confirm" | addReferrer(referrer) %}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">{{ pageHeadingTraineeName }}</span>
  {{ pageHeading }}
</h1>

<p class="govuk-body">
  You can only {{ recordTask }} after the trainee has started their ITT.
</p>
<p class="govuk-body">
  You can <a href="{{ deletePath }}">delete this trainee record</a>.
</p>
<p class="govuk-body">
  If you need more help, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=delete%20a%20trainee%20who%20started">becomingateacher@digital.education.gov.uk</a>.
</p>
