{% if errors | length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) if errors | length }}
    </div>
  </div>
{% endif %}
