<div class="govuk-footer">
  <div class="govuk-width-container">
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/admin">
          Settings
        </a>
      </li>

      <li class="govuk-footer__inline-list-item">
        <form method="post" action="/admin/clear-data" class="app-hidden-form">
          <button class="app-link-button">
            Clear data
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>
