{% set backText = "Home" %}
{% set backLink = '/home' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-xl">{{ data.signedInProviders | andSeparate }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
  </div>
</div>

{{ appSubNavigation({
  label: 'Sub navigation',
  classes: 'govuk-!-margin-bottom-4',
  items: [{
    text: 'Payment schedule ' + data.years.currentAcademicYear,
    href: "/funding/payment-schedule",
    active: paymentScheduleTab
  },
  {
    text: 'Trainee summary ' + data.years.currentAcademicYear,
    href: '/funding/trainee-summary',
    active: traineeSummaryTab
  }
]}) }}
