{% set backText = "Home" %}
{% set backLink = '/home' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-xl">{{ data.signedInProviders | andSeparate }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
  </div>
</div>

{{ appSubNavigation({
  label: 'Sub navigation',
  classes: 'govuk-!-margin-bottom-4',
  items: [{
    text: 'Monthly payments ' + data.years.currentAcademicYear,
    href: "/funding/monthly-payments",
    active: activeTabMonthly
  },
  {
    text: yearPaymentsTabName + ' ' + data.years.currentAcademicYear,
    href: '/funding/bursaries-scholarships',
    active: activeTabYearlyScitt
  } if accessLevel == 'accreditingProvider',
  {
    text: 'Grants ' + data.years.currentAcademicYear,
    href: '/funding/grants',
    active: activeTabYearlyLeadSchool
  } if accessLevel == 'leadSchool',
  {
    text: "Past year’s funding",
    href: '/funding/data',
    active: activeTabFundingData
  } if false
]}) }}
