{% set deferOrReinstateText -%}
  {%- if record | isDeferred -%}
    reinstate
  {%- else -%}
    defer
{%- endif %}

{% endset %}

{% if record | isActiveStatus %}

  {% if record | isHesaAndLocked %}
    {% set hesaRecordSummary %}
      <h3 class="govuk-heading-s">
        This record was imported from HESA and cannot be edited except to {{ deferOrReinstateText }} or withdraw the trainee.
      </h3>
      <p class="govuk-body">
        {# Assume sync has happened within in last 2 hours #}
        Last import for all HESA records at {{ moment().subtract(78, 'minutes') | govukDateTime }}
      </p>
     {#  <p class="govuk-body">
        You will be able to recommend the trainee for QTS at the end of the academic year.
      </p> #}
    {% endset %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukInsetText({
          text: hesaRecordSummary | safe,
          classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0"
        }) }}
      </div>
    </div>
  {% endif %}

{% endif %}
