<h1 class="govuk-heading-l">
  {% if caption.length %}
    <span class="govuk-caption-l">
      {{ caption }}
    </span>
  {% endif %}
  {{ title }}
  {% if headingTag.length %}
    {{ headingTag | safe }}
  {% endif %}
</h1>
