{# TODO: make pagination dynamic #}
<p class="govuk-body">
  Showing 1 to 100 of 346 results
</p>

{% if not page %}
  {% set page = 1 %}
{% endif %}

{{ govukPagination({
  previous: {
    href: "?page=" + prevPage
  } if page > 1,
  next: {
    href: "?page=" + nextPage
  } if page < 3,
  items: [
    {
      number: 1,
      href: "?page=1",
      current: true if page == 1
    },
    {
      number: 2,
      href: "?page=2",
      current: true if page == 2
    },
    {
      number: 3,
      href: "?page=3",
      current: true if page == 3
    }
  ]
}) }}
