{% set isImpersonating = data.isImpersonating == 'true' %}


{% set impersonateUserCtaHtml %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% set hasLeadPartner = record | hasLeadPartner %}
      {% set leadPartnerName = record | getLeadPartnerName %}

      <p class="govuk-body">View this information as {{record.provider}} {{"or " + leadPartnerName if hasLeadPartner }} would see it.</p>

      {% set buttonUrl = currentPageUrl + "?settings[userActiveProvider]=" + record.provider + "&isImpersonating=true&clearQuery=true" %}

      {% if hasLeadPartner %}
        <div class="govuk-button-group govuk-!-margin-bottom-0">
      {% endif %}
      {{ govukButton({
        classes: "govuk-!-margin-bottom-1",
        "text": "View as " + record.provider,
        href: buttonUrl
      }) }}

      {% if hasLeadPartner %}

        {% set leadPartnerUrl = currentPageUrl + "?settings[userActiveProvider]=" + leadPartnerName + "&isImpersonating=true&clearQuery=true" %}

        {{ govukButton({
          classes: "govuk-!-margin-bottom-1",
          "text": "View as " + leadPartnerName,
          href: leadPartnerUrl
        }) }}

        </div>
      {% endif %}

    </div>
  </div>
{% endset %}


{{ appAdminFeature({
  html: impersonateUserCtaHtml
}) }}




