<div class="record-actions__links">
  <p class="govuk-body govuk-!-margin-bottom-0">
    {% if (record | isDeferred) %}
      <a href="{{referrer}}/reinstate" class="govuk-link--no-visited-state">Reinstate</a> or <a href="{{ referrer + '/withdraw' | addReferrer(referrer) }}" class="govuk-link--no-visited-state"> withdraw</a> this trainee
    {% elseif (record | ittInTheFuture) %}
      <a href="{{ referrer + '/delete/confirm' | addReferrer(referrer) }}" class="govuk-link--no-visited-state">Delete this record</a>, or <a href="{{ referrer + '/defer/confirm'  | addReferrer(referrer) }}" class="govuk-link--no-visited-state">defer this trainee</a>
    {% elseif (record | ittStartedButNoCommencementDate) %}
      <a href="{{ referrer + '/delete/did-trainee-start'   | addReferrer(referrer) }}" class="govuk-link--no-visited-state">Delete this record</a>, or <a href="{{ referrer + '/defer/did-trainee-start'    | addReferrer(referrer) }}" class="govuk-link--no-visited-state">defer</a> or <a href="{{ referrer + '/withdraw/did-trainee-start' | addReferrer(referrer) }}" class="govuk-link--no-visited-state">withdraw</a> this trainee
    {% elseif (record | traineeStarted) %}
      <a href="{{ referrer + '/defer'    | addReferrer(referrer) }}" class="govuk-link--no-visited-state">Defer</a> or <a href="{{ referrer + '/withdraw' | addReferrer(referrer) }}" class="govuk-link--no-visited-state">withdraw</a> this trainee
    {% endif %}
  </p>
</div>
