<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/moj-frontend/moj/all.js"></script>


{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/autocomplete-sort.js"></script>

<script src="/public/javascripts/init-autocompletes.js"></script>

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
