{% set unfilteredRecords = data.records | filterRecords(data) %}


{% if navActive == "drafts" %}
  {% set totalTrainees = unfilteredRecords | filterByStatus("Draft") | length %}
{% else %}
  {% set totalTrainees = unfilteredRecords | filterByStatus("Draft", true) | length %}
{% endif %}

<h1 class="govuk-heading-xl">
  {{ traineesPageHeading }} 
{#   <span class="govuk-!-font-weight-regular">
    ({{ filteredRecordsRealCount }}{% if filteredRecordsRealCount != totalTrainees %} of {{ totalTrainees }}{% endif %}<span class="govuk-visually-hidden">{{ "record" | pluralise(filteredRecordsRealCount)}}</span>)
  </span> #}
  <span class="govuk-!-font-weight-regular">
    ({{ filteredRecordsRealCount }}<span class="govuk-visually-hidden">{{ " record" | pluralise(filteredRecordsRealCount)}}</span>)
  </span>
</h1>

