{% set unfilteredRecords = data.records | filterRecords(data) %}


{% if navActive == "drafts" %}
  {% set totalTrainees = unfilteredRecords | filterByStatus("Draft") | length %}
{% else %}
  {% set totalTrainees = unfilteredRecords | filterByStatus("Draft", true) | length %}
{% endif %}

<h1 class="govuk-heading-xl">
  {{ traineesPageHeading }} 
  <span class="govuk-!-font-weight-regular">
    ({{ filteredRecords | length}}{% if (filteredRecords | length) != (totalTrainees) %} of {{ totalTrainees }}{% endif %}<span class="govuk-visually-hidden">{{ "record" | pluralise(filteredRecords | length )}}</span>)
  </span>
</h1>

