{% set deferOrReinstateText -%}
  {%- if record | isDeferred -%}
    reinstate
  {%- else -%}
    defer
  {%- endif %}
{% endset %}

{% set showDisabledEditingButton = false %}


{% if record | isActiveStatus and record | sourceIsHESA and record.hesa.editingEnabled == true %}

  {% set hesaRecordSummary %}
    <h3 class="govuk-heading-s">
      Editing has been enabled on this HESA record.
    </h3>

    {% if showDisabledEditingButton %}
      <form action="{{ recordPath }}/toggle-editing" method="POST">
        {% if record.hesa.editingEnabled == true %}
          {{ govukButton({
            text: "Disable editing on this record",
            classes: "govuk-button--secondary"
          }) }}
        {# Won't currently get shown because this banner only shows if the record is locked - to consider later #}
        {% else %}
          {{ govukButton({
            text: "Enable editing on this record",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}
      </form>
    {% endif %}

    <p class="govuk-body">
      {# Assume sync has happened within in last 2 hours #}
      Last import for all HESA records at {{ moment().subtract(78, 'minutes') | govukDateTime }}
    </p>

  {% endset %}

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {{ govukInsetText({
      text: hesaRecordSummary | safe,
      classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>

{% endif %}
