{% set showPermissions = false %}

{% set isCurrentUser = user.fullName == data.defaultUser.fullName %}

<div class="app-user-card govuk-!-margin-bottom-6">

  <h3 class="govuk-heading-s">
    <span class="app-user-card--name">
      {{user.fullName}}{% if isCurrentUser %} (you){% endif %}
    </span>
    <span class="app-user-card--extra">
       – {{user.email}}
    </span>
  </h3>

  {# Permissions #}
  {% if showPermissions %}

    {% set userPermissions = (user.providers | getRecordById(provider.id)).access %}

    <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">
      Role: {{userPermissions.role}}
    </p>

    <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">
      {{ "You have" if isCurrentUser else "This user has" }} permission to:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">

      {% set permissions = userPermissions.permissions | sortPermissions %}
      
      {% for permission in permissions %}
        <li>{{permission}}</li>
      {% endfor %}

    </ul>

  {% endif %}


</div>
