{% extends "_templates/_record.html" %}

{% set backLink = '/records' %}
{% set backText = 'All registered trainees' %}
{% set pageHeading = data.record.personalDetails.shortName %}
{% set activeTab = 'admin' %}

{% block tabContent %}

  {% set referrer = recordPath + "/admin" %}

  {% set dqtAllowsReverts = false %}

  {# {% if record | isAwarded or record | isRecommended %}
    {% include "_includes/summary-cards/qualification-details.html" %}
  {% endif %}

  {% if record | isDeferred %}
    {% include "_includes/summary-cards/defer-details.html" %}
  {% endif %}

  {% if record | isWithdrawn %}
    {% include "_includes/summary-cards/withdraw-details.html" %}
  {% endif %} #}

  {% set canAmend = false %}

  {% include "_includes/summary-cards/record-admin/dqt.html" %}

  {% include "_includes/summary-cards/record-admin/hesa.html" %}

  {% if record | isActiveStatus or record | isWithdrawn %}

  {% set removeUrl = recordPath + "/admin/delete/details" | addReferrer(referrer) %}

    <p class="govuk-body govuk-!-margin-top-8"><a href="{{removeUrl}}" class="govuk-link app-destructive-link">Delete this trainee</a></p>
  {% endif %}

{% endblock %}
