{% extends "_templates/_record-form.html" %}

{% set pageHeading %}
  Editing enabled
{% endset %}

{% set deferOrReinstateText -%}
  {%- if record | isDeferred -%}
    reinstate
  {%- else -%}
    defer
  {%- endif %}
{% endset %}

{% set hideReturnLink = true %}
{# {% set backLink = 'false' %} #}

{% set formAction = "./did-trainee-start-answer" %}

{% block formContent %}

  {% include "_includes/trainee-name-caption.njk" %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">
    You can now make changes to this trainee.
  </p>

  <p class="govuk-body">
    The record is still linked to the HESA service. If you update it using HESA then any changes you’ve made in this service will be replaced by the data from HESA.
  </p>

  {{ govukButton({
    "text": "Return to trainee",
    href: recordPath + ""
  }) }}

{% endblock %}
