{% extends "_templates/_record-form.html" %}

{% set pageHeading %}
  You’re editing a record imported from HESA
{% endset %}

{% set deferOrReinstateText -%}
  {%- if data.record | isDeferred -%}
    reinstate
  {%- else -%}
    defer
  {%- endif %}
{% endset %}

{% set hideReturnLink = true %}
{# {% set backLink = 'false' %} #}

{% set formAction = "./did-trainee-start-answer" %}

{% block formContent %}

  {% set deferUrl %}
    {% if (record | ittInTheFuture) %}
      {{ recordPath + "/defer/confirm" | addReferrer(referrer) }}
    {% elseif (record | ittStartedButNoCommencementDate) %}
      {{ recordPath + "/defer/did-trainee-start" | addReferrer(referrer) }}
    {% else %}
      {{ recordPath + "/defer" | addReferrer(referrer) }}
    {% endif %}
  {% endset %}

  {% set reinstateUrl %}
    {% if (record | ittInTheFuture) %}
      {{ recordPath + "/reinstate/confirm" }}
    {% else %}
      {{ recordPath + "/reinstate" }}
    {% endif %}
  {% endset %}

  {% if not record | isDeferred %}
    {% set targetUrl = deferUrl %}
  {% else %}
    {% set targetUrl = reinstateUrl %}
  {% endif %}

  {% include "_includes/trainee-name-caption.njk" %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

{#   <p class="govuk-body">
    You can {{deferOrReinstateText}} this trainee.
  </p> #}
  <p class="govuk-body">
    The record is still linked to the HESA service. If you update it using HESA then any changes you’ve made in this service will be replaced by the data from HESA.
  </p>

  {{ govukButton({
    "text": "Continue to " + deferOrReinstateText,
    href: targetUrl
  }) }}

{% endblock %}
