{% extends "_templates/_record.html" %}

{% set backLink = '/records' %}
{% set backText = 'All registered trainees' %}
{% set pageHeading = data.record.personalDetails.shortName %}
{% set activeTab = 'personal-details' %}

{% block tabContent %}

  {% set referrer = recordPath + "/personal-details" %}

  {% include "_includes/summary-cards/personal-details.html" %}

  {% include "_includes/summary-cards/contact-details.html" %}

  {% if isAuthorised('viewDiversity') %}
    {% include "_includes/summary-cards/diversity.html" %}
  {% endif %}

  {% include "_includes/summary-cards/gcse-details.html" %}

  {% include "_includes/summary-cards/degree/details.html" %}
  
  {% include "_includes/summary-cards/undergraduate-qualification.html" %}

{% endblock %}
