{% extends "_templates/_page.html" %}

{% set pageHeading = 'Previous course changes' %}
{% set gridColumn = 'govuk-grid-column-full' %}

{# Todo - this is needed as we don't have a non-form page template for records #}
{% set record = data.record %}
{% if not record %}
  {% set record = {} %}
{% endif %}

{% block content %}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% for historicCourse in record.historicCourseDetails | reverse %}

  {% set recordBackup = record %}

  {# Override record so that subsequent summary cards render correctly #}
  {% set record = historicCourse.recordData %}
  <h2 class="govuk-heading-m">Course {{ loop.length - loop.index0 }} – ended {{ historicCourse.dateFinished | govukDate }}</h2>

  {% include "_includes/summary-cards/course-details.html" %}

  {% include "_includes/summary-cards/schools.html" %}

  {% include "_includes/summary-cards/funding.html" %}

  {# Restore the real record #}
  {% set record = recordBackup %}

{% endfor %}

{% endblock %}
