{% extends "_templates/_new-record.html" %}

{% if data.courses | getProviderCourses(data.record.provider, data.record.route) | length < 25 %}
  {% set pageHeading = "What course are they doing?" %}
{% else %}
  {% set pageHeading = "Are the course details stored on Publish?" %}
{% endif %}

{# {% set formAction = "./assessment-details/confirm" %} #}

{% block formContent %}
  {{ headingCaption(record.personalDetails.shortName) }}
  {% include "_includes/forms/course-details/pick-course.html" %}
{% endblock %}

