{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Review course" %}
{# {% set pageHeading = "Is this the correct course?" %} #}
{# {% set backLink = './../overview' %}
{% set backText = "Back to draft record" %} #}
{% set gridColumn = 'govuk-grid-column-full' %}

{# {% set formAction = "./../overview" | orReferrer(referrer) %} #}

{% block formContent %}

  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {% set courseDetails = record.courseDetails %}

  {# Don't show allocation row as that question comes later #}
  {% set hideAllocationRow = true %}
  {% set minimalPublishSummary = true %}
  {% include "_includes/summary-cards/course-details/non-early-years-course.html" %}

  {{ govukButton({
    text: "Choose specialisms",
    href: "./choose-specialisms"
  }) }}
  

{% endblock %}

