{% extends "_templates/_new-record.njk" %}

{% set pageHeading = "ITT start date" %}

{# {% set formAction = "./confirm" %} #}

{% block formContent %}
  {% include "_includes/forms/course-details/start-date.njk" %}
{% endblock %}
