{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

<p class="govuk-body">{{record.courseDetails.subjects | prettifySubjects }} has allocated places for the {{record.route | lower}} route.</p>

<p class="govuk-body">You should not recruit beyond your allocated places for this course.</p>

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Is this trainee using one of your allocated places?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes, they should come out of our allocation"
    },
    {
      value: "No",
      text: "No, they are not included within our allocation"
    }
  ]
} | decorateAttributes(record, "record.courseDetails.allocatedPlace")) }}

{{ govukButton({
  text: "Continue"
}) }}
