
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set publishCourse = record | getTraineePublishCourse %}


{# <p class="govuk-body">{{record.courseDetails.courseNameLong}} is recorded in Publish as starting in {{publishCourse.startDateVague | formatDate("MMMM YYYY")}} - but we do 
  not have complete start and end dates for it.
</p> #}

{% set courseIsDualStudyMode = true if (publishCourse.studyMode == "Full time or part time") else false %}

{% set studyMode = record.courseDetails.studyMode %}

{# part time > PartTime (hacky!) #}
{% set studyModeConcatinated = studyMode | title | replace(" ", "") %}

{# <p class="govuk-body">Dates you enter on this page will be used for future {{ record.courseDetails.studyMode | lower }} trainees on this course.</p> #}

{% if record | isFullTime %}
  {% set startDateArray = record.courseDetails.startDateFullTime | toDateArray %}
  {% set endDateArray = record.courseDetails.endDateFullTime | toDateArray %}
{% elseif record | isPartTime %}
   {% set startDateArray = record.courseDetails.startDatePartTime | toDateArray %}
   {% set endDateArray = record.courseDetails.endDatePartTime | toDateArray %}
{% endif %}


{% set startDateHint = "For example, " + "" | today | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateHint %}
    <p class="govuk-body govuk-hint">
      The start date of the Initial Teacher Training part of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{startDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "start-start-date",
  namePrefix: "record[courseDetails][startDate" + studyModeConcatinated + "]",
  fieldset: {
    legend: {
      text: "Course start date for all " + (studyMode | lower) + " trainees",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: startDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startDateArray["2"]
      }
    ]
}) }}


{% set endDateHint = "For example, " + "" | today | moment('add', 1, 'years') | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set endDateHint %}
    <p class="govuk-body govuk-hint">
      The start date of the Initial Teacher Training part of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{endDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "start-start-date",
  namePrefix: "record[courseDetails][endDate" + studyModeConcatinated + "]",
  fieldset: {
    legend: {
      text: "Course end date for all " + (studyMode | lower) + " trainees",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: endDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: endDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: endDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: endDateArray["2"]
      }
    ]
}) }}

<input name='record[courseDetails][saveDatesBackToCourse]' type="hidden" value="true">

{{ govukButton({
  text: "Continue"
}) }}


