<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<input name='record[courseDetails][subjects][first]' type="hidden" id="subject" value="Early years teaching">

<input name='record[courseDetails][level]' type="hidden" id="subject" value="Early years">


{% if record | requiresField("studyMode") %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Full time or part time?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        text: "Full time"
      },
      {
        text: "Part time"
      }
    ]
  } | decorateAttributes(record, "record.courseDetails.studyMode")) }}

{% endif %}


{% set programmeStartDateArray = record.courseDetails.startDate | toDateArray %}

{% set startDateHint = "For example, " + "" | today | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateLabel = "ITT start date" %}
{% else %}
  {% set startDateLabel = "Course start date" %}
{% endif %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateHint %}
    <p class="govuk-body govuk-hint">
      The start date of the Initial Teacher Training part of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{startDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "programme-start-date",
  namePrefix: "record[courseDetails][startDate]",
  fieldset: {
    legend: {
      text: startDateLabel,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    html: startDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeStartDateArray["2"]
      }
    ]
}) }}

{% set endDateHint = "For example, " + "" | today | moment('add', 1, 'years') | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set endDateLabel = "ITT end date" %}
{% else %}
  {% set endDateLabel = "Course end date" %}
{% endif %}

{% if record | courseDatesAreAmbiguous %}
  {% set endDateHint %}
    <p class="govuk-body govuk-hint">
      The end date of the Initial Teacher Training part of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{ endDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{% set programmeEndDateArray = record.courseDetails.endDate | toDateArray %}
{{ govukDateInput({
  id: "programme-end-date",
  namePrefix: "record[courseDetails][endDate]",
  fieldset: {
    legend: {
      text: endDateLabel,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    html: endDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeEndDateArray["2"]
      }
    ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}






