<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set hasMultipleSubjects = record.courseDetails.subjects | length > 1 %}

{{ appAutocomplete({
  label: {
    text: "Subject",
    classes: "govuk-label--s"
  },
  hint: {
    text: 'Select the closest matching subject'
  },
  id: 'subject_1',
  minLength: 2,
  autoSelect: true,
  showAllValues: false,
  classes: "app-!-autocomplete--max-width-two-thirds",
  name: "record[courseDetails][subjects][first]",
  items: data.ittSubjects,
  value: record.courseDetails.subjects.first
  }
) }}

{% set multipleSubjectsHtml %}

  <p class="govuk-body">The first subject is the main one. It represents the bursary or scholarship available if applicable.</p>

  {% for item in [2,3] %}

    {# 'second' or 'third' #}
    {% set ordinal = item | getOrdinalName %}

    {% set label %}
      {{ ordinal | sentenceCase }} subject (optional)
    {% endset %}

    {{ appAutocomplete({
      label: {
        text: label,
        classes: "_govuk-label--s"
      },
      hint: {
        text: 'Select the closest matching subject'
      },
      id: 'subject_' + (loop.index + 1),
      minLength: 2,
      autoSelect: true,
      showAllValues: false,
      allowEmpty: true,
      classes: "app-!-autocomplete--max-width-two-thirds",
      name: "record[courseDetails][subjects][" + ordinal + "]",
      items: data.ittSubjects,
      value: record.courseDetails.subjects[ordinal]
      }
    ) }}
  {% endfor %}
{% endset %}

{{ govukDetails({
  summaryText: "Add additional subjects",
  html: multipleSubjectsHtml,
  open: true if hasMultipleSubjects
}) }}

{# These account for 97.4% of choices #}
{% set commonAgeRanges = [
  "3 to 7",
  "3 to 11",
  "5 to 11",
  "11 to 16",
  "11 to 19"
  ] %}

{# Create radio items for each #}
{% set ageRangeRadioItems = [] %}
{% for ageRange in commonAgeRanges %}
  {% set ageRangeRadioItems = ageRangeRadioItems | push({
    text: ageRange
  }) %}
{% endfor %}

{% set uncommonAgeRanges = data.assessmentOnlyAgeRanges | removeArrayItems(commonAgeRanges) %}

{# Prefil existing answer #}
{% set ageRangeExistingValue = record.courseDetails.ageRange %}
{% if ageRangeExistingValue in commonAgeRanges %}
  {% set ageRangeExistingValue = undefined %}
{% endif %}

{% set ageRangeAutocomplete %}
  {{ appAutocomplete({
    label: {
      text: "Other age range",
      classes: "govuk-label--s"
    },
    id: 'age-range',
    name: "record[courseDetails][ageRangeOther]",
    classes: "app-!-autocomplete--max-width-one-third",
    items: uncommonAgeRanges,
    value: ageRangeExistingValue
    }
  ) }}
{% endset %}

{% set ageRangeRadioItems = ageRangeRadioItems | combineArrays(
  [{
    divider: 'or'
  },
  {
    text: "Other age range",
    checked: 'checked' if ageRangeExistingValue,
    conditional: {
      html: ageRangeAutocomplete
    }
  }]
) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Age range",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: ageRangeRadioItems
} | decorateAttributes(record, "record.courseDetails.ageRange")) }}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Full time or part time?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      text: "Full time"
    },
    {
      text: "Part time"
    }
  ]
} | decorateAttributes(record, "record.courseDetails.studyMode")) }}

{% if record | requiresField("apprenticeshipStartDate") %}

  {% set apprenticeshipStartDateArray = record.courseDetails.startDate | toDateArray %}

  {{ govukDateInput({
    id: "apprenticeship-start-date",
    namePrefix: "record[courseDetails][apprenticeshipStartDate]",
    fieldset: {
      legend: {
        text: "Apprenticeship start date",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, " + "" | today | toDateArray | spaceSeparate
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: apprenticeshipStartDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: apprenticeshipStartDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: apprenticeshipStartDateArray["2"]
        }
      ]
  }) }}

{% endif %}

{% set programmeStartDateArray = record.courseDetails.startDate | toDateArray %}

{% set startDateHint = "For example, " + "" | today | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateLabel = "ITT start date" %}
{% else %}
  {% set startDateLabel = "Course start date" %}
{% endif %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateHint %}
    <p class="govuk-body govuk-hint">
      The start date of the Initial Teacher Training portion of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{startDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "programme-start-date",
  namePrefix: "record[courseDetails][startDate]",
  fieldset: {
    legend: {
      text: startDateLabel,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    html: startDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeStartDateArray["2"]
      }
    ]
}) }}

{% set programmeEndDateArray = record.courseDetails.endDate | toDateArray %}

{% set endDateHint = "For example, " + "" | today | moment('add', 1, 'years') | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set endDateLabel = "ITT end date" %}
{% else %}
  {% set endDateLabel = "Course end date" %}
{% endif %}

{% if record | courseDatesAreAmbiguous %}
  {% set endDateHint %}
    <p class="govuk-body govuk-hint">
      The end date of the Initial Teacher Training portion of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{ endDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "programme-end-date",
  namePrefix: "record[courseDetails][endDate]",
  fieldset: {
    legend: {
      text: endDateLabel,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    html: endDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeEndDateArray["2"]
      }
    ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}






