{# Do a little dance working out if something should be pre-selected.
This is partly because we want this to work with seed-data too - and this page
has two possible UIs depending on how many courses a provider has. Thus we
defer to an id if one exists. #}
{% if record.courseDetails.isPublishCourse | falsify %}
  {% set selectedCourse = record.courseDetails.id %}
{% elseif record.courseDetails %}
  {% set selectedCourse = 'Other' %}
{% endif %}

{# If a provider has only a couple courses, we show each as a radio #}
{% set providerHasFewPublishCourses %}

  {% set courseItems = [] %}

  {% for course in providerCourses %}

    {% set courseHint %}
      {% if route %}
        {{ course.qualificationsSummary }}
      {% else %}
        {# Not filtered by route, so display the route in addition #}
        {{ course.qualificationsSummary }}, {{ course.route }}
      {% endif %}
    {% endset %}

    {% set courseItems = courseItems | push({
      text: course.courseNameLong,
      value: course.id,
      checked: checked(selectedCourse, course.id),
      hint: {
        text: courseHint
      }
    }) %}
  {% endfor %}

  {% set courseItems = courseItems | push({divider: 'or'}) %}

  {# Advance to route selection page #}
  {% set courseItems = courseItems | push({
    value: "Other",
    _text: "Another course not listed",
    text: "Enter course details manually",
    checked: checked(selectedCourse, "Other")
  }) %}

  {% set hintText %}
    {% if filteredRoute %}
      Your {{filteredRoute | lower | replace("(", "") | replace(")", "")}} courses in the Publish service
      {% else %}
      Your courses in the Publish service
    {% endif %}
    
  {% endset %}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What course are they doing?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: hintText
    },
    items: courseItems
  } | decorateAttributes(record, "record.selectedCourseTemp")) }}

{% endset %}

{# If a provider has lots of courses to show, we use an autocomplete #}
{% set providerHasManyPublishCourses %}

  {% if record.courseDetails.isPublishCourse | falsify %}
    {% set selectedCourseName = record.courseDetails.courseNameLong %}
  {% endif %}

  {% set courseAutocompleteHtml %}
    {{ appAutocompleteFromSelect({
      label: {
        text: "Select course"
      },
      hint: {
        text: 'Search by subject or course code'
      },
      id: 'publishCourse',
      name: "record[selectedCourseAutocompleteTemp]",
      items: providerCourses | getCourseNamesForSelect,
      classes: "govuk-!-width-two-thirds",
      value: selectedCourseName if selectedCourse !="Other",
      autocompleteOptions: {
        minLength: 2,
        autoselect: true,
        showAllValues: false,
        values: providerCourses | getCourseNamesForAutocomplete
      }
    }
    ) }}
  {% endset %}

  {% set isPublishCourse = true if (selectedCourse == 'publish-course') or record.courseDetails.isPublishCourse | falsify %}

  {% set courseItems = [] %}
  
  {% set courseItems = courseItems | push({
    value: 'publish-course',
    text: "Yes, it’s a course on Publish",
    conditional: {
      html: courseAutocompleteHtml
    },
    checked: isPublishCourse
  }) %}

  {% set courseItems = courseItems | push({
    value: 'Other',
    text: "No, it’s not on Publish",
    checked: true if (selectedCourse == 'Other' or data.record.selectedCourseTemp == "Other"),
    hint: {
      text: "Enter course details manually"
    }
  }) %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What course are they doing?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: courseItems
  } | decorateAttributes(record, "record.selectedCourseTemp")) }}
{% endset %}

{% include "_includes/trainee-name-caption.njk" %}

{% if providerCourses | length %}

  <h1 class="govuk-heading-l">{{pageHeading | safe}}</h1>

  {% set insetHtml %}
    <a href="./academic-year" class="govuk-link govuk-link--no-visited-state">Choose from courses starting in a different year</a>
  {% endset %}

  {{ govukInsetText({
    html: insetHtml
  }) }}

  {# Always in this route until we design a better journey for many courses #}
  {% if providerCourses | length < 25 %}

    {{ providerHasFewPublishCourses | safe }}

  {% else %}

    {{ providerHasManyPublishCourses | safe }}

  {% endif %}

{# No courses #}
{% else %}

  {# Something has gone wrong if this section is rendering #}
  <h1 class="govuk-heading-l">No courses found{{ (" for ${courseStartYear}" | stringLiteral) if courseStartYear }}</h1>
  <p class="govuk-body">You shouldn’t be seeing this page</p>

{% endif %}

{{ govukButton({
  text: "Continue"
}) }}
