{% set startStartDateArray = record.courseDetails.startDate | toDateArray %}

{% set startDateHint = "For example, " + "" | today | toDateArray | spaceSeparate %}

{% if record | courseDatesAreAmbiguous %}
  {% set startDateHint %}
    <p class="govuk-body govuk-hint">
      The start date of the Initial Teacher Training part of their course.
    </p>
    <p class="govuk-body govuk-hint">
      {{startDateHint | safe }}
    </p>
  {% endset %}
{% endif %}

{{ govukDateInput({
  id: "start-start-date",
  namePrefix: "record[courseDetails][startDate]",
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    html: startDateHint
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: startStartDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: startStartDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: startStartDateArray["2"]
      }
    ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}


