////
/// @group components/autocomplete
////

.autocomplete__wrapper {
  @include govuk-typography-common;
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-radius: 0;
  appearance: none;
}

.autocomplete__input {
  position: relative;
  padding: govuk-spacing(1);
  background-color: transparent;
}

.autocomplete__hint {
  position: absolute;
  color: govuk-colour("mid-grey");
}

.autocomplete__input--focused {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.autocomplete__input--show-all-values {
  padding-right: (govuk-spacing(1) + 24px + govuk-spacing(2));
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
  display: inline-block;
  position: absolute;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
  width: 24px;
  height: 24px;
}

.autocomplete__menu {
  width: 100%;
  width: calc(100% - #{govuk-spacing(1)});
  max-height: 342px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-top: 0;
  color: $govuk-text-colour;
  background-color: govuk-colour("white");
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  box-shadow: rgb(0 0 0 / 25.7%) 0 2px 6px;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  display: block;
  position: relative;
  border-bottom: solid govuk-colour("mid-grey");
  border-width: 1px 0;
  cursor: pointer;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: govuk-colour("light-grey");
}

.autocomplete__option--hint {
  display: block;
  color: $govuk-secondary-text-colour;
}

.autocomplete__option--bold {
  @include govuk-typography-weight-bold;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  border-color: govuk-colour("blue");
  outline: 0;
  color: govuk-colour("white");
  background-color: govuk-colour("blue");

  .autocomplete__option--hint {
    color: govuk-colour("white");
  }
}

.autocomplete__option--no-results {
  color: govuk-colour("dark-grey");
  background-color: govuk-colour("light-grey");
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-font(19);
}

.autocomplete__hint,
.autocomplete__option {
  padding: govuk-spacing(1);
}

// https://github.com/alphagov/accessible-autocomplete/issues/202
.autocomplete__dropdown-arrow-down {
  pointer-events: none;
}


.autocomplete__option-hint {
  display: block;
  @include govuk-font(16);
  color: $govuk-secondary-text-colour;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  color: govuk-colour("white");

  .autocomplete__option-hint {
    color: govuk-colour("white");
  }
}

// Overrides
.app-autocomplete--with-suggestions .autocomplete__menu {
  top: govuk-spacing(4);
  margin-bottom: govuk-spacing(7);
  border-top: 2px solid black;
}

.app-autocomplete--with-suggestions:not(.app-autocomplete--with-suggestions-no-results) .autocomplete__wrapper ul:before {
  content: 'Suggestions';
  display: block;
  width: 100%;
  padding: 4px 8px;
  border-bottom: 2px solid govuk-colour("black");
  background-color: govuk-colour("light-grey");
  @include govuk-font(16, $weight: regular);
}
