
.app-button-as-link {
  margin: 0;
  padding: 0;
  border: none;
  color: $govuk-link-colour; // Needed as govuk-link only targets :link
  // Reset default button styling
  background: none;
  text-decoration: underline;
  cursor: pointer;

  // GOV.UK link styles
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
}
