{% set assessmentEndDateArray = record.courseDetails.endDate | toDateArray %}

{# Collected now because they won't know the date before this #}
{{ govukDateInput({
  id: "assessment-end-date",
  namePrefix: "record[courseDetails][endDate]",
  fieldset: {
    legend: {
      text: "Assessment Only (AO) end date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: assessmentEndDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: assessmentEndDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: assessmentEndDateArray["2"]
      }
    ]
}) }}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "What was the standards assessed outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Passed"
    },
    {
      text: "Not passed"
    },
    {
      text: "Not taken"
    }
  ]
} | decorateAttributes(record, "record.qualificationDetails.standardsAssessedOutcome"))}}

{% set dateAssessmentPassedArray = record.qualificationDetails.dateAssessmentPassed | toDateArray %}

{{ govukDateInput({
  id: "date-standards-assessment-passed",
  namePrefix: "record[qualificationDetails][dateAssessmentPassed]",
  fieldset: {
    legend: {
      text: "Date of standards assessment",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: dateAssessmentPassedArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: dateAssessmentPassedArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: dateAssessmentPassedArray["2"]
      }
    ]
}) }}
{# 
{{ appAutocomplete({
  label: {
    text: "What is the qualification awarded?",
    classes: "govuk-label--s"
  },
  id: 'degree-country',
  name: "degreeTemp[country]",
  items: data.awards,
  classes: "govuk-!-width-two-thirds",
  value: degreeTemp.country
  }
) }} #}

{{ govukButton({
  text: "Continue"
}) }}
