{% extends "_templates/_page.njk" %}

{% set navActive = 'reports' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeUpdated = filteredRecords | filterByCanBulkUpdate %}

{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}
{% set pageHeading = "Census sign off submitted" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

    <h1 class="govuk-body">Census sign off completed.</h1>

    <p class="govuk-body">We have sent you and the other Register account users a confirmation email.</p>

    <h2 class="govuk-heading-s">What happens next</h2>

    <p class="govuk-body">If you have any questions email <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Census%20sign%20off">becomingateacher@digital.education.gov.uk</a></p>

  </div>
</div>

{% endblock %}
