{% extends "_templates/_page.njk" %}

{% set formAction = "./census-sign-off/confirm" | addReferrer(referrer) %}
{% set previousAcademicYear = data.years.previousAcademicYear %}
{% set academicYear = data.years.currentAcademicYear %}
{% set academicYearShort = data.years.currentAcademicYear | academicYearToYear %}
{% set nextAcademicYear = data.years.nextAcademicYear %}
{% set nextAcademicYearShort = data.years.nextAcademicYear | academicYearToYear %}


{% set providerName = data.settings.userActiveProvider %}
{% set ukprn = data.provider.ukprn %}
{% set approverName = "Jill Renner" %}

{% set pageHeading %}
  Census sign off
{% endset %}

{% set backLink = '/reports' %}
{% set backText = "Reports" %}
{% set navActive = 'reports' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Census sign off your organisation’s new trainee data for the {{ nextAcademicYear }} academic year</h1>

    <p class="govuk-body">Once you've checked your data is correct, you can sign off on behalf of your organisation.</p>

    {% include "_includes/summary-cards/census-sign-off.njk" %}

    {{ govukCheckboxes({
        name: "census-sign-off",
        fieldset: {
        legend: {
        text: "Confirm your organisation’s new trainee data is in Register, you’ve checked it’s correct and you’re signing it off",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
        },
        items: [
        {
        value: "census-signed-off",
        text: "Yes, the trainee data is correct to the best of my knowledge"
        }
        ]
        }) }}

    <div class="govuk-form-group">
      {{ govukButton({
          text: "Sign off census",
          href: "confirmation"
          }) }}
    </div>

  </div>
</div>
{% endblock %}
