{% extends "_templates/_page.njk" %}

{% set formAction = "./census-sign-off/confirm" | addReferrer(referrer) %}
{% set previousAcademicYear = data.years.previousAcademicYear %}
{% set academicYear = data.years.currentAcademicYear %}
{% set academicYearShort = data.years.currentAcademicYear | academicYearToYear %}
{% set nextAcademicYearSimple = data.years.nextAcademicYearSimple %}

{% set pageHeading %}
  Performance profile sign off
{% endset %}

{% set backLink = '/reports' %}
{% set backText = "Reports" %}
{% set navActive = 'reports' %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">


      <h1 class="govuk-heading-l">ITT census sign-off for the 2023 to 2024 academic year</h1>

      <p class="govuk-body">Use this form to sign off your new trainee data. Your organisation must sign off your new trainee data on or before 31 October 2023 so it will be included in the annual initial teacher training (ITT) census publication.</p>

      <p class="govuk-body">By signing off your data, you’re agreeing that:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you’ve registered all your new trainees and their data is in the Register service</li>
        <li>you’ve checked your new trainee data is correct and there are no known mistakes</li>
      </ul>

      <p class="govuk-body">We ask you to do this because it's important we have accurate data to use for the ITT census publication and to inform policy.</p>

      <p class="govuk-body">If you make updates to your data after 31 October 2023, these may not be included in the ITT census publication.</p>

      <p class="govuk-body">Once you submit this form, we’ll update our records to show your organisation has signed off your new trainee data and it’s in Register.</p>

      <p class="govuk-body">If you have any questions or issues that prevent you from signing off, email becomingateacher@education.gov.uk with email subject line: 2023 to 2024 signing off new trainee data.</p>

      <h2 class="govuk-heading-m">Who should sign off your data</h2>

      <p class="govuk-body">A senior person from your organisation must sign off your data. This should be a different person to who submitted the data.</p>












          <h1 class="govuk-heading-l">Export trainee data for the {{ previousAcademicYear }} performance profile sign off</h1>

          <p class="govuk-body">Signing off your list of trainees for the performance profiles publication deadline is 28 February {{ nextAcademicYearSimple }}.</p>

          <p class="govuk-body">As an accredited provider, you need to sign off your teacher trainee data from the previous {{ previousAcademicYear }} academic year.</p>

          <p class="govuk-body">The data you sign off will be included in the annual initial teacher training performance profiles publication. This will be published on GOV.UK.</p>

          <h2 class="govuk-heading-m">Finding your trainee data</h2>

          <p class="govuk-body">You need to check all registered trainees who studied in the previous {{ previousAcademicYear }} academic year.</p>

        <p class="govuk-body"><a class="govuk-link" href="#">Export {{ previousAcademicYear }} trainee data (237 trainees)</a>.</p>

          <h4 class="govuk-heading-m">Checking your trainee data</h4>

        <p class="govuk-body">You’ll need to check that all your trainees from the {{ previousAcademicYear }} academic year are listed. For each trainee you’ll need to check:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>course details</li>
          <li>status</li>
          <li>the date they were awarded qualified teacher status (QTS) or early years teacher status (EYTS), or deferred or withdrew from the course - unless they’re still studying</li>
          <li>2 placements for trainees that were QTS awarded</li>
        </ul>

        <h4 class="govuk-heading-m">Fixing mistakes in your trainee data</h4>
        <p class="govuk-body">You’ll need to fix any mistakes before you sign off the data.</p>

        <p class="govuk-body">Find out more on <a class="govuk-link" href="https://www.register-trainee-teachers.service.gov.uk/guidance/census-sign-offs">Signing off your list of trainees for the performance profiles publication</a> and <a class="govuk-link" href="https://www.register-trainee-teachers.service.gov.uk/guidance/manage-placements">managing your trainee placement data</a>.</p>

        <h4 class="govuk-heading-m">Signing off your trainee data</h4>
        <p class="govuk-body">If you have checked your data.</p>

        <div class="govuk-form-group">
          {{ govukButton({
          text: "Continue to performance profile sign off",
          href: "form"
          }) }}
        </div>

      </div>
    </div>
{% endblock %}
