{% set hasProblems = record | recordHasProblem %}
{% set recordProblems = record | getProblems %}
{% set isIncomplete = record | hasOutstandingActions %}
{% set countOfIssues = recordProblems | length %}

{# Combine incomplete with problems to get a total count #}
{% if isIncomplete %}
  {% set countOfIssues = countOfIssues + 1 %}
{% endif %}

{% if hasProblems %}
  {{recordProblems | log("Record problems:")}}
{% endif %}

{% set recordType = "record" if navActive == "records" else "draft" %}

{% set problemHeadings = {
  duplicate: "There’s a duplicate of this trainee",
  forgotten: "This trainee should have finished their training",
  deferredForgotten: "This trainee was deferred more than 3 years ago",
  incomplete: "This trainee has missing information"
} %}

{# Use a generic heading if there is more than one issue #}
{% set title %}
  {% if countOfIssues > 1 %}
    There are problems with this trainee
  {% else %}
    {% if hasProblems %}
      {{ problemHeadings[recordProblems[0].type] }}
    {% elseif isIncomplete %}
      {{ problemHeadings.incomplete }}
    {% endif %}
  {% endif %}
{% endset %}


{% set notificationBannerHtml %}
  <h3 class="govuk-notification-banner__heading">
    {{ title }}
  </h3>


    {% for problem in recordProblems | sort(attribute='type') %}

        {% if countOfIssues > 1 %}

          <h4 class="govuk-heading-s">
            {{loop.index}}. {{ problemHeadings[problem.type] }}
          </h4>

        {% endif %}

        {% include "_includes/record-problems/" + problem.type + ".njk" %}

    {% endfor %}


  {# Add incomplete to the end #}
  {% if isIncomplete %}

      {% if countOfIssues > 1 %}
        <h3 class="govuk-heading-s">
         {{countOfIssues}}. {{ problemHeadings.incomplete }}
        </h3>
      {% endif %}
      {% include "_includes/record-problems/incomplete.njk" %}

  {% endif %}

{% endset %}

{# Checking the status rather than canAmend, as we want the banner to show on locked hesa records #}
{% if (countOfIssues > 0) and record.status | canBeAmended %}
  {{ govukNotificationBanner({
    html: notificationBannerHtml,
    titleText: "Problem" | pluralise(countOfIssues)
  }) }}
{% endif %}
