
<p class="govuk-body">The trainee was deferred on 10 February 2020.</p>

<p class="govuk-body">
  If they’ve returned to training, you should reinstate them and update their expected end date.
</p>

<p class="govuk-body">
  If they’re still deferred, you should just update their expected end date.
</p>

<p class="govuk-body">
  Otherwise you should recommend them for QTS or remove them from this service.
</p>
