{% set hasProblems = record | recordHasProblem %}
{% set recordProblems = record | getProblems %}

{% set countOfIssues = recordProblems | length %}

{% if hasProblems %}
  {{recordProblems | log("Draft problems:")}}
{% endif %}

{% set recordType = "draft" %}

{% set problemHeadings = {
  duplicateDraft: "This draft is a duplicate"
} %}

{% if (countOfIssues > 0) and canAmend %}

  {# Either use the specific problem as a title, or a generic one #}
  {% set title %}
    {% if countOfIssues > 1 %}
      There are problems with this draft
    {% else %}
      {% if hasProblems %}
        {{ problemHeadings[recordProblems[0].type] }}
      {% elseif isIncomplete %}
        {{ problemHeadings.incomplete }}
      {% endif %}
    {% endif %}
  {% endset %}
  {% set problemItems = [] %}

  {% for problem in recordProblems | sort(attribute='type') %}

    {% set problemHtml %}
      {% if countOfIssues > 1 %}
        <h3 class="govuk-heading-s">fesgfes
          {{ problemHeadings[problem.type] }}
        </h3>
      {% endif %}
      {% include "_includes/record-problems/" + problem.type + ".njk" %}
    {% endset %}

    {% set problemItems = problemItems | push({
      html: problemHtml | safe
    }) %}
    
  {% endfor %}

  {{ appNoticeBanner({
    titleText: title,
    itemList: problemItems
  }) }}

{% endif %}
