{% set hasProblems = record | recordHasProblem %}
{% set recordProblems = record | getProblems %}

{% set countOfIssues = recordProblems | length %}

{# List out possible headings here #}
{% set problemHeadings = {
  duplicate: "This draft trainee is a duplicate"
} %}

{# Use a generic heading if there is more than one issue #}
{% set title %}
  {% if countOfIssues > 1 %}
    There are problems with this draft trainee
  {% else %}
    {% if hasProblems %}
      {{ problemHeadings[recordProblems[0].type] }}
    {% endif %}
  {% endif %}
{% endset %}

{% set notificationBannerHtml %}

  <h3 class="govuk-notification-banner__heading">
    {{ title }}
  </h3>
  {% for problem in recordProblems | sort(attribute='type') %}

    {% if countOfIssues > 1 %}
      <h4 class="govuk-heading-s">
        {{ problemHeadings[problem.type] }}
      </h4>
    {% endif %}
    {% include "_includes/record-problems/" + problem.type + ".njk" %}

  {% endfor %}

{% endset %}

{% if (countOfIssues > 0) and canAmend %}
  {{ govukNotificationBanner({
    html: notificationBannerHtml
  }) }}
{% endif %}
