

<p class="govuk-body">
  This trainee has the same details as <a href="#" class="govuk-link">{{record | getShortName}} (opens in a new tab)</a>.
</p>

<p class="govuk-body">
  You should withdraw one trainee. Email us if the trainee is not a duplicate.
</p>
