<p class="govuk-body">
  This draft trainee has the same details as <a href="#" class="govuk-link">{{record | getShortName}} (opens in a new tab)</a>.
</p>

<p class="govuk-body">
  You should withdraw or delete one trainee. Email us if the draft trainee is not a duplicate.
</p>
