
<p class="govuk-body">
  The trainee’s expected course end date was 12 July 2021.
</p>

<p class="govuk-body">
  If they’re actively training or have deferred, you should update the expected end date for their course.
</p>

<p class="govuk-body">
  Otherwise you should recommend them for QTS or withdraw them.
</p>
