
<p class="govuk-body">
  The trainee’s expected end date was 12 July 2021.
</p>

<p class="govuk-body">
  If they’ve deferred, you should defer them in this service and update their expected end date.
</p>

<p class="govuk-body">
  If they’re still in training, you should just update their expected end date.
</p>

<p class="govuk-body">
  Otherwise you should recommend them for QTS or remove them from this servce.
</p>
