{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm contact details" %}
{% set backLink = './../overview' %}
{% set backText = "Back to draft record" %}
{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./../overview" | orReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/contact-details.html" %}

  {% set checkboxText %}
    {% if record | sourceIsManual %}
      I have completed this section
    {% else %}
      I have reviewed this section
    {% endif %}
  {% endset %}

  {% if record | sourceIsManual or not data.settings.groupApplySections %}
    {{ govukCheckboxes({
      idPrefix: "contact-details",
      name: "record[contactDetails][status]",
      items: [
        {
          value: "Completed",
          text: checkboxText,
          checked: checked(record.contactDetails.status, "Completed")
        }
      ]
      }) }}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
