{% set provider = record.provider | getProviderData %}

{% set providerText %}
  {% if record.provider %}
    {{record.provider | safe}} ({{provider.providerCode or "C23"}})
  {% else %}
    Not provided
  {% endif %}
{% endset %}


{% set recordBaseRows = [
  {
    key: {
      text: "Accredited provider"
    },
    value: {
      text: providerText or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/accrediting-provider/change" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "accrediting provider"
        }
      ]
    } if canAmend
  }
  ] %}


{% set recordBaseHtml %}
  {{ govukSummaryList({
    rows: recordBaseRows
  }) }}
{% endset %}




{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Accredited provider",
  html: recordBaseHtml
}) }}

