
{% set personalDetailsRows = [
  {
    key: {
      text: "Full name"
    },
    value: {
      text: record.personalDetails | getFullName or 'Not entered'
    },
    actions: {
      items: [{
        href: recordPath + "/personal-details/edit" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "name"
      }]
    } if canAmend
  },
  {
    key: {
      text: "Date of birth"
    },
    value: {
      text: record.personalDetails.dateOfBirth | govukDate or "Not entered"
    },
    actions: {
      items: [{
        href: recordPath + "/personal-details/edit" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "date of birth"
      }]
    } if canAmend
  },
  {
    key: {
      text: "Gender"
    },
    value: {
      text: record.personalDetails.sex or 'Not entered'
    },
    actions: {
      items: [
        {
          href: recordPath + "/personal-details/edit" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "gender"
        }
      ]
    } if canAmend
  } if isAuthorised('viewDiversity'),
  {
    key: {
      text: "Nationality"
    },
    value: {
      text: record.personalDetails.nationality | uniq | removeArrayItem("Other") | joinify or 'Not entered'
    },
    actions: {
      items: [
        {
          href: recordPath + "/personal-details/edit" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "nationality"
        }
      ]
    } if canAmend
  } if isAuthorised('viewDiversity')
] | removeEmpty %}

{% set personalDetailsHtml %}
  {{ govukSummaryList({
    rows: personalDetailsRows | highlightInvalidRows
  }) }}
{% endset %}


{% set complete = record.personalDetails | sectionIsComplete %}
{% set status  = record.personalDetails | getStatusText %}
{% set sectionIsRequired = record | requiresSection("personalDetails") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "personal-details" %}
  {% if status == "Review" %}
    {% set incompleteText = "Personal details not reviewed" %}
    {% set incompleteLink = recordPath + "/personal-details/confirm" %}
    {% set incompleteLinkText = "Review section" %}
  {% elseif status == "In progress" %}
    {% set incompleteText = "Personal details not marked as complete" %}
    {% set incompleteLink = recordPath + "/personal-details/confirm" %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Personal details not started" %}
    {% set incompleteLink = recordPath + "/personal-details/edit" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Personal details",
    html: personalDetailsHtml
  }) }}
  
{% endif %}
