{# NB this summary card not used currently #}

{% set providerRows = [
  {
    key: {
      text: "Provider"
    },
    value: {
      text: record.provider or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/pick-provider" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "provider"
        }
      ]
    } if canAmend and false
  }
] %}

{% if data.signedInProviders | length > 1 %}
  {{ govukSummaryList({
    card: {
      title: {
        text: "Provider"
      }
    },
    rows: providerRows
  }) }}
{% endif %}
