
{% set qualificationDetailsRows = [
  {
    key: {
      text: "Date standards met"
    },
    value: {
      text: record.qualificationDetails.outcomeDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qualification/outcome-date" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "date standards met"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Qualification with " + record | getQualificationText
    },
    value: {
      text: record.outcome.academicQualification | getAcademicQualificationText
    },
    actions: {
      items: [
        {
          href: recordPath + "/outcome/academic-qualifications" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "academic qualifications"
        }
      ]
    } if canAmend
  } if record | academicQualificationsApply,
  {
    key: {
      text: "Date of assessment"
    },
    value: {
      text: record.qualificationDetails.dateAssessmentPassed | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qualification/outcome" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "date of assessment"
        }
      ]
    } if canAmend
  } if false
  ] %}

{% set qualificationDetailsHtml %}
  {{ govukSummaryList({
    rows: qualificationDetailsRows
  }) }}
  
{% endset %}

{% set complete = record.contactDetails | sectionIsComplete %}
{% set status  = record.contactDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "contact-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Contact details not marked as complete" %}
    {% set incompleteLink = recordPath + "/contact-details/confirm" %}
  {% else %}
    {% set incompleteText = "Contact details not started" %}
    {% set incompleteLink = recordPath + "/contact-details" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: (record | getQualificationText) + " details",
    html: qualificationDetailsHtml
  }) }}
  
{% endif %}

