
{% set recordBaseRows = [
  {
    key: {
      text: "Type of training"
    },
    value: {
      text: record.route or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/record-setup" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "route"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Trainee ID"
    },
    value: {
      text: record.trainingDetails.traineeId or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/record-setup" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee ID"
        }
      ]
    } if canAmend
  }
] %}

{% set complete = record.recordSetup | sectionIsComplete %}

{% set status  = record.recordSetup | getStatusText %}
{% set sectionIsRequired = record | requiresSection("recordSetup") %}

{% if not sectionIsRequired %}
  {# Section not required #}

{% else %}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Type of training"
      }
    },
    rows: recordBaseRows
  }) }}

{% endif %}
