{% set reinstateDateText %}
  {% if record | ittInTheFuture %}
    Trainee returned before their ITT started
  {% elseif record | traineeStarted %}
    {{ record.reinstateDate | govukDate }}
  {% else %}
    Not provided
  {% endif %}
{% endset %}

{% set reinstateDetailsRows = [
  {
    key: {
      text: "Date of return"
    },
    value: {
      text: reinstateDateText
    },
    actions: {
      items: [
        {
          href: recordPath + "/reinstate" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "reinstate date"
        }
      ]
    } if canAmend
  }
] %}

{% set reinstateDetailsHtml %}
  {{ govukSummaryList({
    rows: reinstateDetailsRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Reinstatement details",
  html: reinstateDetailsHtml
}) }}
