{% set providerText %}
  {% if record.provider %}
    {{record.provider}} (C85)
  {% else %}
    Not provided
  {% endif %}
{% endset %}


{% set providerRow = {
  key: {
    text: "Accrediting provider"
  },
  value: {
    text: providerText
  },
  actions: {
    items: [
      {
        href: recordPath + "/pick-provider" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "provider"
      }
    ]
  } if canAmend and false
} %}

{% set trnRow = {
  key: {
    text: "TRN"
  },
  value: {
    text: record.trn or 'Not provided'
  }
} %}

{% set regionRow = {
  key: {
    text: "Region"
  },
  value: {
    text: "South East"
  }
} %}

{% set referenceRow = {
  key: {
    text: "Reference"
  },
  value: {
    text: record.reference or 'Not provided',
    html: referenceHtml
  }
} %}


{% set traineeIdRow = {
  key: {
    text: "Provider trainee ID"
  },
  value: {
    text: record.trainingDetails.traineeId or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/trainee-id" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "provider trainee ID"
      }
    ]
  } if canAmend
} %}

{% set startYearRow = {
  key: {
    text: "Start year"
  },
  value: {
    text: record.academicYear or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/training-year" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "start year"
      }
    ]
  } if canAmend and false
} %}

{% set submittedDateHtml %}
  <p class="govuk-body">{{record.submittedDate | govukDate}}</p>
  <span class="govuk-hint">{{record.submittedDate | formatDate('relative')}}</span>
{% endset %}

{% set pendingTrnRow = {
  key: {
    text: "Submitted for TRN"
  },
  value: {
    html: submittedDateHtml | safe
  }
} %}



{% set recommendedForAwardContentHtml %}
  {{govukTag({
    text: (record | getQualificationText) + " recommended",
    classes: record.status | getStatusClass + " govuk-!-margin-bottom-2"
  })}} <br>
  {% if record.qualificationDetails.outcomeDate %}
    Recommended: {{record.qualificationDetails.outcomeDate | govukDate}}
  {% endif %}
{% endset %}

{% set recommendedForAwardRow = {
  key: {
    text: (record | getQualificationText)
  },
  value: {
    html: recommendedForAwardContentHtml
  }
} %}

{% set awardContentHtml %}
  {{govukTag({
    text: (record | getQualificationText) + " awarded",
    classes: record.status | getStatusClass + " govuk-!-margin-bottom-2"
  })}} <br>
  Awarded: {{record.qualificationAwardedDate | govukDate}}
{% endset %}

{% set awardRow = {
  key: {
    text: (record | getQualificationText)
  },
  value: {
    html: awardContentHtml
  }
} %}

{% set deferredContentHtml %}
  {{govukTag({
    text: "Deferred",
    classes: record.status | getStatusClass + " govuk-!-margin-bottom-2"
  })}} <br>
  {% if record.deferredDate %}
    Deferral date: {{record.deferredDate | govukDate}}
  {% else %}
    The trainee deferred before starting their ITT
  {% endif %}
{% endset %}

{% set deferredRow = {
  key: {
    text: "Trainee status"
  },
  value: {
    html: deferredContentHtml
  }
} %}


{% set withdrawalContentHtml %}
  {{govukTag({
    text: "Withdrawn",
    classes: record.status | getStatusClass
  })}} <br>
  {# Withdrawal date: {{record.withdrawalDate | govukDate}} <br>  #}
{% endset %}

{% set withdrawnRow = {
  key: {
    text: "Trainee status"
  },
  value: {
    html: withdrawalContentHtml
  }
} %}

{# {% set previousQtsOutcome %}
  {% if record.previousQtsOutcome == "For another reason" %}
    {{record.previousQtsOutcomeOther}}
  {% else %}
    {{record.previousQtsOutcome}}
  {% endif %}
{% endset %}

{% set qtsRowText %}
    {% if record.status == "QTS recommended" %}
      Previous QTS outcome
    {% else %}
      QTS outcome
    {% endif %}
{% endset %}

{% if record.qtsNotPassedOutcomeDate | length %}
  {% set qtsOutcomeContent %}
      Not recommended: {{previousQtsOutcome}}
  {% endset %}

  {% set studentRecordRows = studentRecordRows | push({
    key: {
      text: qtsRowText
    },
    value: {
      html: qtsOutcomeContent
    }
  }) %}
{% endif %} #}

{% set updatedDateHtml %}
  <p class="govuk-body">{{record.updatedDate | govukDate or 'Not provided'}}</p>
  {% if record.updatedDate | isInLast( 7, 'days') %}
    <span class="govuk-hint">{{ record.updatedDate | formatDate('relative') }}</span>
  {% endif %}
{% endset %}

{% set updatedDateRow = {
  key: {
    text: "Last updated"
  },
  value: {
    html: updatedDateHtml
  }
} %}

{% set recordCreatedRow = {
  key: {
    text: "Record created"
  },
  value: {
    text: record.submittedDate | govukDate or 'Not provided'
  }
} %}

{% set traineeStarted = (record.trainingDetails.commencementDate | length > 1) or record.trainingDetails.traineeStarted | falsify %}

{% set commencementDateLabel %}
  {% if record.courseDetails.startDate | isInFuture %}
    {{ "ITT has not started" }}
  {% elseif record.trainingDetails.commencementDate %}
    {{ record.trainingDetails.commencementDate | govukDate }}
  {% elseif record.trainingDetails.traineeStarted == "trainee-not-started" %}
    Trainee has not started yet
  {% endif %}
{% endset %}

{% set traineeStartDateRow = {
  key: {
    text: "Trainee’s start date"
  },
  value: {
    text: commencementDateLabel
  },
  actions: {
    items: [
      {
        href: recordPath + "/trainee-start-date" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "trainee’s start date"
      }
    ]
  } if canAmend and record.courseDetails.startDate | isInPast and not record | isDeferred
} %}

{% set traineeProgressRows = [
  providerRow if data.isAdmin or data.settings.userProviders | length > 1,
  trnRow if record.trn,
  referenceRow,
  traineeIdRow,
  regionRow if record | requiresField("region"),
  startYearRow,
  pendingTrnRow if record | isPendingTrn,
  recommendedForAwardRow if record | isRecommended,
  awardRow if record | isAwarded,
  deferredRow if record | isDeferred,
  withdrawnRow if record | isWithdrawn,
  updatedDate,
  recordCreatedRow,
  traineeStartDateRow
] | removeEmpty %}

{{traineeProgressRows | log}}

{% set traineeProgressHtml %}
  {{ govukSummaryList({
    rows: traineeProgressRows | highlightInvalidRows({
        treatEmptyAsMissing: true
      })
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Trainee progress",
  html: traineeProgressHtml
}) }}
