{% set withdrawalDate %}
  {% if record | isDeferred %}
    {{ record.withdrawalDate | govukDate }} (date of deferral)
  {% else %}
    {{ record.withdrawalDate | govukDate or "Not provided" }}
  {% endif %}
{% endset %}


{% set withdrawalReason %}
  {% if record.withdrawalReason == "For another reason" %}
    {{record.withdrawalReasonOther}}
  {% else%}
    {{record.withdrawalReason}}
  {% endif %}
{% endset %}



{% set withdrawDetailsRows = [
  {
    key: {
      text: "Trainee start date"
    },
    value: {
      text: record.trainingDetails.commencementDate | govukDate
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw/did-trainee-start" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee start date"
        }
      ]
    }
  },
  {
    key: {
      text: "Date of withdrawal"
    },
    value: {
      text: withdrawalDate
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "withdrawal date"
        }
      ]
    } if canAmend and record.status != "Deferred"
  },
  {
    key: {
      text: "Reason for withdrawal"
    },
    value: {
      text: withdrawalReason or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "withdrawal reason"
        }
      ]
    } if canAmend
  }
] %}

{% set withdrawDetailsHtml %}
  {{ govukSummaryList({
    rows: withdrawDetailsRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Withdrawal details",
  html: withdrawDetailsHtml
}) }}

