{% set withdrawalDate %}
  {% if record | isDeferred %}
    {{ record.withdraw.date | govukDate }} (date of deferral)
  {% else %}
    {{ record.withdraw.date | govukDate or "Not provided" }}
  {% endif %}
{% endset %}


{% set withdrawalReason %}
  {% if record.withdraw.reasons | length > 1 %}
    <ul class="govuk-list">
      {% for reason in record.withdraw.reasons %}
        <li>{{reason}}</li>
      {% endfor %}
    </ul>
  {% else %}
    {{record.withdraw.reasons}}
  {% endif %}
{% endset %}

{% set withdrawDetailsRows = [
  {
    key: {
      text: "Trainee start date"
    },
    value: {
      text: record.trainingDetails.commencementDate | govukDate
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw/did-trainee-start" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee start date"
        }
      ]
    }
  } if record.withdraw.showStartDate,
  {
    key: {
      text: "Reasons for withdrawal"
    },
    value: {
      text: withdrawalReason | safe or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw/details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "withdrawal reason"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Details of why the trainee withdrew"
    },
    value: {
      text: record.withdraw.additionalDetail or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw/additional-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "additional details"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "What the Department for Education could have done"
    },
    value: {
      text: record.withdraw.additionalDfE  or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw/additional-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "additional details"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Date of withdrawal"
    },
    value: {
      text: withdrawalDate
    },
    actions: {
      items: [
        {
          href: recordPath + "/withdraw" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "withdrawal date"
        }
      ]
    } if canAmend and record.status != "Deferred"
  }
] %}

{% set withdrawDetailsHtml %}
  {{ govukSummaryList({
    rows: withdrawDetailsRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Withdrawal details",
  html: withdrawDetailsHtml
}) }}

