{% extends "layouts/auth.njk" %}

{% set hideAccountNavigation = true %}

{% set title = "Sign in" %}

{% block pageTitle %}
  {{ "Error: " if errors | length }}{{ title + " - " if title }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">Sign in to access the Register of placement schools service.</p>

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      <input type="hidden" name="email" value="{{ email }}">

      <div class="govuk-form-group">
        <span class="govuk-label govuk-label--s">
          Email address
        </span>
        <div class="govuk-body">{{ email }}</div>
      </div>

      {{ govukInput({
        id: "password",
        name: "password",
        label: {
          text: "Password",
          classes: "govuk-label--s"
        },
        errorMessage: errors | getErrorMessage("password"),
        type: "password",
        autocomplete: "current-password",
        formGroup: {
          classes: "govuk-!-margin-bottom-2"
        },
        classes: "govuk-!-width-two-thirds"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Forgotten your password?
        </a>
      </p>

      {{ govukButton({
        text: "Sign in"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.back }}">Use a different email address</a>
    </p>

  </div>
</div>

{% endblock %}
