{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# custom components #}
{% from "_components/admin-banner/macro.njk" import appAdminBanner %}
{% from "_components/admin-feature/macro.njk" import appAdminFeature %}
{% from "_components/autocomplete-new/macro.njk" import appAutocompleteFromInput %}
{% from "_components/autocomplete-new/macro.njk" import appAutocompleteFromSelect %}
{% from "_components/autocomplete/macro.njk" import appAutocomplete %}
{% from "_components/banner/macro.njk" import appBanner %}
{% from "_components/download-link-with-filename/macro.njk" import appDownloadLink %}
{% from "_components/filter-page/macro.njk" import appFilterPage %}
{% from "_components/footer/macro.njk" import appFooter %}
{% from "_components/school-autocomplete/macro.njk" import appSchoolAutocomplete with context %}
{% from "_components/sub-navigation/macro.njk" import appSubNavigation %}
{% from "_components/timeline/macro.njk" import appTimeline %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}

    {# Show banner to get out of impersonation mode #}
    {% if data.isImpersonating | falsify %}
      {% include "_includes/impersonate-provider-banner.njk" %}
    {% endif %}

  {% include "_includes/cookie-banner.njk" %}

  {% set shouldShowOrganisationSwitchLink = (data.settings.userProviders | length > 1) and not data.isAdmin and not data.isImpersonating | falsify and not hidePrimaryNav and not isSupportUi %}

  {# Set serviceName in config.js. #}
  {% set headerClass = 'app-light-header' %}
  {{ govukHeader({
    homepageUrl: "/start-page",
    productName: serviceName if not isSupportUi else "Support for Register",
    serviceUrl: "/records",
    classes: headerClass,
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Your account"
      },
      {
        href: "/start-page",
        text: "Sign out"
      }
    ] if not hideNav
  }) }}

  {% if shouldShowOrganisationSwitchLink %}
    {% include "_includes/organisation-switcher.njk" %}
  {% endif %}

  {% set navItemsUser = [
    {
      text: 'Home',
      href: '/home',
      active: true if navActive == 'home'
    },
    {
      text: 'Draft trainees',
      href: '/drafts',
      active: true if navActive == 'drafts'
    } if isAuthorised('viewDrafts'),
    {
      text: 'Registered trainees',
      href: '/records',
      active: true if navActive == 'records'
    },
    {
      text: 'Bulk updates',
      href: '/bulk-update',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk recommend",
    {
      text: 'Bulk updates',
      href: '/bulk-update',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk updates",
    {
      text: 'Bulk actions',
      href: '/bulk-action/new',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk actions",
    {
      text: 'Courses',
      href: '/root/case-list',
      active: true if navActive == 'courses'
    } if false,
    {
      text: 'Reports',
      href: '/reports',
      active: true if navActive == 'reports'
    } if isAuthorised('exportRecords'),
    {
      text: 'Funding',
      href: '/funding/' + data.years.currentAcademicYearSimple + '/payment-schedule',
      active: true if navActive == 'Funding'
    } if data.settings.showFundingInPrimaryNav,
    {
      text: 'Organisation details',
      href: '/organisations/' + activeProvider.id,
      active: true if navActive == 'provider'
    } if not data.isAdmin and not data.isImpersonating | falsify and not isSupportUi
  ] | removeEmpty %}

  {% set navItemsSupport = [
    {
      text: 'Home',
      href: '/support',
      active: true if navActive == 'home'
    },
    {
      text: 'Draft trainees',
      href: '/support/trainees',
      active: true if navActive == 'drafts'
    },
    {
      text: 'Registered trainees',
      href: '/support/trainees',
      active: true if navActive == 'trainees'
    },
    {
      text: 'Users',
      href: '/support/users',
      active: true if navActive == 'users'
    },
    {
      text: 'Organisations',
      href: '/support/organisations',
      active: true if navActive == 'organisations'
    },
    {
      text: 'Schools',
      href: '/support/schools',
      active: true if navActive == 'schools'
    },
    {
      text: 'Courses',
      href: '/support/courses',
      active: true if navActive == 'courses'
    } if false,
    {
      text: 'Data',
      href: '/support/data',
      active: true if navActive == 'data'
    },
    {
      text: 'Funding',
      href: '/support/funding',
        active: true if navActive == 'funding'
    },
    {
      text: 'Settings',
      href: '/support/settings',
      active: true if navActive == 'settings'
    }
  ] | removeEmpty %}

  {% if isSupportUi %}
    {% set navItems = navItemsSupport %}
  {% else %}
    {{ currentPageUrl | log}}
    {% set navItems = navItemsUser %}
  {% endif %}

  {% if not hidePrimaryNav %}

    {{ govukServiceNavigation({
      ariaLabel: "Primary navigation",
      navigation: navItems
    }) }}

  {% endif %}

{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    attributes: {
      "role": "status"
    },
    tag: {
      text: "Prototype"
    },
    classes: 'govuk-!-margin-top-1',
    html: 'This is a prototype of a new service – your <a href="#" class="govuk-link">feedback</a> will help us improve it'
  }) }}

  {% block pageNavigation %}
  {% endblock %}

  {% block pageBanner %}
{% endblock %}

{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set metaHtml %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        Get support
      </h2>
      <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
        <li><a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
        <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        Give feedback
      </h2>
      <p class="govuk-body govuk-!-font-size-16"><a href="/guidance" class="govuk-link govuk-footer__link">Give feedback to help us improve <span class="app-nowrap">Register trainee teachers</span></a></p>
    </div>
  </div>
{% endset %}


{% if useAutoStoreData %}
  {% block footer %}

  <footer class="govuk-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__navigation">
        <div class="govuk-footer__section govuk-grid-column-two-thirds">
          <h2 class="govuk-footer__heading govuk-heading-m">How to use this service</h2>
          <ul class="govuk-footer__list govuk-footer__list--columns-2">
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="/service-updates">
                News and updates
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="/guidance">
                How to use this service
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="https://sandbox.register-trainee-teachers.service.gov.uk/api-docs/reference">
                API documentation
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="https://sandbox.register-trainee-teachers.service.gov.uk/csv-docs">
                CSV documentation
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="#">
                Reference data
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="/accessibility-statement">
                Accessibility
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="/cookies">
                Cookies
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="/privacy-notice">
                Privacy
              </a>
            </li>
            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="#">
                Give feedback to help us improve Register trainee teachers
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-footer__section govuk-grid-column-one-third">
          <h2 class="govuk-footer__heading govuk-heading-m">Get help</h2>
          <p class="govuk-body govuk-!-font-size-16">Email: <a href="#" class="govuk-footer__link">becomingateacher@digital.education.gov.uk</a></p>
          <p class="govuk-body govuk-!-font-size-16">We aim to respond within 5 working days, or one working day for more urgent queries'</p>
        </div>
      </div>
      <hr class="govuk-footer__section-break">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <svg
            aria-hidden="true"
            focusable="false"
            class="govuk-footer__licence-logo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 483.2 195.7"
            height="17"
            width="41">
            <path
              fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a
            class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </footer>
    {% include "_includes/footer-settings.njk" %}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
