<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set ukAddressHtml %}

  {% call govukFieldset({
    legend: {
      text: "Home address",
      classes: "govuk-fieldset__legend--s",
      isPageHeading: false
    }
  }) %}

    {{ govukInput({
      label: {
        html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>"
      },
      autocomplete: "address-line1",
      id: "address-line1",
      name: "record[contactDetails][address][line1]",
      value: record.contactDetails.address["line1"]
    }) }}

    {{ govukInput({
      label: {
        html: "<span class=\"govuk-visually-hidden\">Building and street line 2 of 2</span>"
      },
      autocomplete: "address-line2",
      id: "address-line2",
      name: "record[contactDetails][address][line2]",
      value: record.contactDetails.address["line2"]
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city"
      },
      classes: "govuk-!-width-two-thirds",
      autocomplete: "address-level2",
      id: "address-level2",
      name: "record[contactDetails][address][level2]",
      value: record.contactDetails.address["level2"]
    }) }}

    {# {{ govukInput({
      label: {
        text: "County"
      },
      classes: "govuk-!-width-two-thirds",
      autocomplete: "address-level1",
      id: "address-level1",
      name: "record[contactDetails][address][level1]",
      value: record.contactDetails.address["level1"]
    }) }} #}

    {{ govukInput({
      label: {
        text: "Postal code"
      },
      classes: "govuk-input--width-10 app-!-uppercase",
      autocomplete: "postal-code",
      id: "postal-code",
      name: "record[contactDetails][address][postcode]",
      value: record.contactDetails.address["postcode"]
    }) }}

  {% endcall %}

{% endset %}

{% set nonUkAddressHtml %}

{% set addressCombined = record.contactDetails.address %}
  {# {% set addressCombined = addressCombined | setAttribute('postcode', addressCombined.postcode | upper) %} #}
  {% set addressCombined = addressCombined | objectToArray | separateLines | safe %}

  {% if record.contactDetails.addressType == "international" %}
    {% set internationalAddress = record.contactDetails.internationalAddress or addressCombined %}
  {% endif %}

  {{ govukTextarea({
    label: {
      text: "Home address"
    },
    autocomplete: "street-address",
    classes: "govuk-!-margin-bottom-0",
    name: "record[contactDetails][internationalAddress]",
    value: internationalAddress
  }) }}
{% endset %}
{# 
{{ govukDetails({
  summaryText: "Add an international address",
  html: ukAddressHtml,
  open: true if record.contactDetails.internationalAddress
}) }} #}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Where does the trainee live?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      text: "Outside the UK",
      value: "international",
      conditional: {
        html: nonUkAddressHtml
      }
    },
    {
      text: "In the UK",
      value: "domestic",
      conditional: {
        html: ukAddressHtml
      }
    }
  ]
} | decorateAttributes(record, "record.contactDetails.addressType")) }}

{# For now we don't think we need phone number #}
{# {{ govukInput({
  id: "phone-number",
  name: "record[contactDetails][phoneNumber]",
  value: record.contactDetails.phoneNumber,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Phone number",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Enter a landline or mobile. For non-UK numbers, include the country code"
  }
}) }} #}

{{ govukInput({
  id: "email-address",
  name: "record[contactDetails][email]",
  value: record.contactDetails.email,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Email address",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Use the trainee’s personal email address"
  }
}) }}

{{ govukButton({
  text: "Continue"
}) }}


