
{% set enabledTrainingRoutes = [] %}
{% for route in data.settings.enabledTrainingRoutes %}
  {% if not data.trainingRoutes[route].disableForNewDrafts %}
    {% set enabledTrainingRoutes = enabledTrainingRoutes | push({text: route}) %}
  {% endif %}
{% endfor %}

{% set enabledTrainingRoutes = enabledTrainingRoutes | push({divider: "or"}) %}

{% set enabledTrainingRoutes = enabledTrainingRoutes | push({text: "Other"}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: enabledTrainingRoutes
} | decorateAttributes(record, "record.route")) }}


{{ govukButton({
  text: "Continue"
}) }}

