
{% set enabledTrainingRoutes = [] %}
{% for route in data.settings.enabledTrainingRoutes %}
  {% if not data.trainingRoutes[route].disableForNewDrafts %}
    {% set enabledTrainingRoutes = enabledTrainingRoutes | push({
      text: route,
      hint: {
        text: "Training run by higher education institutions (HEIs) or school centred
          initial teacher training (SCITT) providers"
      } if route | includes("Provider-led")
    }) %}
  {% endif %}
{% endfor %}

{% set enabledTrainingRoutes = enabledTrainingRoutes | push({divider: "or"}) %}

{% set enabledTrainingRoutes = enabledTrainingRoutes | push({text: "Other"}) %}

{% include "_includes/trainee-name-caption.njk" %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: enabledTrainingRoutes
} | decorateAttributes(record, "record.route")) }}


{{ govukButton({
  text: "Continue"
}) }}

