
{% set enabledTrainingRoutes = [] %}
{% for route in data.settings.enabledTrainingRoutes %}
  {% if not data.trainingRoutes[route].disableForNewDrafts %}
    {% set hint = false %}

    {% if route | includes("Provider-led") %}
      {% set hint = {
        text: "Training run by higher education institutions (HEIs) or school centred
          initial teacher training (SCITT) providers"
      } %}

    {% elseif route | includes("iQTS") %}
      {% set hint = {
        text: "This is a pilot programme that selected training providers are offering for the 2022 to 2023 academic year"
      } %}
    {% endif %}

    {% set enabledTrainingRoutes = enabledTrainingRoutes | push({
      text: route,
      hint: hint
    }) %}
  {% endif %}
{% endfor %}

{% include "_includes/trainee-name-caption.njk" %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: ""
  },
  items: enabledTrainingRoutes
} | decorateAttributes(record, "record.route")) }}


{{ govukButton({
  text: "Continue"
}) }}

