{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

{% set customWithdrawalDateArray = record.withdrawalDate | toDateArray %}
{% if record.withdrawalDate | isInLast(2, "days") and record.withdrawalDateRadio != "On another day" %}
  {% set customWithdrawalDateArray = undefined %}
{% endif %}

{% set customWithdrawalDate %}
  {{ govukDateInput({
    id: "custom-withdrawal-date",
    namePrefix: "record[withdrawalDate]",
    fieldset: {
      legend: {
        text: "Enter the withdrawal date",
        classes: "govuk-label govuk-label--s"
      }
    },
    hint: {
      text: "For example, " + "" | today | toDateArray | spaceSeparate
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: customWithdrawalDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: customWithdrawalDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: customWithdrawalDateArray["2"]
        }
      ]
  }) }}
{% endset %}

{# Trainees who withdraw whilst deferred must use deferral date as withdrawal date #}
{% if record | isDeferred %}
  {% set deferredTextHtml %}
    <p class="govuk-body">
      We’ll use the trainee’s deferral date of <span class="govuk-!-font-weight-bold">{{record.deferredDate | govukDate }}</span> as their withdrawal date.
    </p>
    <p class="govuk-body">
      To use a different date, <a href="./reinstate">reinstate this trainee</a>, then withdraw them.
    </p>
  {% endset %}

  <h2 class="govuk-heading-s">Withdrawal date</h2>

  {{ govukInsetText({
    html: deferredTextHtml
  }) }}

{% else %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "What date did the trainee formally withdraw?",
        classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-4"
      }
    },
    items: [
      {
        text: "Today"
      },
      {
        text: "Yesterday"
      },
      {
        text: "On another day",
        conditional: {
          html: customWithdrawalDate
        }
      }
    ]
  } | decorateAttributes(record, "record.withdrawalDateRadio")) }}

{% endif %}



{% set customWithdrawalReason %}
  {{ govukInput({
    label: {
        text: "Enter the reason for withdrawal",
        classes: "govuk-label govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  } | decorateAttributes(record, "record.withdrawalReasonOther")) }}
{% endset %}

{% set withdrawalReasonsItems = []  %}

{% for reason in data.withdrawalReasons %}
  {% set withdrawalReasonsItems = withdrawalReasonsItems | push ({ 
    text: reason
  }) %}
{% endfor %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({ 
  divider: "or"
}) %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({ 
  text: "For another reason",
  checked: storeWithdrawalReasonOther,
  conditional: {
    html: customWithdrawalReason
  }
}) %}

{% set withdrawalReasonsItems = withdrawalReasonsItems | push ({ 
  text: "Unknown"
}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Reason for leaving",
      classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-4"
    }
  },
  items: withdrawalReasonsItems
} | decorateAttributes(record, "record.withdrawalReason")) }}

{{ govukButton({
  text: "Continue"
}) }}
