{% extends "_templates/_form.html" %}

{% set pageHeading = "Import applications from Apply with conditions pending" %}

{% set filteredRecords = data.records | filterRecords(data) %}

{% set applyPendingRecords = filteredRecords | filterByStatus("Apply pending conditions") %}

{% if filteredRecords | length == 0 %}
  {% set pageHeading = "No applications to import from Apply" %}
{% endif %}

{% set navActive = 'drafts' %}

{% set returnLink = {
  href: "/drafts",
  text: "Cancel"
} %}

{% set formAction = "./apply-importable/confirm" | addReferrer(referrer) %}

{% set hideReturnLink = true if filteredRecords | length == 0 %}

{% block formContent %}
  {% include "_includes/forms/apply-importable/select-trainees.html" %}

{% endblock %}
