{% extends "layout.html" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, something went wrong</h1>

    <p class="govuk-body">
      Try again later.
    </p>

    <p class="govuk-body">
      If you continue to get this message, email the Register trainee teachers team at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Register%20trainee%20teachers%20support">becomingateacher@digital.education.gov.uk</a>.
    </p>

  </div>

</div>

{% endblock %}
