{% extends "layouts/error.njk" %}

{% set hideServiceNavigation = false %}
{% set hidePrimaryNavigation = true %}
{% set hidePhaseBanner = false %}
{% set hideFooterLinks = false %}

{% set title = "Ask for an account to access the " + serviceName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">Although you have a DfE Sign-in account, you also need an account to access the {{ serviceName }}.</p>
      <p class="govuk-body">If you think you should have an account, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
    </div>
  </div>
{% endblock %}
