{% extends "layouts/error.njk" %}

{% set hideServiceNavigation = false %}
{% set hidePrimaryNavigation = true %}
{% set hidePhaseBanner = false %}
{% set hideFooterLinks = false %}

{% set title = "You have not been linked to an organisation yet" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">You’ve successfully signed in to {{ serviceName }}, but your account has not been linked to an organisation yet.</p>
      <p class="govuk-body">Your account needs to be linked to an organisation so you can use {{ serviceName }}.</p>
      <p class="govuk-body">To be added to an organisation, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
      <p class="govuk-body">In your email tell us:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          the email address associated with your {{ serviceName }} account
        </li>
        <li>
          which organisation you’d like to be added to
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
