{% set expectedDuration = 'Not provided' %}
{% if record.courseDetails.duration | falsify %}
  {% set expectedDuration = record.courseDetails.duration + " years" %}
{% endif %}

{% set courseDetailsRows = [
  {
    key: {
      text: "Route"
    },
    value: {
      text: record.route or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/select-route" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "route"
        }
      ]
    } if canAmend and false
  } if record.status !="Draft",
  {
    key: {
      text: "Full time or part time"
    },
    value: {
      text: record.courseDetails.studyMode or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/course-details/details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "full time or part time"
        }
      ]
    } if canAmend
  } if record | requiresField("studyMode"),
  {
    key: {
      text: "Course start date" if not record | courseDatesAreAmbiguous else "ITT start date"
    },
    value: {
      text: record.courseDetails.startDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/course-details/details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "Course start date" if not record | courseDatesAreAmbiguous else "ITT start date"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Course end date" if not record | courseDatesAreAmbiguous else "ITT end date"
    },
    value: {
      text: record.courseDetails.endDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/course-details/details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "course end date" if not record | courseDatesAreAmbiguous else "ITT end date"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Trainee using an allocated place"
    },
    value: {
      text: record.courseDetails.allocatedPlace or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/course-details/allocated-place" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "allocated place"
        }
      ]
    } if canAmend
  } if record | hasAllocatedPlaces
  ] 
%}

{% set courseDetailsHtml %}
  {{ govukSummaryList({
    rows: courseDetailsRows
  }) }}
{% endset %}

{% set complete = record.courseDetails | sectionIsComplete %}
{% set status  = record.courseDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "course-details" %}
  {% if status == "Review" %}
    {% set incompleteText = "Course details not reviewed" %}
    {% set incompleteLink = recordPath + "/course-details/confirm" %}
    {% set incompleteLinkText = "Review section" %}
  {% elseif status == "In progress" %}
    {% set incompleteText = "Course details not marked as complete" %}
    {% set incompleteLink = recordPath + "/course-details/confirm" %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Course details not started" %}
    {% set incompleteLink = recordPath + "/course-details" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Course details",
    html: courseDetailsHtml
  }) }}
  
{% endif %}
