
{% set expectedDuration = 'Not provided' %}
{% if courseDetails.duration | falsify %}
  {% set expectedDuration = courseDetails.duration + " years" %}
{% endif %}

{# {% set canAmend = false %} #}

{% set courseNameRow = {
  key: {
    text: "Course name"
  },
  value: {
    text: courseDetails.courseNameLong | safe or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details" | addReferrer(referrer),
        text: "Change course"
      }
    ]
  } if canAmend
} %}

{% set routeRow = {
  key: {
    text: "Route"
  },
  value: {
    text: courseDetails.route | safe or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "route"
      }
    ]
  } if canAmend and false
} if record.status !="Draft" %}

{% set levelRow = {
  key: {
    text: "Education phase"
  },
  value: {
    text: courseDetails.phase | sentenceCase or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/phase" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "education phase"
      }
    ]
  } if canAmend
} %}

{% set subjectsRow = {
  key: {
    text: "Subject" | pluralise(record.courseDetails.subjects | length)
  },
  value: {
    text: courseDetails.subjects | prettifySubjects or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "subject"
      }
    ]
  } if canAmend
} %}

{% set ageRangeRow = {
  key: {
    text: "Age range"
  },
  value: {
    text: courseDetails.ageRange or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "age range"
      }
    ]
  } if canAmend
} %}

{% set studyModeRow = {
  key: {
    text: "Full time or part time"
  },
  value: {
    text: record.courseDetails.studyMode or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "full time or part time"
      }
    ]
  } if canAmend
} if record | requiresField("studyMode") %}

{% set apprenticeshipStartDateRow = {
  key: {
    text: "Apprenticeship start date"
  },
  value: {
    text: courseDetails.apprenticeshipStartDate | govukDate or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "apprenticeship start date"
      }
    ]
  } if canAmend
} if record | requiresField("apprenticeshipStartDate") %}

{% set startDateRow = {
  key: {
    text: "Start date" if not record | courseDatesAreAmbiguous else "ITT start date"
  },
  value: {
    text: courseDetails.startDate | govukDate or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "course start date" if not record | courseDatesAreAmbiguous else "ITT start date"
      }
    ]
  } if canAmend
} %}

{% set endDateRow = {
  key: {
    text: "End date" if not record | courseDatesAreAmbiguous else "ITT end date"
  },
  value: {
    text: courseDetails.endDate | govukDate("MMMM YYYY") or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "course end date" if not record | courseDatesAreAmbiguous else "ITT end date"
      }
    ]
  } if canAmend
} if false %}

{# {% set durationRow = {
  key: {
    text: "Duration"
  },
  value: {
    text: courseDetails.duration + (' year' | pluralise(courseDetails.duration)) or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "duration"
      }
    ]
  } if canAmend
} %} #}

{% set allocatedPlaceRow = {
  key: {
    text: "Trainee using an allocated place"
  },
  value: {
    text: courseDetails.allocatedPlace or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/course-details/allocated-place" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "allocated place"
      }
    ]
  } if canAmend
} if record | hasAllocatedPlaces and not hideAllocationRow %}


{% set courseDetailsRows = [
  courseNameRow,
  routeRow,
  levelRow,
  subjectsRow,
  ageRangeRow,
  studyModeRow,
  apprenticeshipStartDateRow,
  startDateRow,
  endDateRow,
  durationRow,
  allocatedPlaceRow
] %}

{# For apply drafts only - show a very minimal card with details of course #}
{% if minimalPublishSummary %}
  {% set courseDetailsRows = [
  courseNameRow,
  routeRow
  ] %}
{% endif %}


{% set courseDetailsHtml %}
  {{ govukSummaryList({
    rows: courseDetailsRows | highlightInvalidRows
  }) }}
{% endset %}


{% set complete = courseDetails | sectionIsComplete %}
{% set status  = courseDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "course-details" %}
  {% if status == "Review" %}
    {% set incompleteText = "Course details not reviewed" %}
    {% set courseMissingSpecialisms = courseDetails | subjectsAreIncomplete %}
    {% set courseDetailsHref = "/course-details/publish-minimal" if courseMissingSpecialisms else "/course-details/confirm" %}
    {% set incompleteLink = recordPath + courseDetailsHref %}
    {% set incompleteLinkText = "Review section" %}
  {% elseif status == "In progress" %}
    {% set incompleteText = "Course details not marked as complete" %}
    {% set incompleteLink = recordPath + "/course-details/confirm" %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Course details not started" %}
    {% set incompleteLink = recordPath + "/course-details" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Course details",
    html: courseDetailsHtml
  }) }}
  
{% endif %}
