{% extends "_templates/_page.html" %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByCanBeRecommended %}

{% set pageHeading = "Check pending updates before recommending trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set navActive = 'bulk' %}


{% set tableHeadRow = [
    {
      text: "Trainee",
      classes: "app-table__column-25"
    },
    {
      text: "Route and course",
      classes: "app-table__column-25"
    },
    {
      text: "Postgraduate qualification",
      classes: "app-table__column-25"
    },
    {
      text: "Date standards met",
      classes: "app-table__column-25"
    }
  ]
%}

{% set qtsTableBodyRows = [] %}
{% set eytsTableBodyRows = [] %}

{% for trainee in traineesThatCanBeRecommended %}

  {% set traineeInfo = trainee.personalDetails.shortName + '<br> <span class="govuk-hint">' + trainee.reference + '</span>' %}

  {% set row = [
    { text: traineeInfo | safe }
  ] %}
  
  {% set rowAndCourse %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ trainee.route }}</p>
    {% if trainee.courseDetails.courseNameLong %}
      <p class="govuk-body govuk-!-margin-bottom-1">{{ trainee.courseDetails.courseNameShort }}</p>
    {% endif %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      {{ trainee.courseDetails.studyMode }}
    </p>
  {% endset %}
  {% set row = row | push({ text: rowAndCourse | safe }) %}

  {% if trainee | isPostgraduate %}
    {% if trainee.route == "Assessment only" %}
      {% set academicAward = "—" %}
    {% else %}
      {% set academicAward = ["PGCE", "PGDE", "None"] | random %}
    {% endif %}
  {% else %}
    {% set academicAward = "—" %}
  {% endif %}
  {% set row = row | push({ text: academicAward }) %}

  {% set standardsMetDate = [range(1, 29) | random | padDigits(2), range(6, 7) | random | padDigits(2), data.years.defaultCourseYear + 1] %}
  {% set row = row | push({ text: standardsMetDate | govukDate })%}


  {% if trainee | getQualificationText == "QTS" %}
    {% set qtsTableBodyRows = qtsTableBodyRows | push(row) %}
  {% else %}
    {% set eytsTableBodyRows = eytsTableBodyRows | push(row) %}
  {% endif %}

{% endfor %}

{% set updatedTrainees = qtsTableBodyRows.length + eytsTableBodyRows.length %}

{# These counts are used by include "_includes/bulk-update/upload-summary.html  #}
{% set totalTraineeRecords = traineesThatCanBeRecommended.length %}
{% set errorCount = 0 %}
{% set unchangedCount = traineesThatCanBeRecommended.length - tableBodyRows.length %}
{% set updatedCount = updatedTrainees %}

{% set qtsTableCaption  = "Trainees to be recommended for QTS (" + qtsTableBodyRows.length + ")" %}
{% set eytsTableCaption = "Trainees to be recommended for EYTS (" + eytsTableBodyRows.length + ")" %}
{% set tableCaptionClasses = "govuk-table__caption--m" %}

{% set buttonText = "Recommend trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% set bulkPath = "recommend" %}

{% block content %}

  {% include "_includes/bulk-update/check-pending-updates.html" %}

{% endblock %}


