{% extends "_templates/_page.html" %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByCanBulkRecommend %}

{% set pageHeading = "Check pending updates before recommending trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set navActive = 'bulk' %}


{% set tableHeadRow = [
    {
      text: "Trainee",
      classes: "app-table__column-25"
    },
    {
      text: "Route and course",
      classes: "app-table__column-25"
    },
    {
      text: "Postgraduate qualification",
      classes: "app-table__column-25"
    },
    {
      text: "Date standards met",
      classes: "app-table__column-25"
    }
  ]
%}

{% set qtsTableBodyRows  = [] %}
{% set eytsTableBodyRows = [] %}

{# Combines errors and processed if the user has 'fixed the errors' #}
{% if data.bulk.recommendFixErrors %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "error")  %}
  {% set processedRows = processedRows | combineArrays(data.bulkUpload.processedRows | where("uploadStatus", "updated")) %}
{% else %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "updated") %}
{% endif %}

{# Sets numbers for errors summary – No errors if you're seeing the summary on this page #}
{% set errorCount     = 0 %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length %}
{% set updatedCount   = processedRows | length  %}

{% for row in processedRows %}

  {% set traineeInfoHtml %}
    <p class="govuk-body govuk-!-margin-bottom-1">
      {{ row.trainee.personalDetails.shortName }}
    </p>
    <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">
      {{ row.trainee.trn }}
    </p>
  {% endset %}

  {% set routeAndCourseHtml %}
    <p class="govuk-body govuk-!-margin-bottom-1">
      {{ row.trainee.courseDetails.courseNameShort if row.trainee.courseDetails.courseNameShort
        else row.trainee.route }}
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      {{ row.trainee.courseDetails.studyMode }}
    </p>
  {% endset %}

  
    {% set qualArray = row.trainee.courseDetails.qualifications | toArray %}
    {% set qualification = qualArray | removeArrayItems(["QTS", "EYTS"]) %}
    {% if row.trainee | isPostgraduate and qualification.length == 0 %}
      {% set qualification = "None" %}
    {% elseif qualification.length == 0 %}
      {% set qualification = "—" %}
    {% endif %}

  {% set tableRow = [
      { text: traineeInfoHtml    | safe },
      { text: routeAndCourseHtml | safe },
      { text: qualification },
      { text: row.assessmentDate | govukDate }
    ] %}

  {% if row.trainee | getQualificationText == "QTS" %}
    {% set qtsTableBodyRows = qtsTableBodyRows   | push(tableRow) %}
  {% else %}
    {% set eytsTableBodyRows = eytsTableBodyRows | push(tableRow) %}
  {% endif %}

{% endfor %}

{% set qtsTableCaption  = "Trainees to be recommended for QTS (" + qtsTableBodyRows.length + ")" %}
{% set eytsTableCaption = "Trainees to be recommended for EYTS (" + eytsTableBodyRows.length + ")" %}
{% set tableCaptionClasses = "govuk-table__caption--m" %}

{% set buttonText = "Recommend trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% set bulkPath = "recommend" %}

{% block content %}

  {% include "_includes/bulk-update/check-pending-updates.html" %}

{% endblock %}


