{% extends "_templates/_page.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/stick-to-window-when-scrolling.js"></script>
{% endblock %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set pageHeading = "Check pending updates before recommending trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set navActive = 'bulk' %}

{% set bulkOnly = true if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}

{% if bulkOnly %}
  {% set tableHeadRow = [
      {
        text: "Name",
        classes: "app-table__column-20"
      },
      {
        text: "ID",
        classes: "app-table__column-20"
      },
      {
        text: "Start academic year",
        classes: "app-table__column-20"
      },
      {
        text: "Route and course",
        classes: "app-table__column-20"
      },
      {
        text: "Date standards met",
        classes: "app-table__column-20"
      }
    ]%}
{% else %}
    {% set tableHeadRow = [
      {
        text: "Name",
        classes: "app-table__column-20"
      },
      {
        text: "ID",
        classes: "app-table__column-20"
      },
      {
        text: "Route and course",
        classes: "app-table__column-20"
      },
      {
        text: "Postgraduate qualification",
        classes: "app-table__column-20"
      },
      {
        text: "Date standards met",
        classes: "app-table__column-20"
      }
    ]%}
{% endif %}

{% set qtsTableBodyRows  = [] %}
{% set eytsTableBodyRows = [] %}

{# Combines errors and processed if the user has 'fixed the errors' #}
{% if data.bulk.recommendFixErrors %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "error")  %}
  {% set processedRows = processedRows | combineArrays(data.bulkUpload.processedRows | where("uploadStatus", "updated")) %}
{% else %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "updated") %}
{% endif %}

{# Sets numbers for errors summary – No errors if you're seeing the summary on this page #}
{% set errorCount     = 0 %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length %}
{% set updatedCount   = processedRows | length  %}

{% for row in processedRows %}

  {% set traineeIdHtml %}
    <p class="govuk-body govuk-!-margin-bottom-1">
      TRN: {{ row.trainee.trn }}
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      Trainee ID: {{ row.trainee.reference }}
    </p>
  {% endset %}

  {% set routeAndCourseHtml %}
    <p class="govuk-body govuk-!-margin-bottom-1">
      {{ row.trainee.route }}
    </p>
    {% if row.trainee.courseDetails.courseNameShort %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ row.trainee.courseDetails.courseNameShort }}
      </p>
    {% endif %}
  {% endset %}

  
    {% set qualArray = row.trainee.courseDetails.qualifications | toArray %}
    {% set qualification = qualArray | removeArrayItems(["QTS", "EYTS"]) %}
    {% if row.trainee | isPostgraduate and qualification.length == 0 %}
      {% set qualification = "None" %}
    {% elseif qualification.length == 0 %}
      {% set qualification = "—" %}
    {% endif %}

    {% if bulkOnly %}
      {% set tableRow = [
        { text: row.trainee.personalDetails.shortName },
        { text: traineeIdHtml                  | safe },
        { text: row.trainee.academicYear              },
        { text: routeAndCourseHtml             | safe },
        { text: row.assessmentDate        | govukDate }
      ]%}
    {% else %}
      {% set tableRow = [
        { text: traineeInfoHtml    | safe },
        { text: routeAndCourseHtml | safe },
        { text: qualification },
        { text: row.assessmentDate | govukDate }
      ]%}
    {% endif %}
  

  {% if row.trainee | getQualificationText == "QTS" %}
    {% set qtsTableBodyRows = qtsTableBodyRows   | push(tableRow) %}
  {% else %}
    {% set eytsTableBodyRows = eytsTableBodyRows | push(tableRow) %}
  {% endif %}

{% endfor %}

{% set qtsTableCaption  = "Trainees being recommended for QTS (" + qtsTableBodyRows.length + ")" %}
{% set eytsTableCaption = "Trainees being recommended for EYTS (" + eytsTableBodyRows.length + ")" %}
{% set tableCaptionClasses = "govuk-table__caption--m" %}

{% set buttonText %}
  {% if qtsTableBodyRows.length > 0 and eytsTableBodyRows.length > 0 %}
    Recommend {{ qtsTableBodyRows.length }} {{ "trainee" | pluralise(qtsTableBodyRows.length) }} for QTS and {{ eytsTableBodyRows.length }} {{ "trainee" | pluralise(eytsTableBodyRows.length) }} for EYTS
  {% else %}
    Recommend {{ qtsTableBodyRows.length + " trainees for QTS" if qtsTableBodyRows.length > 0 }}{{ eytsTableBodyRows.length + " trainees for QTS" if eytsTableBodyRows.length > 0 }}
  {% endif %}
{% endset %}

{% set bulkPath = "recommend" %}

{% block content %}

  {% include "_includes/bulk-update/check-pending-updates.html" %}

{% endblock %}


