{% extends "_templates/_page.html" %}

{% set navActive = 'bulk' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}


{% if data.bulk.recommendFixErrors %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "error")  %}
  {% set processedRows = processedRows | combineArrays(data.bulkUpload.processedRows | where("uploadStatus", "updated")) %}
{% else %}
  {% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "updated") %}
{% endif %}

{# Get an array of the trainees #}
{% set processedTrainees = processedRows | lodash("map", "trainee") %}


{% set pageHeading = processedTrainees | length  + " trainee records recommended for " + processedTrainees | getQualifications | orSeparate %}

{% set incompleteRecords = filteredRecords | filterByIncomplete %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <p class="govuk-body">
        The Department for Education will award {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} within 3 working days.
      </p>

      <h2 class="govuk-heading-m">
        You can now:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/records" class="govuk-link">view all registered trainees</a></li>
        {% if incompleteRecords | length%}
          <li><a href="/records?filterCompleteStatus=Incomplete" class="govuk-link">view your incomplete trainees ({{incompleteRecords | length}})</a></li>
        {% endif %}
        <li><a href="/records?filterEndYears={{ data.years.currentAcademicYear }}" class="govuk-link">view registered trainees whose course ends in the {{ data.years.currentAcademicYear }} academic year</a></li>
        <li><a href="/drafts" class="govuk-link">view all draft trainees</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
