{% extends "_templates/_page.html" %}

{% set navActive = 'bulk' %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{# Sets numbers for errors summary #}
{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{% set processedRows = data.bulkUpload.processedRows | where("uploadStatus", "updated") %}

{# Get an array of the trainees #}
{% set processedTrainees = processedRows | lodash("map", "trainee") %}


{% set pageHeading = updatedCount + " trainees recommended for " + processedTrainees | getQualifications | orSeparate %}

{% set incompleteRecords = filteredRecords | filterByIncomplete %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <p class="govuk-body">
        The Department for Education will award {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} within 3 working days.
      </p>

      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p class="govuk-body">
        {% if traineesThatCanBeRecommended | length %}
          You can recommend {{traineesThatCanBeRecommended | length }} more trainees. 
        {% endif %}You can now:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        {% if traineesThatCanBeRecommended | length %}
          <li><a href="/bulk-update/recommend" class="govuk-link">bulk recommend more trainees</a></li>
        {% endif %}
        <li><a href="/records" class="govuk-link">view your list of registered trainees</a> - if you mark a trainee as withdrawn or deferred, they will not appear in the list of trainees you can recommend</li>
      </ul>

      {{data | log}}
    </div>
  </div>

{% endblock %}
