{% extends "_templates/_page.html" %}
{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set bulkOnly = true if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
{% set pageContent = "fixErrors" %}
{% set pageHeading = "Fix errors in your pending updates" %}


{% set bulkPath = "recommend" %}

{% set rowsWithErrors = data.bulkUpload.processedRows | where("uploadStatus", "error") %}
{% set tableBodyRows = [] %}

{% set errorCount     = data.bulkUpload.processedRows | where("uploadStatus", "error") | length  %}
{% set unchangedCount = data.bulkUpload.processedRows | where("uploadStatus", "unchanged") | length  %}
{% set updatedCount   = data.bulkUpload.processedRows | where("uploadStatus", "updated") | length  %}

{% for row in rowsWithErrors %}

  {% set trn = row.trainee.trn %}
  {% set providerTraineeId = row.trainee.reference %}
  {% set firstName = row.trainee.personalDetails.givenName %}
  {% set lastName = row.trainee.personalDetails.familyName %}
  {% set dateStandardsMet = row.assessmentDate %}

  {% if row.errorMessage == "Date standards met provided without a TRN or Provider trainee ID - add a TRN or Provider trainee ID or remove the date standards met" %}
    {% set trn  = "—" %}
    {% set providerTraineeId  = "—" %}
    {% set firstName = "—" %}
    {% set lastName  = "—" %}
  {% endif %}

  {% if row.errorMessage == "TRN and Provider trainee ID are not for the same trainee" %}
    {% set firstName = "—" %}
    {% set lastName  = "—" %}
  {% endif %}

  {% if row.errorMessage == "Date standards met: '20/09/2023' - date standards met must be in the past" %}
    {% set dateStandardsMet = '20/09/2023' %}
  {% endif %}

  {% set tableRow = [
    { text: row.rowNumber + 2 },
    { text: trn               },
    { text: providerTraineeId },
    { text: firstName         },
    { text: lastName          },
    { text: dateStandardsMet  },
    { text: row.errorMessage  }
  ] %}

  {% set tableBodyRows = tableBodyRows | push(tableRow) %}

{% endfor %}

{% set tableCaption = "Trainee " + 'record' | pluralise(tableBodyRows.length) + " with errors (" + tableBodyRows.length + ")" %}
{% set tableCaptionClasses = "govuk-table__caption--m" %}
{% set tableHeadRow = 
  [
    {
      text: "Row",
      classes: "app-table__column-5"
    },
    {
      text: "TRN",
      classes: "app-table__column-10"
    },
    {
      text: "Provider trainee ID",
      classes: "app-table__column-10"
    },
    {
      text: "Last names",
      classes: "app-table__column-10"
    },
    {
      text: "First names",
      classes: "app-table__column-10"
    },
    {
      text: "Date standards met",
      classes: "app-table__column-10"
    },
    {
      text: "Error",
      classes: "app-table__column-45"
    }
  ]
%}

{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set linkText = "Download trainees ready to be recommened for " + qualifications + " — with errors" %}
{% set fileName = "recommendOnly-with-errors" if bulkOnly else "recommend-with-errors" %}
{% set downloadedFileName = "-fix-errors" %}

{% block content %}

  {% include "_includes/bulk-update/fix-file.html" %}

{% endblock %}
