{% extends "_templates/_page.html" %}

{% set pageContent = "makeChanges" %}
{% set pageHeading = "Change your pending updates" %}
{% set navActive = 'bulk' %}

{% set bulkOnly = true if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
{% set filePath = "recommendOnly-with-data" if bulkOnly else "recommend-with-data" %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set bulkPath = "recommend" %}

{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set linkText = "trainees ready to be recommended" %}
{% set fileName = "recommendOnly-with-data" if bulkOnly else "recommend-with-data" %}
{% set downloadedFileName = "-change-pending" %}

{% block content %}

  {% include "_includes/bulk-update/fix-file.html" %}

{% endblock %}


