{% extends "_templates/_page.html" %}

{% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
  {% set backText = "Home" %}
  {% set backLink = '/home' %}
  {% set bulkRecommendOnly = true %}
{% endif %}

{% set headingLevel = "h3" if bulkRecommendOnly else "h2" %}

{% set filePath = "/public/downloads/recommendOnly.csv" if bulkRecommendOnly else "/public/downloads/recommend.csv" %}

{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set needAcademicAward = traineesThatCanBeRecommended | filterByAcademicQualificationsApply %}

{% set fileName = data.signedInProviders | makeFileName("trainees to recommend","csv") %}

{% set pageHeading = "Bulk recommend trainees for " + traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-{{ 'xl' if bulkRecommendOnly else 'l' }}">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>
      {% if bulkRecommendOnly %}
        {% if traineesThatCanBeRecommended %}
          <p class="govuk-body">
            Bulk recommend multiple trainees for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} at the same time.
          </p>
          <p class="govuk-body">
            You have {{ traineesThatCanBeRecommended.length }} trainees that you can recommend for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
          </p>
          <p class="govuk-body">
            After you recommend trainees for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}, the DfE will award them (where appropriate) within <span class="app-nowrap">3 working days</span>.
          </p>
        {% else %}
          <p class="govuk-body">
            You do not have any trainees that can be recommended for {{ filteredRecords | getQualifications | orSeparate }}.
          </p>
          <h2 class="govuk-heading-m">
            Next steps
          </h2>
          <p class="govuk-body">
            <a href="/records">View you trainee trainee records</a> and check if any are incomplete, or contact <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Bulk%20recommending%20trainees">becomingateacher@digital.education.gov.uk</a> for help.
          </p>
        {% endif %}
      {% else %}
        <p class="govuk-body">
          You have {{ traineesThatCanBeRecommended | length }} trainees ready to be recommend for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
      {% endif %}
      {% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
        <h2 class="govuk-heading-l">
          How to recommend trainees
        </h2>
      {% endif %}

      <{{ headingLevel }} class="govuk-heading-m">
        1. Download the template 
      </{{ headingLevel }}>
      <p class="govuk-body">
        <a href="{{ filePath }}" download="{{ fileName }}" class="govuk-link">
          Trainees ready to be recommended for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} (csv)
        </a>
      </p>

      <{{ headingLevel }} class="govuk-heading-m">
        2. Add {{ "the assessment dates" if bulkRecommendOnly else "details of the trainee’s outcome" }}
      </{{ headingLevel }}>
      <p class="govuk-body">
        Open ‘<span class="govuk-!-font-weight-bold">{{ fileName }}</span>’ in <span class="app-nowrap">spreadsheet software</span> (for example, <span class="app-nowrap">Microsoft Excel</span>).
      </p>
      {% if bulkRecommendOnly %}
        <p class="govuk-body">
          In the column ‘Assessment date’ add the date the trainee met {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
        <p class="govuk-body">
          The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
          For example, if the trainee met the standard on <span class="app-nowrap">20 June {{ data.years.defaultCourseYear }}</span>, write <span class="app-nowrap">‘20/07/{{ data.years.defaultCourseYear }}’</span>.
        </p>
        <p class="govuk-body">
          Leave the cell empty if you do not want to recommend the trainee for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
        <p class="govuk-body">
          If the trainee has not met {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}, withdraw them manually.
        </p>
      {% else %}
        <p class="govuk-body">
          Add when the trainee met {{ traineesThatCanBeRecommended | getQualifications | orSeparate }} {{ "and their postgraduate academic qualification" if needAcademicAward | filterByPostgraduate }}{{ ", where applicable" if traineesThatCanBeRecommended.length > needAcademicAward.length }}.
        </p>
        <p class="govuk-body">
          Leave rows or cells empty if you do not want to recommend the trainee for {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
        <h3 class="govuk-heading-s">
          Assessment date
        </h3>
        <p class="govuk-body">
          In the column ‘Assessment date’ add the date the trainee met {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}.
        </p>
        <p class="govuk-body">
          The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
          For example, if the trainee met the standard on <span class="app-nowrap">20 June {{ data.years.defaultCourseYear }}</span>, write <span class="app-nowrap">‘20/07/{{ data.years.defaultCourseYear }}’</span>.
        </p>
        <p class="govuk-body">
          If the trainee has not met {{ traineesThatCanBeRecommended | getQualifications | orSeparate }}, withdraw them manually.
        </p>
          {% if needAcademicAward | filterByPostgraduate %}
          <h3 class="govuk-heading-s">
            Postgraduate academic qualification
          </h3>
            {# Notes - consider tolerating 'None' for routes that are not
            postgrad #}
            <p class="govuk-body">
              For postgraduate trainees, in the column ‘Postgraduate qualification’ add one of these
              options:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>PGCE</li>
              <li>PGDE</li>
              <li>None</li>
            </ul>
          {% if traineesThatCanBeRecommended.length > needAcademicAward.length %}
            <p class="govuk-body">
              For trainees not on a postgraduate course, leave the cell as <span class="app-nowrap">‘Not applicable’</span>.
            </p>
          {% endif %}
        {% endif %}
      {% endif %}

      <{{ headingLevel }} class="govuk-heading-m">
        3. Upload the file
      </{{ headingLevel }}>
      <p class="govuk-body">
        You will be able to check the trainee’s details after uploading the file.
      </p>
       <form action="/bulk-update/recommend/bulk-update-answer" method="post" novalidate>
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          hint: {
            text: "File type must be ‘csv’."
          },
          label: {
            text: "Upload a file"
          },
          attributes: {
            "accept": ".csv"
          }
        }) }}
        {{ govukButton({
          text: "Upload records"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}


