{% extends "_templates/_page.html" %}

{% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
  {% set backText = "Home" %}
  {% set backLink = '/home' %}
  {% set bulkRecommendOnly = true %}
{% endif %}

{% set headingLevel = "h3" if bulkRecommendOnly else "h2" %}

{% set filePath = "/public/downloads/recommendOnly.csv" if bulkRecommendOnly else "/public/downloads/recommend.csv" %}

{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set needAcademicAward = traineesThatCanBeRecommended | filterByAcademicQualificationsApply %}

{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% set pageHeading = "Bulk recommend trainees for " + qualifications %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-{{ 'xl' if bulkRecommendOnly else 'l' }}">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>
      {% if bulkRecommendOnly %}
        {% if traineesThatCanBeRecommended.length > 0 %}
          <p class="govuk-body">
            You have {{ traineesThatCanBeRecommended.length }} trainees that you can recommend for {{ qualifications }}.
          </p>
          <p class="govuk-body">
            After you recommend trainees for {{ qualifications }}, the DfE will award {{ qualifications }} (where appropriate) within <span class="app-nowrap">3 working days</span>.
          </p>
        {% else %}
          <p class="govuk-body">
            You do not have any trainees that can be recommended for {{ filteredRecords | getQualifications | orSeparate }}.
          </p>
          <h2 class="govuk-heading-m">
            Next steps
          </h2>
          <p class="govuk-body">
            <a href="/records">View you trainee trainee records</a> and check if any are incomplete, or contact <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Bulk%20recommending%20trainees">becomingateacher@digital.education.gov.uk</a> for help.
          </p>
        {% endif %}
      {% else %}
        <p class="govuk-body">
          You have {{ traineesThatCanBeRecommended | length }} trainees ready to be recommend for {{ qualifications }}.
        </p>
      {% endif %}
      {% if traineesThatCanBeRecommended.length > 0 %}
        {% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
          <h2 class="govuk-heading-l">
            How to recommend trainees
          </h2>
        {% endif %}

        <{{ headingLevel }} class="govuk-heading-m app-numbered-list">
          <span class="app-numbered-list-number">1.</span><span class="app-numbered-list-content">Choose a file to download
       </span> </{{ headingLevel }}>
        <p class="govuk-body">
          Download and add trainee information to one of these files.
        </p>
        <h3 class="govuk-heading-s">
          Prepopulated file
        </h3>
        <p>
          This file containes all {{ traineesThatCanBeRecommended | length }} trainees that can be recommended for {{ qualifications }}. Delete any trainees you do not want to recommened.
        </p>
        {{ appDownloadLink({
          linkText: "a prepopulated file to recommend trainees for " + qualifications,
          fileName: "recommendOnly" if bulkRecommendOnly else "recommend",
          downloadedFileName: (data.signedInProviders + "-trainees to recommend prepopulated") | slugify,
          fileType: "csv"
        })}}
        <h3 class="govuk-heading-s">
          Empty template file
        </h3>
        <p class="govuk-body">
          This file has the column headings ‘TRN’ and ‘Date standards met’. Add the trainees you want to recommend for {{ qualifications }}.
        </p>
        {{ appDownloadLink({
          linkText: "an empty template file to recommend trainees for " + qualifications,
          fileName: "recommendOnly-template" if bulkRecommendOnly else "recommend-template",
          downloadedFileName: (data.signedInProviders + "-trainees to recommend template") | slugify,
          fileType: "csv"
        })}}
        <{{ headingLevel }} class="govuk-heading-m app-numbered-list">
          <span class="app-numbered-list-number">2.</span><span class="app-numbered-list-content">Add {{ "the date each trainee met " + qualifications if bulkRecommendOnly else "details of the trainee’s outcome" }}</span>
        </{{ headingLevel }}>
        <p class="govuk-body">
          Open the file in <span class="app-nowrap">spreadsheet software</span> (for example, <span class="app-nowrap">Microsoft Excel</span>).
        </p>
        {% if bulkRecommendOnly %}
          <p class="govuk-body">
            In the column ‘Date standards met’ add the date the trainee met {{ qualifications }} standards.
          </p>
          <p class="govuk-body">
            The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
            For example, if the trainee met the standard on <span class="app-nowrap">20 June {{ data.years.endOfCurrentCycle }}</span>, write <span class="app-nowrap">‘20/07/{{ data.years.endOfCurrentCycle }}’</span>.
          </p>
        {% else %}
          <p class="govuk-body">
            Add when the trainee met {{ qualifications }} {{ "and their postgraduate academic qualification" if needAcademicAward | filterByPostgraduate }}{{ ", where applicable" if traineesThatCanBeRecommended.length > needAcademicAward.length }}.
          </p>
          <p class="govuk-body">
            Leave rows or cells empty if you do not want to recommend the trainee for {{ qualifications }}.
          </p>
          <h3 class="govuk-heading-s">
            Date standards met
          </h3>
          <p class="govuk-body">
            In the column ‘Date standards met’ add the date the trainee met {{ qualifications }}.
          </p>
          <p class="govuk-body">
            The date must be written in the format <span class="app-nowrap">‘DD/MM/YYYY’</span>.
            For example, if the trainee met the standard on <span class="app-nowrap">20 June {{ data.years.endOfCurrentCycle }}</span>, write <span class="app-nowrap">‘20/07/{{ data.years.endOfCurrentCycle }}’</span>.
          </p>

            {% if needAcademicAward | filterByPostgraduate %}
            <h3 class="govuk-heading-s">
              Postgraduate academic qualification
            </h3>
              <p class="govuk-body">
                For postgraduate trainees, in the column ‘Postgraduate qualification’ add one of these options:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>PGCE</li>
                <li>PGDE</li>
                <li>None</li>
              </ul>
            {% if traineesThatCanBeRecommended.length > needAcademicAward.length %}
              <p class="govuk-body">
                For trainees not on a postgraduate course, leave the cell as <span class="app-nowrap">‘Not applicable’</span>.
              </p>
            {% endif %}
          {% endif %}
        {% endif %}

        <{{ headingLevel }} class="govuk-heading-m app-numbered-list">
          <span class="app-numbered-list-number">3.</span><span class="app-numbered-list-content">Upload the trainee record file</span>
        </{{ headingLevel }}>
        <p class="govuk-body">
          You will be able to check the trainee’s details after uploading the file.
        </p>
         <form action="/bulk-update/recommend/bulk-update-answer" method="post" novalidate>
          {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            hint: {
              text: "File type must be ‘csv’."
            },
            label: {
              text: "Upload a file"
            },
            attributes: {
              "accept": ".csv"
            }
          }) }}
          {{ govukButton({
            text: "Upload records"
          }) }}
        </form>
      {% endif %}
    </div>
  </div>

{% endblock %}


