{% extends "_templates/_page.html" %}

{% if data.settings.bulkLinksInPrimaryNav == "Show bulk recommend" %}
  {% set backText = "Home" %}
  {% set backLink = '/home' %}
  {% set bulkRecommendOnly = true %}
{% endif %}

{% set headingLevel = "h3" if bulkRecommendOnly else "h2" %}

{% set filePath = "/public/downloads/recommendOnly.csv" %}

{% set navActive = 'bulk' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}

{% set needAcademicAward = traineesThatCanBeRecommended | filterByAcademicQualificationsApply %}

{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}

{% set pageHeading = "Bulk recommend trainees for " + qualifications %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m app-numbered-list">1. Prepare your file with recommendations</h2>

      <p class="govuk-body">Your file should be a csv and contain trainees you are recommending for QTS</p>

      <p class="govuk-body">
        <a href="" class="govuk-link">Generate a CSV of trainees you can recommend</a>
      </p>

      {# Making thier own file #}
      {% set detailsHtml %}

        <p class="govuk-body">You can prepare your own CSV of trainees you would like to recommend for QTS.</p>

        <p class="govuk-body">Your spreadsheet must include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a header row</li>
          <li>an identifier column with one of TRN, Provider Trainee ID, or HESA ID</li>
          <li>a date column labeled ‘Date QTS or EYTS standards met’</li>
        </ul>

        <p class="govuk-body">For each trainee you are awarding, provide their identifer and the date they met the teaching standards</p>

        <p class="govuk-body">An example of what your sheet should look like:</p>

        <div class="spreadsheet" data-notify-module="fullscreen-table">
          <div class="fullscreen-scrollable-table" role="region" aria-labelledby="example" tabindex="0" style="height: 155.888px;">
            <table class="table table-font-xsmall">
            <caption class="heading-medium table-heading govuk-visually-hidden" id="example">
              Example
            </caption>
            <thead class="table-field-headings-visible">
              <tr>
                <th scope="col" class="table-field-heading-first" width="">
                </th>
                
                <th scope="col" class="table-field-heading" width="">
                  A
                </th>
                <th scope="col" class="table-field-heading" width="">
                  B
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row"> 
                <td class="table-field-index">
                  1
                </td>
                <td class="table-field-left-aligned  ">
                  <div class="">
                    TRN
                  </div>
                </td>
                <td class="table-field-left-aligned  ">
                  <div class="">
                    Date QTS or EYTS standards met
                  </div>
                </td>
              </tr>
              <tr class="table-row">
                <td class="table-field-index">
                  2
                </td>
                <td class="table-field-left-aligned  ">
                  <div class="">
                    123456789
                  </div>
                </td>
                <td class="table-field-left-aligned  ">
                  <div class="">
                    5/6/2023
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <a href="#" class="govuk-link">Download this example (CSV)</a>
  
      {% endset %}

      {{ govukDetails({
        summaryText: "Can I use my own file?",
        html: detailsHtml
      }) }}
      
      <h2 class="govuk-heading-m app-numbered-list">
        <span class="app-numbered-list-number">2.</span><span class="app-numbered-list-content">Upload your file</span>
      </h2>

      {# <p class="govuk-body">
        You will be able to check the trainee’s details after uploading the file.
      </p> #}

      <form action="/bulk-update/recommend/bulk-update-answer" method="post" novalidate>
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          hint: {
            text: "File type must be ‘csv’."
          },
          label: {
            text: "Upload a file"
          },
          attributes: {
            "accept": ".csv"
          }
        }) }}
        {{ govukButton({
          text: "Upload and check records"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}


