{% set placementsDetailsNotAvailableRow = {
  key: {
    text: "Placements"
  },
  value: {
    text: 'Not provided yet'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/add" | addReferrer(referrer),
        text: "Add a placement",
        _visuallyHiddenText: ""
      }
    ]
  } if canAmend
} %}

{% set placementDetailsRows = [
  placementsDetailsNotAvailableRow
] %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
    rows: placementDetailsRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: 'Placement details',
  html: placementDetailsHtml
}) }}
