{% set complete = record.placement | sectionIsComplete %}
{% set status  = record.placement | getStatusText %}

{% set placements = record.placement.items %}
{% set placementCount = record.placement.items | length %}

{% set sectionIsRequired = record | requiresSection("placement") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "placement-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Placement details not marked as complete" %}
    {% set incompleteLink = recordPath + "/placements/confirm" %}
    {% set incompleteLinkText = "Complete section" %}
  {% else %}
    {% set incompleteText = "Placement details not started" %}
    {% set incompleteLink = recordPath + "/placements/can-add-placement" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {% if placementCount == 0 %}
    {% include "_includes/summary-cards/placements/no-placement-details.html" %}
  {% else %}
    {% for placement in placements %}
      {% include "_includes/summary-cards/placements/single-placement-details.html" %}
    {% endfor %}
  {% endif %}
  
{% endif %}
