{% set placements = record.placement.items %}
{% set placementCount = record.placement.items | length %}
{% set ordinalCount = loop.index | getOrdinalName | sentenceCase %}

{% if placement %}
  {% set placementSchoolHtml %}
    {% if placement.notApplicable | falsify %}
      Not applicable
    {% else %}
      <p class="govuk-body">{{placement.school.schoolName}}</p>
      <span class="govuk-hint">{{placement.school | getSchoolHint}}</span>
    {% endif %}
  {% endset %}
{% endif %}

{% set placementLocationRow = {
  key: {
    text: "Placement " + record | schoolOrSettingText
  },
  value: {
    text: placementSchoolHtml | safe or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/" + placement.id + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: (ordinalCount | lower) + " placement "
      }
    ]
  } if canAmend
} %}

{% set placementStartMonth  %}
  {{ placement.startMonth | prettyMonth }}
{% endset %}

{% set placementStartMonthRow = {
  key: {
    text: "Start month"
  },
  value: {
    text: placementStartMonth or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/" + placement.id + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "placement start month"
      }
    ]
  } if canAmend
} %}

{% set placementDurationLabel %}
  {{placement.duration}} {{ 'week' | pluralise (placement.duration | int) }}
{% endset %}

{% set placementDurationRow = {
  key: {
    text: "Duration"
  },
  value: {
    text: placementDurationLabel or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/placements/" + placement.id + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "placement duration"
      }
    ]
  } if canAmend
} %}

{% set placementDetailsRows = [
  placementLocationRow,
  placementStartMonthRow if false,
  placementDurationRow if false
] %}

{% set placementDetailsHtml %}
  {{ govukSummaryList({
    rows: placementDetailsRows
  }) }}
{% endset %}

{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: ordinalCount + ' placement',
  actions: {
    items: [{
      href: recordPath + "/placements/" + placement.id + "/delete" | addReferrer(referrer),
      text: "Delete placement"
    }]
  } if canAmend,
  html: placementDetailsHtml
}) }}
