{% set customNotPassedReason %}
  {{ govukInput({
    label: {
        text: "Enter the reason",
        classes: "govuk-label govuk-label--s"
    },
    classes: "govuk-!-width-two-thirds"
  } | decorateAttributes(record, "record.notPassedReasonOther")) }}
{% endset %}

{% set notPassedReasonsItems = []  %}

{% for reason in data.notPassedReasons %}
  {% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
    text: reason
  }) %}
{% endfor %}

{% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
  divider: "or"
}) %}

{% set notPassedReasonsItems = notPassedReasonsItems | push ({ 
  text: "For another reason",
  checked: storeNotPassedReasonOther,
  conditional: {
    html: customNotPassedReason
  }
}) %}

{% include "_includes/trainee-name-caption.njk" %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4",
      isPageHeading: true
    }
  },
  items: notPassedReasonsItems
} | decorateAttributes(record, "record.notPassedReason")) }}

{{ govukButton({
  text: "Continue"
}) }}
