{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm degree details" %}
{% set backLink = './../overview' %}
{% set backText = "Back to draft record" %}
{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./../overview" | orReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {% set degreeCount = record.degree.items | length %}
  
  {% include "_includes/summary-cards/degree/details.html" %}

  {% set checkboxText %}
    {% if record | sourceIsManual %}
      I have completed this section
    {% else %}
      I have reviewed this section
    {% endif %}
  {% endset %}

  {% if record | sourceIsManual or not data.settings.groupApplySections %}
    {# Don't show checkbox if there are no degrees #}
    {% if degreeCount > 0 %}
      {{ govukCheckboxes({
        idPrefix: "degree-section-complete",
        name: "record[degree][status]",
        items: [
          {
            value: "Completed",
            text: checkboxText,
            checked: checked(record.degree.status, "Completed")
          }
        ]
        }) }}
    {% endif %}
  {% endif %}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

