{% if school.updatedDate | isInLast(5, 'minutes') %}
  {% set justNowClass = "app-just-now" %}
{% endif %}

{% set isRandomLeadSchool = (school.urn % 6) == 0 %} {# 1/6 chance of being lead school #}

{% set isLeadSchool = school | schoolIsLeadSchool or isRandomLeadSchool %}

<div class="app-application-card {{justNowClass}}">

  <div class="app-application-card_row app-application-card_row--header">
      <h3 class="app-application-card__trainee-name govuk-heading-m govuk-!-margin-bottom-0">
        <a href="/support/schools/{{ school.uuid }}" class="govuk-link govuk-link--no-visited-state">
          {{ school.schoolName}}
        </a>
      </h3>

      <span class="app-application-card_tag-container">

        {% if isLeadSchool %}
          <span style="display: inline-block;">
            {{govukTag({
              text: "Lead school",
              classes: "Lead school" | getStatusClass
            })}}
          </span>
        {% endif %}
        
        {# <span style="display: inline-block;">
          {{govukTag({
            text: school | getStatusText,
            classes: school.status | getStatusClass
          })}}
        </span> #}
      </span>
  </div>

  <div class="app-application-card_row app-application-card_row--body">
    <div class="app-application-card_col">

      <div>
        {# {{data.users | log}} #}
        {# {% set schoolUsers = data.users.byProvider[school.name] %} #}

        {# {{schoolUsers | log}} #}

        {# {% if school.type %}
          <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">Type: {{school | getProviderTypeString(true) }}</p>
        {% endif %} #}

        {# URN or UKPRN #}
        {% if school.urn %}
          <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">URN: {{school.urn}}</p>
        {% endif %}

        {% if school.ukprn %}
          <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">UKRPRN: {{ school.ukprn or faker.datatype.number({
            'min': 1000000,
            'max': 9999999
          })}}</p>
        {% endif %}

        {% if school.postcode %}
          <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1">Postcode: {{ school.postcode}}</p>
        {% endif %}

        
      </div>

      <div>

        
      </div>

    </div>

    <div class="app-application-card_col">
      <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-1 app-application-card__submitted">
        {% if query.sortOrder == "dateAdded" %}
          Added: <span>{{school.submittedDate | govukDate}}
        {% else %}
          Updated: <span>{# {{school.updatedDate | govukDate}} #}{{ today() | govukDate }}
        {% endif %}
        </span></p>
    </div>
  </div>

</div>
