{% extends "_templates/_new-record.html" %}

{% set pageHeading = "A Level details" %}

{# {% set formAction = "./contact-details/confirm" %} #}
{% set formAction = "./overview" %}

{% block formContent %}
  {# {% include "_includes/forms/contact-details.html" %} #}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {{ govukInsetText({
    text: "Page still being built"
  }) }}

  {{ govukCheckboxes({
    idPrefix: "gce-section-complete",
    name: "record[qualifications][gceStatus][status]",
    items: [
      {
        value: "Completed",
        text: "I have completed this section",
        checked: checked(record.qualifications.gceStatus.status, "Completed")
      }
    ]
    }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

