{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Check trainee record" %}
{% set formAction = "./save" | addReferrer(referrer) %}
{% set hideReturnLink = true %}
{% set showIncomplete = true %}
{% set backLink = './overview' | orReferrer(referrer) %}
{% set backText = 'Back to draft record' %}
{% set gridColumn = 'govuk-grid-column-full' %}

{# This template shares lots of similarities with `check-record-apply-grouped-sections` - changes here likely want to be mirrored there #}

{% block formContent %}

{# Add an extra referrer as this is a compound referral path #}
{% set referrer = referrer | pushReferrer(recordPath + "/check-record") %}

{# Warning if record not complete #}
{% set recordIncompleteInsetTextWarning %}
  {# Show a warning if the record isn’t ready to be submitted #}
  {% if not recordIsComplete %}
    {% set insetTextHtml %}
      <p class="govuk-body">
        This trainee record is not complete and cannot be submitted for TRN. If you do not have all the required information now, you can <a href="./save-as-draft" class="govuk-link">return to this draft later</a>.
      </p>
    {% endset %}
      {{ govukInsetText({
        html: insetTextHtml
      }) }}
  {% endif %}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must complete all sections before submitting for TRN"
          }
        ]
      }) }}
    {% endif %}

    {% set draftRecordName %}
      {% if record.personalDetails.shortName %}
       for {{record.personalDetails.shortName | safe}}
      {% endif %}
    {% endset %}

    <span class="govuk-caption-l">{{'Draft' + draftRecordName}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{pageHeading}}</h1>

    {# Show a warning if the record isn’t ready to be submitted #}
    {{ recordIncompleteInsetTextWarning | safe }}

    {# Inset text about the provider and route #}
    {% include "_includes/providerAndRouteInsetText.njk" %}

  </div>
</div>


<h2 class="govuk-heading-m">Personal details{{ " and education" if record | requiresSection("degree") }}</h2>

{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

{% include "_includes/summary-cards/gcse-details.html" %}

{% include "_includes/summary-cards/degree/details.html" %}

{% include "_includes/summary-cards/undergraduate-qualification.html" %}

<h2 class="govuk-heading-m">About their teacher training</h2>

{# Provider summary card not used - inset text instead #}
{# {% include "_includes/summary-cards/provider-details.html" %} #}

{# Record setup not currently used - can probably delete soon #}
{# {% include "_includes/summary-cards/record-setup.html" %} #}

{% include "_includes/summary-cards/course-details.html" %}

{% include "_includes/summary-cards/training-details/training-details.html" %}

{% include "_includes/summary-cards/schools.html" %}

{% include "_includes/summary-cards/placements/placement-details.html" %}

{% include "_includes/summary-cards/funding.html" %}

{{ govukButton({
  text: "Register trainee and request TRN"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Return to this draft later</a></p>

{% endblock %}
