{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Record submitted" %}

{% set hideReturnLink = true %}
{% set backLink = '/drafts' %}
{% set backText = 'Back to drafts' %}

{% block formContent %}

{# For this one page, we no longer have record in session data, so have to look it up #}
{% set record = data.records | getRecordById(data.submittedRecordId) or {} %}

{% set panelTitleText %}
 {{ (record.personalDetails.shortName) if record.personalDetails.shortName | safe }} is registered
{% endset %}

{{ govukPanel({
  titleText: panelTitleText,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<h2 class="govuk-heading-m">Getting a TRN</h2>

<p class="govuk-body">The Department for Education (DfE) will issue a teacher reference number (TRN) within 3 working days. </p>

<h2 class="govuk-heading-m">Notifying your trainees</h2>
<p class="govuk-body">DfE will contact trainees to give them their TRN.</p>

<h2 class="govuk-heading-m">Giving us feedback</h2>
<p class="govuk-body">Tell us how registering a trainee with the new service is working for you. We use this to make improvements. It takes 3 minutes to complete.</p>
{{ govukButton({
  text: "Give feedback (opens in a new tab)",
  href: "/survey-trn"
}) }}

<h2 class="govuk-heading-m">Next steps</h2>
{# The name is only stored short term so make sure we have a fallback #}
{% set thisRecordName %}
  {% if data.submittedRecordId %}
    view {{record.personalDetails.shortName | safe }}’s record
  {% else %}
    view this record
  {% endif %}
{% endset %}

<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="/record/{{data.submittedRecordId}}">{{thisRecordName}}</a></li>
  <li><a href="/new-record/new" class="govuk-link">create a new trainee record</a></li>
  <li><a href="/drafts" class="govuk-link">view your drafts</a></li>
  <li><a href="/records" class="govuk-link">view all your trainees</a></li>
</ul>

{# Not used for now whilst we promote in a button instead #}
{# {% set insetTextHtml %}
  <h2 class="govuk-heading-s">How are you finding this process?</h2>
  <p class="govuk-body"><a href="#" class="govuk-link">Give feedback to help improve the process of recommending trainees for {{ record | getQualificationText }}</a></p>
{% endset %}
{{ govukInsetText({
  html: insetTextHtml
}) }} #}

{% endblock %}
