{% extends "_templates/_new-record.html" %}

{% set traineeStartDate = data.record.trainingDetails.commencementDate or false %}

{% if traineeStartDate %}
  {% if record | courseDatesAreAmbiguous %}
    {% set pageHeading = "When did the trainee start their ITT?" %}
  {% else %}
    {% set pageHeading = "When did the trainee start their course?" %}
  {% endif %}
{% else %}
  {% if record | courseDatesAreAmbiguous %}
    {% set pageHeading = "Did the trainee start their ITT on time?" %}
  {% else %}
    {% set pageHeading = "Did the trainee start their course on time?" %}
  {% endif %}
{% endif %}

{% set formAction = "./save-with-date" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/training-details/trainee-start-date.html" %}
{% endblock %}
