{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm funding details" %}

{% set backLink = './../overview' %}
{% set backText = "Back to draft record" %}
{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./../overview" | orReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>
  {% include "_includes/summary-cards/funding.html" %}

  {{ govukCheckboxes({
  idPrefix: "funding",
  name: "record[funding][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.funding.status, "Completed")
    }
  ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
