{% set recordBaseRows = [
  {
    key: {
      text: "Training year"
    },
    value: {
      text: record.academicYear or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/training-year" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "training year"
        }
      ]
    } if canAmend
  }
] %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Training year"
    }
  },
  rows: recordBaseRows
}) }}
