{% set regionTextHtml %}
  <p class="govuk-body">South East</p>
  <p class="govuk-body govuk-hint">Contact support if you need to change this</p>
{% endset %}

{% set regionRow = {
  key: {
    text: "Region"
  },
  value: {
    html: regionTextHtml
  }
} %}

{% set traineeIdRow = {
  key: {
    text: "Trainee ID"
  },
  value: {
    text: record.trainingDetails.traineeId or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/training-details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "trainee ID"
      }
    ]
  } if canAmend
} %}

{% set commencementDateLabel -%}

  {% if record | isDraft %}
    {% if record.trainingDetails.commencementDate %}
      {{- record.trainingDetails.commencementDate | govukDate -}}
    {% elseif not data.settings.requireTraineeStartDate and not (record.trainingDetails.traineeStarted | falsify) %}
      Trainee yet to start course
    {% else %}
      Not provided
    {% endif %}

  {% else %}
    {{- (record.trainingDetails.commencementDate | govukDate ) or "Not provided" -}}
  {% endif %}
{%- endset %}



{% set traineeStarted = record.trainingDetails.traineeStarted | falsify %}

{% set traineeStartDateRow = {
    key: {
      text: "Trainee’s start date"
    },
    value: {
      text: commencementDateLabel
    },
    actions: {
      items: [
        {
          href: recordPath + "/training-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee’s start date"
        }
      ]
    } if canAmend
  } %}

{% set trainingDetailsRows = [
  regionRow if record | requiresField("region"),
  traineeStartDateRow if record | isDraft,
  traineeIdRow if record | isDraft
] %}


{% set trainingDetailsHtml %}
  {{ govukSummaryList({
    rows: trainingDetailsRows
  }) }}
{% endset %}



{% set complete = record.trainingDetails | sectionIsComplete %}

{% set status  = record.trainingDetails | getStatusText %}
{% set sectionIsRequired = record | requiresSection("trainingDetails") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "training-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Training details not marked as complete" %}
    {% set incompleteLink = recordPath + "/training-details/confirm" %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Training details not started" %}
    {% set incompleteLink = recordPath + "/training-details" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: record | getSectionName("trainingDetails"),
    html: trainingDetailsHtml
  }) }}

{% endif %}
