
{% set recordBaseRows = [
  {
    key: {
      text: "Trainee ID"
    },
    value: {
      text: record.trainingDetails.traineeId or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/trainee-id" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee ID"
        }
      ]
    } if canAmend
  }
  ] %}


{% set recordBaseHtml %}
  {{ govukSummaryList({
    rows: recordBaseRows
  }) }}
{% endset %}




{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: "Record",
  html: recordBaseHtml
}) }}

