{% set firstPlacementHtml %}
  <p class="govuk-body">{{ trainee.placementDetails[0].name }}</p>
  <p class="govuk-hint">URN: {{ trainee.placementDetails[0].urn }}, {{ trainee.placementDetails[0].address.town }}, {{ trainee.placementDetails[0].address.postcode }}</p>
{% endset %}

{% set secondPlacementHtml %}
  <p class="govuk-body">{{ trainee.placementDetails[1].name }}</p>
  <p class="govuk-hint">URN: {{ trainee.placementDetails[1].urn }}, {{ trainee.placementDetails[1].address.town }}, {{ trainee.placementDetails[1].address.postcode }}</p>
{% endset %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Placement details"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Management placements"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "First placement"
      },
      value: {
        html: firstPlacementHtml
      },
      actions: {
        items: [
          {
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }
        ]
      } if 1==0
    },
    {
      key: {
        text: "Second placement"
      },
      value: {
        html: secondPlacementHtml
      },
      actions: {
        items: [
          {
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }
        ]
      } if 1==0
    }
  ]
}) }}
