{{ appSecondaryNavigation({
  label: "Trainee navigation",
  items: [
    {
      href: "/trainees/" + trainee.id,
      text: "About their teacher training",
      active: secondaryNavId == "about"
    },
    {
      href: "/trainees/" + trainee.id + "/personal",
      text: "Personal details",
      active: secondaryNavId == "personalDetails"
    },
    {
      href: "#",
      text: "Timeline",
      active: secondaryNavId == "timeline"
    },
    {
      href: "#",
      text: "Admin",
      active: secondaryNavId == "admin"
    }
  ]
}) }}
