{{ appSecondaryNavigation({
  label: "Trainee navigation",
  items: [
    {
      href: "#",
      text: "About their teacher training",
      active: secondaryNavId == "about"
    },
    {
      href: "#",
      text: "Personal details and education",
      active: secondaryNavId == "personalDetails"
    },
    {
      href: "#",
      text: "Timeline",
      active: secondaryNavId == "timeline"
    },
    {
      href: "#",
      text: "Admin",
      active: secondaryNavId == "admin"
    }
  ]
}) }}
