{% extends "layouts/main.njk" %}

{% set primaryNavId = "draftTrainees" %}

{% set title = "Draft trainees" %}
{% set caption = "Provider A" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <ul class="govuk-list govuk-list--spaced">
      {% for trainee in trainees %}
        <li>
          <a href="/trainees/{{ trainee.id }}" class="govuk-link">
            {{ trainee.personalDetails.firstName }} {{ trainee.personalDetails.lastName }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
