{% extends "layouts/main.njk" %}

{% set primaryNavId = "SOMETHING" %}
{% set secondaryNavId = "about" %}

{% set title = "Gladia Delmarre" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "All records",
  href: "#"
}) }}
{% endblock %}

{% block content %}

{% include "_includes/notification-banner.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./_secondary-navigation.njk" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Update QTS status",
        href: actions.outcome
      }) }}

      <a href="#" class="govuk-link">Defer trainee</a>

      <a href="{{ actions.withdraw }}" class="govuk-link">Withdraw trainee</a>
    </div>

    {# <p class="govuk-body">
      <a href="#" class="govuk-link">Defer</a> or <a href="{{ actions.withdraw }}" class="govuk-link">withdraw</a> this trainee
    </p> #}

  </div>
</div>

{% endblock %}
