{% extends "_templates/_record-form.njk" %}

{% set pageHeading = "What is the trainee’s highest academic qualification?" %}

{% set formAction = "./undergraduate-qualification/confirm" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/undergraduate-qualification.njk" %}
{% endblock %}
