{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Draft completeion" if (navActive == "drafts") else "Record completion",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Complete",
      checked: checked(query.filterCompleteStatus, "Complete") if query.filterCompleteStatus else filterCompleteStatusCurrentYearDefault
    },
    {
      text: "Incomplete",
      checked: checked(query.filterCompleteStatus, "Incomplete")
    }
  ]
} | decorateAttributes(data, "data.filterCompleteStatus"))}}
