{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Draft completion" if (navActive == "drafts") else "Available to do",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Complete",
      checked: checked(query.filterCompleteStatus, "Complete")
    } if navActive == 'drafts',
    {
      text: "Has problems",
      value: "Has problems",
      checked: checked(query.filterCompleteStatus, "Has problems")
    } if navActive == 'records',
    {
      text: "Incomplete",
      checked: checked(query.filterCompleteStatus, "Incomplete")
    }
  ]
} | decorateAttributes(data, "data.filterCompleteStatus"))}}
