{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Course level",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Undergraduate",
      checked: checked(query.filterCourseLevel, "Undergraduate")
    },
    {
      text: "Postgraduate",
      checked: checked(query.filterCourseLevel, "Postgraduate")
    }
  ]
} | decorateAttributes(data, "data.filterCourseLevel"))}}
