{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Course level",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Undergraduate",
      value: "Undergraduate"
    },
    {
      text: "Postgraduate",
      value: "Postgraduate"
    }
  ],
  values: data.filterCourseLevel
}) }}
