{% set years = [] %}

{% set allYears = data.years.academicYears %}

{# Default state - first value is 'all' #}
{% set years = years | push({
  value: "All years",
  text: "All years",
  selected: true if (not query.filterCycle or query.filterCycle == "All years")
}) %}

{% for year in allYears %}
  {% if year == data.years.currentAcademicYear %}
    {% set years = years | push({
      value: year,
      text: year + " (current year)",
      selected: true if (year == query.filterCycle)
    }) %}
  {% else %}
    {% set years = years | push({
      value: year,
      text: year,
      selected: true if (year == query.filterCycle)
    }) %}
  {% endif %}
{% endfor %}

{{ govukSelect({
  id: "cycle-select",
  name: "filterCycle",
  classes: "js-auto-submit govuk-!-width-full",
  label: {
    text: "Start year",
    classes: "govuk-label--s"
  },
  items: years
}) }}
