{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Education phase",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Early years",
      checked: checked(query.filterPhase, "Early years")
    },
    {
      text: "Primary",
      checked: checked(query.filterPhase, "Primary")
    },
    {
      text: "Secondary",
      checked: checked(query.filterPhase, "Secondary")
    }
  ]
} | decorateAttributes(data, "data.filterPhase"))}}
