{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Education phase",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Early years",
      value: "Early years"
    },
    {
      text: "Primary",
      value: "Primary"
    },
    {
      text: "Secondary",
      value: "Secondary"
    }
  ],
  values: data.filterPhase
}) }}
