{% if data.signedInProviders | length > 1 %}

  {% set userProviders = data.settings.userProviders %}

  {# Only show route filter if there's more than 1 route #}

  {% set providerItems = [] %}
  {% for provider in userProviders %}
    {% set providerItems = providerItems | push({
      text: provider,
      value: provider
    }) %}
  {% endfor %}
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small js-auto-submit",
    fieldset: {
      legend: {
        text: "Provider",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: providerItems,
    values: data.filterUserProviders
  }) }}

{% endif %}
