{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Record source",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Added manually",
      value: "Manual",
      checked: checked(query.filterSource, "Manual")
    },
    {
      text: "Imported from Apply",
      value: "Apply",
      checked: checked(query.filterSource, "Apply")
    },
    {
      text: "Imported from DTTP",
      value: "DTTP",
      checked: checked(query.filterSource, "DTTP")
    } if data.isAdmin and navActive !== "drafts",
    {
      text: "Imported from HESA",
      value: "HESA",
      checked: checked(query.filterSource, "HESA")
    } if data.isAdmin and navActive !== "drafts"
  ]
} | decorateAttributes(data, "data.filterSource"))}}
