{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  attributes: {
    "id": 'filterStatusCheckboxes'
  }
  ,
  fieldset: {
    legend: {
      text: "Status",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Draft",
      value: "Draft"
    } if false,
    {
      text: "Pending TRN",
      value: "Pending TRN"
    },
    {
      text: "TRN received",
      value: "TRN received"
    },
    {
      text: "EYTS recommended",
      value: "EYTS recommended"
    },
    {
      text: "EYTS awarded",
      value: "EYTS awarded"
    },
    {
      text: "QTS recommended",
      value: "QTS recommended"
    },
    {
      text: "QTS awarded",
      value: "QTS awarded"
    },
    {
      text: "Deferred",
      value: "Deferred"
    },
    {
      text: "Withdrawn",
      value: "Withdrawn"
    }
  ],
  values: data.filterStatus
}) }}
