{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Full time or part time",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: "Full time",
      checked: true if query.filterStudyMode == "Full time"
    },
    {
      text: "Part time",
      checked: true if query.filterStudyMode == "Part time"
    }
  ]
} | decorateAttributes(data, "data.filterStudyMode"))}}
