<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="search">
    Search for a trainee
  </label>
  <div class="gem-c-search__item-wrapper gem-c-search--on-white">
    <input class="govuk-input" id="search" name="searchQuery" type="text" value="{{query.searchQuery}}">
    <div class="gem-c-search__item gem-c-search__submit-wrapper">
      <button type="submit" class="gem-c-search__submit">Search</button>
    </div>
  </div>
</div>

{# Button for no-js only #}
<button class="govuk-button app-no-js-only" data-module="govuk-button">
  Apply filters
</button>
