<p class="govuk-body">
  <span class="app-nowrap"><a href="/public/downloads/{{ params.fileName }}.{{ params.fileType }}" download="{{ params.downloadedFileName | slugify }}.{{ params.fileType }}">Download {{ params.linkText }} ({{ params.fileType }})</a></span><br>
  <span class="govuk-hint">File name: <span class="app-nowrap">{{ params.downloadedFileName }}.{{ params.fileType }}</span></span>
</p>
