{% extends "_templates/_record-form.njk" %}

{% set pageHeading = "Training year" %}

{% set formAction = "./training-year/confirm" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/training-details/training-year.njk" %}
{% endblock %}
