{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm degree details" %}

{% set backLink = ("/record/" + data.record.id) | orReferrer(referrer) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{pageHeading}}
  </h1>

  {% set degreeCount = record.degree.items | length %}

  {% include "_includes/summary-cards/degree/details.html" %}

{#   <div class="govuk-form-group">
    {{ govukButton({
      "text": "Add another degree" if degreeCount > 0 else "Add a degree",
      href: "./add",
      classes: "govuk-button--secondary"
    }) }}
  </div>
 #}
  {# {{record.qualifications | log}} #}

  {# Don't show checkbox if there are no degrees #}
  {# {% if degreeCount > 0 %}
    {{ govukCheckboxes({
      idPrefix: "degree-section-complete",
      name: "record[degree][status]",
      items: [
        {
          value: "Completed",
          text: "I have completed this section",
          checked: checked(record.degree.status, "Completed")
        }
      ]
      }) }}
  {% endif %} #}

  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}

