{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Are you sure you want to delete this degree?" %}
{# {% set backLink = './../overview' %}
{% set backText = "Back to draft record" %} #}
{% set returnLink = { href: './../overview', text: 'Cancel and return to record'} %}

{% set returnLink = {
  href: 'javascript:history.back();',
  text: "Cancel"
} %}

{# Get degree (if it exists) from existing data #}
{% set degree = data.record.degree.items[itemIndex] %}
{# Merge with temp store (temp store has) #}
{% set degreeTemp = degree | mergeObjects(data.degreeTemp) %}

{# Generate title text for card #}
{% if degree.isInternational %}
  {% if degree.type != 'UK ENIC not provided' %}
    {% set typeText = "Non-UK " + degree.type + ": " %}
  {% else %}
      {% set typeText = "Non-UK degree: " %}
  {% endif %}
  {% set degreeText = typeText + (degree.subject | dynamicLowercase) %}
{% else %}
  {% set degreeText = degree.type + ": " + (degree.subject | dynamicLowercase) %}
{% endif %}

{% block formContent %}

{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-8">
  {{pageHeading}}
</h1>

<p class="govuk-body govuk-!-margin-bottom-7">{{degreeText}}</p>

{{ govukButton({
  text: "Yes I’m sure — delete this degree",
  href: "./delete",
  classes: "govuk-button--warning"
}) }}

{% endblock %}
