<div class="app-admin-banner">
  <div class="app-admin-banner__container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="app-admin-banner__tag-line">
            <div class="app-admin-banner__tag">
              <strong class="govuk-tag govuk-tag--purple govuk-!-margin-right-2">Admin</strong>
            </div>
            <div class="app-admin-banner__content">
              {{params.html | safe}}
            </div>
          </div>

        </div>
      </div>

  </div>
</div>
