
{% set bursaryDegree = record.degree.items | find('id', record.degree.degreeToBeUsedForBursaries) %}

{% if bursaryDegree %}
  {% set bursaryHtml %}
    <p class="govuk-body">{{ bursaryDegree | getDegreeName }}</p>
    <div class="govuk-hint">{{ bursaryDegree | getDegreeHint }}</div>
  {% endset %}
{% elseif record.degree.degreeToBeUsedForBursaries %}
  {% set bursaryHtml = "Not provided" %}
{% endif %}


{% set rows = [
  {
    key: {
      text: "Degree that relates to awarded bursary"
    },
    value: {
      html: bursaryHtml or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/degree/bursary-selection" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "address"
        }
      ]
    } if canAmend
  }
  ] %}


{% set bursaryDetailsHtml %}
  {{ govukSummaryList({
    rows: rows
  }) }}
{% endset %}

{% set complete = record.contactDetails | sectionIsComplete %}
{% set status  = record.contactDetails | getStatusText %}
{% set sectionIsRequired = record | requiresSection("contactDetails") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "contact-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Contact details not marked as complete" %}
    {% set incompleteLink = recordPath + "/contact-details/confirm" %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Contact details not started" %}
    {% set incompleteLink = recordPath + "/contact-details" %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Bursary details",
    html: bursaryDetailsHtml
  }) }}
  
{% endif %}

