{% set isInternational = degree.isInternational | falsify %}

{% set ukOrNonUkText %}
  {% if isInternational %}
    No
  {% else %}
    Yes
  {% endif %}
{% endset %}

{% set ukOrNonUkRow = {
  key: {
    text: "UK degree"
  },
  value: {
    text: ukOrNonUkText if (degree.isInternational != undefined) else 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/type" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "UK or non-UK type"
      }
    ]
  } if canAmend
} %}

{% set subjectRow = {
  key: {
    text: "Subject"
  },
  value: {
    text: degree.subject or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree subject"
      }
    ]
  } if canAmend
} %}

{% set degreeTypeRow = {
  key: {
    text: "Degree type"
  },
  value: {
    text: degree.type or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree type"
      }
    ]
  } if canAmend
} %}

{% set institutionRow = {
  key: {
    text: "Institution"
  },
  value: {
    text: degree.org or 'Not provided'
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree institution"
      }
    ]
  } if canAmend
} %}

{% set countryRow = {
  key: {
    text: "Country"
  },
  value: {
    text: degree.country or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree country"
      }
    ]
  } if canAmend
} %}

{% set graduationRow = {
  key: {
    text: "Graduation year"
  },
  value: {
    text: degree.endDate or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree graduation year"
      }
    ]
  } if canAmend
} %}

{% set gradeRow = {
  key: {
    text: "Grade"
  },
  value: {
    text: degree.grade or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/" + loop.index0 + "/details" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "degree grade"
      }
    ]
  } if canAmend
} %}

{# Bursary row only relevant if trainee has multiple degrees #}
{% set bursaryRow = {
  key: {
    text: "Degree selected for bursaries"
  },
  value: {
    text: "Yes" if (record.degree.degreeToBeUsedForBursaries == degree.id) else "No"
  },
  actions: {
    items: [
      {
        href: recordPath + "/degree/bursary-selection" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "bursary selection"
      }
    ]
  } if canAmend
} if degrees | length > 1 and false %}

{% if isInternational %}
  {% set degreeDetailsRows = [
    ukOrNonUkRow,
    countryRow,
    subjectRow,
    degreeTypeRow,
    graduationRow,
    bursaryRow
  ] %}
{% else %}
  {% set degreeDetailsRows = [
    ukOrNonUkRow,
    institutionRow,
    subjectRow,
    degreeTypeRow,
    gradeRow,
    graduationRow,
    bursaryRow
  ] %}  
{% endif %}


{% set degreeDetailsHtml %}
  {{ govukSummaryList({
    rows: degreeDetailsRows | highlightInvalidRows
  }) }}
{% endset %}

{# Generate title text for card #}
{% if isInternational %}
  {% if degree.type != 'UK ENIC not provided' %}
    {% set typeText = "Non-UK " + degree.type + ": " %}
  {% else %}
      {% set typeText = "Non-UK degree: " %}
  {% endif %}
  {% set titleText = typeText + (degree.subject | lower) %}
{% else %}
  {% set titleText = degree.type + ": " + (degree.subject | lower) %}
{% endif %}


{{ appSummaryCard({
  classes: "govuk-!-margin-bottom-6",
  titleText: titleText | replace("**invalid**", ""),
  actions: {
    items: [{
      href: recordPath + "/degree/" + loop.index0 + "/delete" | addReferrer(referrer),
      text: "Delete degree"
    }]
  } if canAmend,
  html: degreeDetailsHtml
}) }}

