
{% extends "_templates/_record-form.html" %}

{% set pageHeading = 'You cannot withdraw this trainee' %}

{% block formContent %}

  {% include "_includes/trainee-name-caption.njk" %}
  <h1 class="govuk-heading-l">
    {{ pageHeading }}
  </h1>

  <p class="govuk-body">
    You can only withdraw a trainee after they have started their ITT.
  </p>
  <p class="govuk-body">
    You can <a href="{{ "./../delete/confirm" | addReferrer(referrer) }}">delete this trainee record</a>.
  </p>
  <p class="govuk-body">
    If you need more help, email us at <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=withdraw%20a%20trainee">becomingateacher@digital.education.gov.uk</a>.
  </p>

{% endblock %}
