{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

{% set label = "Search for a school by its unique reference number (URN), name or postcode" %}

{# Todo - this could probably be the default that the autocomplete progressively enhances #}
{# <div class="app-no-js-only">
  {{ govukInput({
    id: "schoolSearch",
    name: "_schoolSearch",
    label: {
      text: label
    },
    value: query._schoolSearch,
    classes: 'app-!-max-width-two-thirds'
  }) }}
</div>

<div class="app-js-only">
  {{ appSchoolAutocomplete({
    name: "_autocomplete_result_uuid",
    value: record.schools.employingSchool.schoolName,
    uuid: record.schools.employingSchool.uuid,
    label: {
      text: label
    }
  }) }}
</div> #}

{# Country where trainee is studying #}
{{ appAutocompleteFromSelect({
  hint: {
    text: "If the trainee is studying in more than one country or territory, choose the one where they’ll spend the most time."
  },
  id: 'iqts-country',
  name: "record[iqts][country]",
  items: data.countries | removeArrayItem("United Kingdom") | toSelectItems,
  classes: "govuk-!-width-two-thirds",
  value: record.iqts.country,
  autocompleteOptions: {
    minLength: 2,
    autoselect: true,
    showAllValues: false
  }
} ) }}

{# Autocomplete here for demo purposes - data not saved #}
<div id="iqts-country2__container" style="display: none;">
  {{ appAutocompleteFromSelect({
    label: {
      text: "Second country",
      classes: "govuk-label--s"
    },
    id: 'iqts-country2',
    _name: "record[iqts][country]",
    items: data.countries | removeArrayItem("United Kingdom") | toSelectItems,
    classes: "govuk-!-width-two-thirds",
    value: record.iqts.country,
    autocompleteOptions: {
      minLength: 2,
      autoselect: true,
      showAllValues: false
    }
} ) }}
</div>



<div class="govuk-form-group">
  {{ govukButton({
    text: "Add another country",
    classes: "govuk-button--secondary govuk-!-margin-bottom-1",
    attributes: {
      id: "add-another-country"
    },
    href: "#"
  }) }}
</div>




{{ govukButton({
  text: "Continue"
}) }}
