{% extends "layouts/main.njk" %}

{% set primaryNavId = "account" %}

{% set hidePrimaryNavigation = false %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Your account" %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {% if caption.length %}
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
        {% endif %}
        {{ title }}
      </h1>

      <p class="govuk-hint govuk-!-font-size-16">
        Last signed in on {{ user.lastSignedInAt | govukDateTime }}
      </p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: user.firstName
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: user.lastName
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: user.email
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
