<nav class="app-sub-navigation {{- ' ' + params.classes if params.classes}}" {%- if (params.label) %} aria-label="{{ params.label }}"{% endif %} {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>

  <ul class="app-sub-navigation__list">

    {%- for item in params.items %}


      {% if item %}

        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link {{- ' ' + item.classes if item.classes}}" {{ 'aria-current="page"' | safe if item.active }} href="{{ item.href }}" {%- for attribute, value in item.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
            {{- item.html | safe if item.html else item.text -}}
          </a>
        </li>
      {% endif %}
    {% endfor -%}

  </ul>

</nav>
