{% set providers = data.signedInProviders %}

{% set providers = data.providers.accreditingProviders.all | sort(attribute = "name") %}

{% set providerItems = [] %}

{% for provider in providers %}
  {% set providerItems = providerItems | push({
    text: provider.name + " (" + (provider.providerCode or "C23") + ")",
    value: provider.name
  }) %}
{% endfor %}

{# {% set providerItems = providerItems | push({divider: 'or'}) %}
 #}

<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set adminInsetContentHtml %}
  <p class="govuk-body">
    This feature is only available to admins.
  </p>
  <p class="govuk-body">
    The old and new providers will both be sent a notification that the accrediting provider for this trainee has been updated.
  </p>
{% endset %}


{{ appAdminFeature({
  html: adminInsetContentHtml
}) }}


{{ appAutocompleteFromSelect({
  label: {
    text: "Select new accrediting provider",
    classes: "govuk-label--s"
  },
  hint: {
    html: degreeHint
  },
  id: 'provider',
  name: "record[provider]",
  _items: providers | toSelectItems,
  items: providerItems,
  classes: "govuk-!-width-two-thirds",
  value: record.provider,
  autocompleteOptions: {
    autoselect: false,
    showAllValues: true,
    minLength: 2,
    showSuggestionsBanner: false
  }
}) }}

{# {{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: providerItems
} | decorateAttributes(record, "record.provider")) }} #}

{{ govukButton({
  text: "Continue"
}) }}
