{% extends "_templates/_new-record.html" %}

{% if data.record.diversity.ethnicGroup == "Other ethnic group" %}
  {% set pageHeading = "Which of the following best describes their background?" %}
{% else %}
  {% set pageHeading = "Which of the following best describes their " + data.record.diversity.ethnicGroup + " background?" %}
{% endif %}


{% set formAction = "disabilities" | addReferrer(referrer) %}

{% block formContent %}
  {% include "_includes/forms/diversity/ethnic-background.html" %}
{% endblock %}

