////
/// @group helpers/govuk-tag
////

.app-tag--record-incomplete {
  outline: 1px solid govuk-colour("black");
  outline-offset: -1px;
  color:  $govuk-text-colour;
  background-color: govuk-colour("white");
}
