
// Remove the blue bottom border

.app-light-header {
  border-bottom-color: $govuk-brand-colour;
}

.app-dark-header {
  border-bottom: 0;

  .govuk-header__container {
    border-bottom: none;
    margin-bottom: 0;
  }
}


// More space for service name
.govuk-header__logo {
  @include mq ($from: desktop) {
    width: 50%;
  }
}

.govuk-header__content {
  @include mq ($from: desktop) {
    width: 50%;
    float: right;
  }
}

.govuk-header nav {
    display: inline-block;
    float: right;
}
