
// Removed margin to stop pagination overflowing container
// Todo: investigate why this happens
.moj-pagination {
  margin-right: 0;
  margin-left: 0;
}

.moj-pagination__list {
  padding-left: 0;

  .moj-pagination__item:first-of-type {
    padding-left: 0;
  }
}

.moj-pagination__results {
  padding-left: 0;
  @include govuk-media-query($from: desktop) {
    padding-right: 0;
    padding-left: inherit;
  }
  
}
