// Tab overrides
// These styles:
// fix the jump the tabs do when changing state
// updates the default tab label styles

li.govuk-tabs__list-item {
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

li.govuk-tabs__list-item--selected {
  padding-top: 10px !important;
  border-top: 5px solid $govuk-brand-colour !important;
}