////
/// @group helpers/tabs
////

li.govuk-tabs__list-item {
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

li.govuk-tabs__list-item--selected {
  padding-top: 10px !important;
  border-top: 5px solid $govuk-brand-colour !important;
}
