<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set degreeCount = record.degree.items | length %}
{% if degreeCount < 1 %}
{# {% if degreeCount < 1 and action == "add" %} #}
  {# {% set ukHintText = "For example, BA, BSc or other (please specify)" %} #}
  {% set ukHintText = "For example, BA or BSc" %}
{% else %}
  {% set ukHintText = "For example, BA, BSc, Masters or PhD" %}
{% endif %}


{# Disabled for now in favour of a link in an error message for invalid data #}

{#

{% set insetTextHtml %}
  <p class="govuk-body">Change this to an <a href="./details?degreeTemp[isInternational]=false{{'' | addReferrer(referrer) }}" class="govuk-link">UK degree</a>.</p>
{% endset %}

{{ govukInsetText({
  html: insetTextHtml
}) }} 

#}


{# Degree country #}
{{ appAutocomplete({
  label: {
    text: "In which country is the degree institution based?",
    classes: "govuk-label--s"
  },
  id: 'degree-country',
  name: "degreeTemp[country]",
  items: data.countries | removeArrayItem("United Kingdom"),
  classes: "app-!-autocomplete--max-width-two-thirds",
  value: degreeTemp.country if data.country != "United Kingdom",
  minLength: 2,
  autoSelect: true,
  showAllValues: false
  }
) }}

{# Degree subject #}

{{ appAutocomplete({
  label: {
    text: "Degree subject",
    classes: "govuk-label--s"
  },
  hint: {
    text: 'Search for the closest matching subject'
  },
  id: 'subject',
  autoSelect: true,
  showAllValues: false,
  minLength: 2,
  name: "degreeTemp[subject]",
  items: data.subjects,
  classes: "app-!-autocomplete--max-width-two-thirds",
  value: degreeTemp.subject
  } | highlightInvalidInputs
) }}


{# Degree type / ENIC #}
{% set enicItems = [] %}
{% for enicItem in data.ukComparableDegrees %}
  {% set enicItems = enicItems | push({
    text: enicItem,
    checked: checked(degreeTemp.type, enicItem)
  }) %}
{% endfor %}
{% set enicItems = enicItems | push({divider: 'or'}) %}
{% set enicItems = enicItems | push({text: 'UK ENIC not provided'}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Select the UK ENIC comparable degree",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Formerly UK NARIC"
  },
  items: enicItems
} | decorateAttributes(degreeTemp, "degreeTemp.typeInt")) }}

{# Graduation year #}
{{ govukInput({
  label: {
    text: "Graduation year",
    classes: "govuk-label--s"
  },
  id: "degree-start-date",
  name: "degreeTemp[endDate]",
  value: degreeTemp.endDate,
  classes: "app-!-max-width-one-quarter"
}) }}


{{ govukButton({
  text: "Continue"
}) }}
