
{% extends "_templates/_page.html" %}

{% set backLink = '/records' %}
{% set backText = 'All registered trainees' %}
{% set pageHeading = 'Prototype settings' %}
{# {% set pageAction = value %} #}

{% block content %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    <form action="" method="post">

      {% set insetHtml %}
        More settings: <a href="/admin-providers">providers</a>.
      {% endset %}


      {{ govukInsetText({
        html: insetHtml
      }) }}

      {% set insetHtml %}
        <a href="/direct-set-data">Directly set data</a>
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "View as admin"
          }
        ]
      } | decorateAttributes(data, "data.settings.viewAsAdmin")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Include timeline on records"
          }
        ]
      } | decorateAttributes(data, "data.settings.includeTimeline")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Enable apply integration"
          }
        ]
      } | decorateAttributes(data, "data.settings.enableApplyIntegration")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Group apply sections together"
          }
        ]
      } | decorateAttributes(data, "data.settings.groupApplySections")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Highlight invalid answers"
          }
        ]
      } | decorateAttributes(data, "data.settings.highlightInvalidAnswers")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show links to guidance"
          }
        ]
      } | decorateAttributes(data, "data.settings.includeGuidance")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Use dark header"
          }
        ]
      } | decorateAttributes(data, "data.settings.useDarkHeader")) }}
      
      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show declaration page"
          }
        ]
      } | decorateAttributes(data, "data.settings.includeDeclaration")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show WIP bulk links"
          }
        ]
      } | decorateAttributes(data, "data.settings.showBulkLinks")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Switch from bulk uploads to bulk actions",
            hint: {
              text: "The changes the bulk upload flow to the in-browser bulk action flow"
            }
          }
        ]
      } | decorateAttributes(data, "data.settings.bulkActionsNotBulkUploads")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show bulk updates or actions in nav"
          }
        ]
      } | decorateAttributes(data, "data.settings.showBulkInPrimaryNav")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show funding in nav"
          }
        ]
      } | decorateAttributes(data, "data.settings.showFundingInPrimaryNav")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Include drafts in primary nav"
          }
        ]
      } | decorateAttributes(data, "data.settings.draftsInPrimaryNav")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Trainees need a start date to register for TRN"
          }
        ]
      } | decorateAttributes(data, "data.settings.requireTraineeStartDate")) }}
      
      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show requires attention section"
          }
        ]
      } | decorateAttributes(data, "data.settings.showRequiresAttentionSection")) }}

      {{ govukInput({
        label: {
          text: "Number of publish courses the provider offers",
          classes: "govuk-label--s"
        },
        suffix: {
          text: "courses"
        },
        classes: "app-!-max-width-one-quarter"
      } | decorateAttributes(data, "data.settings.courseLimit")) }}


      {% set allTrainingRoutes = [] %}
      {% for route in data.allTrainingRoutes %}
        {% set allTrainingRoutes = allTrainingRoutes | push({
          text: route
        }) %}
      {% endfor %}

      {% set trainingLinksHtml %}
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "Enabled training routes",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: allTrainingRoutes
        } | decorateAttributes(data, "data.settings.enabledTrainingRoutes")) }}
      {% endset %}
      

      {{ govukDetails({
        summaryText: "Enabled training routes",
        html: trainingLinksHtml
      }) }}

      {{ govukButton({
        "text": "Update"
      }) }}

      <input name="successFlash" type="hidden" value="Prototype settings updated">

    </form>

  </div>

</div>

{% endblock %}
