
{% extends "_templates/_page.html" %}
{% set pageHeading = 'Before you begin' %}
{% set hidePrimaryNav = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    <p class="govuk-body">By using this service, you agree to share accurate information about your trainees. You also agree to take responsibility for informing trainees that you share their data with DfE to register them as trainees.</p>

    {% set destionationUrl %}
      {% if data.isHatModel %}
        /select-organisation?initialProvider=true
      {% else %}
        /home
      {% endif %}
    {% endset %}
    
    <form action="{{destionationUrl}}" method="post">
      {{ govukCheckboxes({
        items: [
          {
            value: 'I agree',
            text: "I agree"
          }
        ]
      } | decorateAttributes(data, "data.declaration")) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %}
