{% extends "layout.html" %}

{% set navActive = "home" %}

{% set draftRecords = data.filteredRecords | filterByStatus("Draft") %}
{% set totalDraftCount = draftRecords | length %}
{% set applyDraftCount = draftRecords | where("source", "Apply") | length %}
{% set registeredTrainees = data.filteredRecords | filterByStatus("Draft", true) %}
{% set pageHeading = "Your trainee teachers" %}

{% set records = data.filteredRecords | filterByYear(data.years.currentAcademicYear) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      <h2 class="govuk-heading-l">Draft trainees</h2>
      <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
        {% if totalDraftCount != applyDraftCount %}
          <li><a class="govuk-link" href="/drafts">View all draft trainees ({{ totalDraftCount }})</a></li>
        {%  endif %}
        {% if applyDraftCount > 0 %}
          <li><a class="govuk-link" href="/drafts?filterSource=Apply">View draft trainees imported from Apply ({{applyDraftCount}})</a></li>
        {% endif %}
        <li class="govuk-!-margin-bottom-0"><a class="govuk-link" href="/new-record/new">Create a trainee record</a></li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">Registered trainees</h2>
      <p class="govuk-body">
        <a class="govuk-link" href="/records?filterCycle=_unchecked">View all registered trainees ({{ registeredTrainees | length }})</a>
      </p>
      {# Hidden because Production doesn’t have a concept of years #}
      {# {% set year = "2020 to 2021" %}
        <h3 class="govuk-heading-m">
          {{ year }} trainees
          <span class="govuk-body">
             —  <a class="govuk-link" href="/records?filterCycle={{ year }}">view all <span class="govuk-visually-hidden">2020 to 2021 trainees</span> ({{ registeredTrainees | filterByYear([ year ]) | length }})
              </a>
          </span>
      </h3> #}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="app-home-statuses">

          {% set statuses = ["Pending TRN", "TRN received", "Recommended", "Awarded", "Deferred", "Withdrawn"] %}
          {% for status in statuses  %}
            {% set statusString = status %}
            {% set searchStatus = status %}
            {% if status == "Recommended" %}
                {% set searchStatus = "EYTS recommended&filterStatus=QTS recommended" %}
                {% set recordCount = records | where("status", ["EYTS recommended", "QTS recommended"]) | length %}
                {% set statusString = "Qualification recommended" %}
              {% elseif status == "Awarded" %}
                {% set searchStatus = "EYTS awarded&filterStatus=QTS awarded" %}
                {% set recordCount = records | where("status", ["EYTS awarded", "QTS awarded"]) | length %}
                {% set statusString = "Qualification awarded" %}
              {% else %}
                {% set recordCount = records | where("status", status) | length %}
            {% endif %}
              <a href="/records?filterStatus={{ searchStatus }}" class="status-card status-card--{{ status | lower | kebabCase }}">
                <span class="status-card__count">{{ recordCount }}</span>
                <span class="status-card__status">{{ statusString }}</span><span class="govuk-visually-hidden"> records. View these records.</span>
              </a>
          {% endfor %}
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">Guidance and feedback</h2>
      {# We need to split these pages #}
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link" href="/guidance#section-about-register">Find out about Register trainee teachers</a></li>
        <li><a class="govuk-link" href="/guidance#section-check-data">Check what data you need to provide</a></li>
        <li><a class="govuk-link" href="#">Give feedback to help us improve Register trainee teachers</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
