{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{# custom components #}
{# Most of these copied from the Apply for teacher training prototype #}
{% from "_components/admin-feature/macro.njk"   import appAdminFeature %}
{% from "_components/autocomplete/macro.njk"   import appAutocomplete %}
{% from "_components/autocomplete-new/macro.njk"   import appAutocompleteFromSelect %}
{% from "_components/autocomplete-new/macro.njk"   import appAutocompleteFromInput %}
{% from "_components/banner/macro.njk"         import appBanner %}
{% from "_components/summary-card/macro.njk"   import appSummaryCard %}
{% from "_components/task-list/macro.njk"   import appTaskList %}
{% from "_components/footer/macro.njk"   import appFooter %}
{% from "_components/school-autocomplete/macro.njk"   import appSchoolAutocomplete with context %}
{% from "_components/sub-navigation/macro.njk"   import appSubNavigation %}
{% from "_components/notice-banner/macro.njk" import appNoticeBanner %}
{% from "_components/timeline/macro.njk"   import appTimeline %}

{# Wrapper of moj’s filter stuff #}
{% from "_components/filter-page/macro.njk"         import appFilterPage %}

{# moj components #}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% block head %}
  {% include "_includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  {{  pageTitle }}
{% endblock %}

{% block header %}
  {% include "_includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {% set headerClass = 'app-light-header' %}
  {{ govukHeader({
    homepageUrl: "/start-page",
    productName: serviceName,
    serviceUrl: "/records",
    classes: headerClass,
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Your account"
      } if false,
      {
        href: "/start-page",
        text: "Sign out"
      }
    ] if not hideNav
  }) }}

  {% set rightHandSideNavHtml %}
    {# Only show provider link if there’s more than one #}
{#     {% if data.isHatModel and data.settings.userProviders | length > 0 %} #}

    {% set providerName = data.settings.userActiveProvider %}
    {% if providerName | providerIsLeadSchool %}
      {% set providerName -%}
        {{providerName}}{#  (view only) #}
      {%- endset %}
    {% endif %}

      <nav class="moj-primary-navigation">
        <ul class="moj-primary-navigation__list">

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link {{ 'aria-current="page"' | safe if navActive == 'provider' }}" href="/select-organisation">
                {{ providerName }}
              </a>
            </li>

        </ul>

      </nav>
    {# {% endif %} #}
  {% endset %}

  {% set navItems = [{
      text: 'Home',
      href: '/home',
      active: true if navActive == 'home'
    },
    {
      text: 'Draft trainees',
      href: '/drafts',
      active: true if navActive == 'drafts'
    } if isAuthorised('viewDrafts'),
    {
      text: 'Registered trainees',
      href: '/records',
      active: true if navActive == 'records'
    },
    {
      text: 'Bulk recommend',
      href: '/bulk-update/recommend',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk recommend",
    {
      text: 'Bulk updates',
      href: '/bulk-update',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk updates",
    {
      text: 'Bulk actions',
      href: '/bulk-action/new',
      active: true if navActive == 'bulk'
    } if isAuthorised('bulkActions') and data.settings.bulkLinksInPrimaryNav == "Show bulk actions",
    {
      text: 'Courses',
      href: '/root/case-list',
      active: true if navActive == 'courses'
    } if false,
    {
      text: 'Funding',
      href: '/funding/monthly-payments',
      active: true if navActive == 'funding'
    } if data.settings.showFundingInPrimaryNav
  ] %}

    {# MOJ primary nav does’t handle empty items well, so remove them here #}
    {% set navItems = navItems | removeEmpty %}

  {% if not hidePrimaryNav %}

    {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: navItems,
    searchHtml: rightHandSideNavHtml
    }) }}

  {% endif %}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  classes: 'govuk-!-margin-top-1',
  html: 'This is a prototype of a new service – your <a href="#" class="govuk-link">feedback</a> will help us improve it'
}) }}
{% block pageNavigation %}
{% endblock %}
{% block pageBanner %}
{% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set metaHtml %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        Get support
      </h2>

      <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
        <li><a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
        <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        Give feedback
      </h2>

      <p class="govuk-body govuk-!-font-size-16"><a href="/guidance" class="govuk-link govuk-footer__link">Give feedback to help us improve <span class="app-nowrap">Register trainee teachers</span></a></p>

    </div>
  </div>
{% endset %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ appFooter({
      classes: "govuk-footer--app",
      meta: {
        _title: "Get support",
        html: metaHtml,
        items: [
          {
            href: "/guidance",
            text: "Guidance"
          },{
            href: "/accessibility-statement",
            text: "Accessibility"
          },{
            href: "/cookies",
            text: "Cookies"
          },{
            href: "/privacy-notice",
            text: "Privacy"
          }
        ]
      }
    }) }}
    {% include "_includes/footer-settings.njk" %}
  {% endblock %}
{% endif %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "_includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
