{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{# custom components #}
{# Most of these copied from the Apply for teacher training prototype #}
{% from "_components/admin-feature/macro.njk"   import appAdminFeature %}
{% from "_components/autocomplete/macro.njk"   import appAutocomplete %}
{% from "_components/banner/macro.njk"         import appBanner %}
{% from "_components/summary-card/macro.njk"   import appSummaryCard %}
{% from "_components/task-list/macro.njk"   import appTaskList %}
{% from "_components/footer/macro.njk"   import appFooter %}
{% from "_components/school-autocomplete/macro.njk"   import appSchoolAutocomplete with context %}
{% from "_components/sub-navigation/macro.njk"   import appSubNavigation %}
{% from "_components/primary-navigation-dark/macro.njk"   import appPrimaryNavigationDark %}
{% from "_components/notice-banner/macro.njk" import appNoticeBanner %}
{% from "_components/timeline/macro.njk"   import appTimeline %}

{# Wrapper of moj’s filter stuff #}
{% from "_components/filter-page/macro.njk"         import appFilterPage %}

{# moj components #}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% block head %}
  {% include "_includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  {{  pageTitle }}
{% endblock %}

{% block header %}
  {% include "_includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {% set headerClass = 'app-dark-header' if data.settings.useDarkHeader else 'app-light-header' %}
  {{ govukHeader({
    homepageUrl: "/start-page",
    productName: serviceName,
    serviceUrl: "/records",
    classes: headerClass,
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Your account"
      } if false,
      {
        href: "/start-page",
        text: "Sign out"
      }
    ] if not hideNav
  }) }}

  {% set rightHandSideNavHtml %}
    {# Only show provider link if there’s more than one #}
    {% if data.isHatModel and data.signedInProviders | length > 1 %}

      <nav class="moj-primary-navigation">
        <ul class="moj-primary-navigation__list">

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {{ 'aria-current="page"' | safe if navActive == 'provider' }} href="/select-provider">
                {{ data.settings.userActiveProvider }}
              </a>
            </li>

        </ul>

      </nav>
    {% endif %}
  {% endset %}

  {% set navItems = [{
      text: 'Home',
      href: '/home',
      active: true if navActive == 'home'
    },
    {
      text: 'Draft trainees',
      href: '/drafts',
      active: true if navActive == 'drafts'
    } if data.settings.draftsInPrimaryNav == 'true',
    {
      text: 'Registered trainees',
      href: '/records',
      active: true if navActive == 'records'
    },
    {
      text: 'Bulk actions',
      href: '/bulk-action/new',
      active: true if navActive == 'bulk'
    },
    {
      text: 'Courses',
      href: '/root/case-list',
      active: true if navActive == 'courses'
    } if false
    ] %}

    {# MOJ primary nav does’t handle empty items well, so remove them here #}
    {% set navItems = navItems | removeEmpty %}

  {% if not hidePrimaryNav %}

    {% if data.settings.useDarkHeader %}
      {{ appPrimaryNavigationDark({
        label: 'Primary navigation',
        items: navItems,
        searchHtml: rightHandSideNavHtml
      }) }}
    {% else %}
      {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: navItems,
      searchHtml: rightHandSideNavHtml
      }) }}
    {% endif %}

  {% endif %}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  classes: 'govuk-!-margin-top-1',
  html: 'This is a prototype of a new service – <a href="#" class="govuk-link">give feedback or report a problem</a>'
}) }}
{% block pageNavigation %}
{% endblock %}
{% block pageBanner %}
{% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set metaHtml %}
  <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
    <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher<wbr>@digital.education.gov.uk</a></li>
    <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
  </ul>
  {% set guidanceLink = '/guidance' if data.settings.includeGuidance else '#' %}
  <p class="govuk-body govuk-!-font-size-16"><a href="{{guidanceLink}}" class="govuk-link govuk-footer__link">Find out about Register trainee teachers</a></p>
  <form method="post" action="/admin/clear-data" class="app-hidden-form">
    <button class="app-link-button">
      Clear data
    </button>
  </form>
{% endset %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ appFooter({
      classes: "govuk-footer--app",
      meta: {
        title: "Get support",
        html: metaHtml,
        items: [
        {
          href: "/accessibility-statement",
          text: "Accessibility"
        },{
          href: "/cookies",
          text: "Cookies"
        },{
          href: "/privacy-policy",
          text: "Privacy policy"
        }, {
          href: "/admin",
          text: "Prototype admin"
        }, {
          href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=1",
          text: "v1"
        } if providerCode and courseCode, {
          href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=2",
          text: "v2"
        } if providerCode and courseCode, {
          href: "/apply/" + providerCode + "/" + courseCode + "?dualrunning=true&variant=3",
          text: "v3"
        } if providerCode and courseCode]
      }
    }) }}
  {% endblock %}
{% endif %}


{% block bodyEnd %}
  {% block scripts %}
    {% include "_includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
