{% extends "_templates/_page.html" %}

{% set pageBaseName = "Registered trainees" if data.settings.draftsInPrimaryNav | falsify else "Registered trainees" %}

{% set pageHeading %}
  {{pageBaseName}} ({{filteredRecords | length}} {{ "record" | pluralise(filteredRecords | length) }})
{% endset %}

{% set backText = "Home" %}
{% set backLink = '/home' %}
{% set navActive = "records" %}

{# Dual skip links to support skipping to results rather than #main-content #}
{% block skipLink %}
  <div class="app-skip-link__container">
    <span class="app-skip-link__item">
      {{ govukSkipLink({
        href: '#main-content',
        text: 'Skip to main content'
      }) }}
    </span>
    <span class="app-skip-link__item">
      {{ govukSkipLink({
        href: '#records-list',
        text: 'Skip to results' if selectedFilters else 'Skip to records'
      }) }}
    </span>
  </div>
{% endblock %}

{% block content %}
{# super pulls in flash message banner #}
{{super()}}

{% set bulkButton %}
  {{ mojButtonMenu({
    items: [
      {
        text: "Submit a group of draft records",
        href: "/bulk-action/new/register-for-trn",
        classes: "govuk-button--secondary"
      },
      {
        text: "Recommend a group of trainees for " + (data.record | getQualificationText),
        href: "/bulk-action/new/recommend-for-qts",
        classes: "govuk-button--secondary"
      }
    ]
    }) }}
{% endset %}

{% set filterOptionsHtml %}

  {% set showDefaultVisibleYears = true %}
  {% include "_includes/filter-panel/cycles.njk" %}

  {% include "_includes/filter-panel/level.njk" %}

  {% include "_includes/filter-panel/signed-in-providers.njk" %}

  {% include "_includes/filter-panel/training-routes.njk" %}

  {% include "_includes/filter-panel/statuses.njk" %}

  {% include "_includes/filter-panel/subjects.njk" %}

  {% include "_includes/filter-panel/studyMode.njk" %}

{% endset %}

{% set filterContentHtml %}
  {% if filteredRecords | length %}

    <div class="app-records-actions">
      <div class="app-records-actions__col">
        <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Export these records</a></p>
        {# Only sort if there’s at least two items #}
        {% if filteredRecords | length > 1 %}
          {% include "_includes/record-sort-order.njk" %}
        {% endif %}
      </div>
      <div class="app-records-actions__col">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter">
          </div>
        </div>
      </div>
    </div>

    <div class="app-application-cards">

      {% set draftRecords = filteredRecords | where("status", ["Draft", "Apply draft"]) %}

      {% if draftRecords | length %}

        {# Bulk actions on drafts #}
        <form action="/bulk-action/new/direct" method="post" novalidate>

          <div class="govuk-!-margin-bottom-8">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Draft records</h2>
              </div>

              {% if data.settings.showBulkLinks %}
                <div class="govuk-grid-column-one-half">
                  <input type="hidden" name="[bulk][action]" value="Submit a group of records and request TRNs">
                  <button role="link" class="govuk-body app-button-as-link govuk-link align-right">Submit draft records for TRN</button>
                </div>
              {% endif %}

            </div>

            {% for record in draftRecords %}
              {% include "_includes/trainee-record-card.njk" %}
            {% endfor %}

          </div>

        </form>

      {% endif %}

      {% set nonDraftRecords = filteredRecords | removeWhere("status", ["Draft", "Apply draft"]) %}

      {% if nonDraftRecords | length %}

        {# Bulk actions on non drafts #}
        <form action="/bulk-action/new/direct" method="post" novalidate>

          <div class="govuk-grid-row">
            {# <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">Records</h2>
            </div> #}

            {% if data.settings.showBulkLinks %}
              <div class="govuk-grid-column-one-half">
                <input type="hidden" name="[bulk][action]" value="Recommend a group of trainees for EYTS or QTS">
                <button role="link" class="govuk-body app-button-as-link govuk-link align-right">Recommend trainees for EYTS or QTS</button>
              </div>
            {% endif %}

          </div>

          {% for record in nonDraftRecords %}
            {% include "_includes/trainee-record-card.njk" %}
          {% endfor %}

        </form>
      {% endif %}
    </div>

    {# Dummy pagination - not hooked up to data yet #}
    {% include "_includes/pagination.njk" %}

  {% else %}
    <h2 class="govuk-heading-m">No records found</h2>
    <p class="govuk-body">Try <a href="/records">clearing your search and filters</a>.</p>
  {% endif %}
{% endset %}



{% if not data.settings.draftsInPrimaryNav | falsify %}
  {{ appSubNavigation({
    label: 'Sub navigation',
    classes: 'govuk-!-margin-bottom-8',
    items: [
    {
      text: 'Draft records',
      href: '/drafts',
      active: (currentPageUrl == "/drafts")
    },
    {
      text: 'Registered trainees',
      href: '/records',
      active: (currentPageUrl == "/records")
    }
    ]
  }) }}
{% endif %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {# This heading set separately than {{pageHeading}} as it uses html #}
    <h1 class="govuk-heading-xl">{{pageBaseName}} ({{filteredRecords | length}}<span class="govuk-visually-hidden"> {{ "record" | pluralise(filteredRecords | length)}}</span>)</h1>

    {{ govukButton({
      text: "Create a trainee record",
      href: "./new-record/new",
      isStartButton: true
    }) }}

  </div>

  {% if data.settings.showBulkLinks %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Submit a group of draft records
              </a>
            </li>
            <li>
              <a href="#">
                Recommend a group of trainees for EYTS or QTS
              </a>
            </li>
          </ul>
        </nav>
        <div class="js-bulk-menu govuk-!-margin-bottom-3">
          {{bulkButton | safe}}
        </div>
      </aside>
    </div>
  {% endif %}

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {{ appFilterPage({
      filterOptions: filterOptionsHtml,
      selectedFilters: selectedFilters,
      filterContent: filterContentHtml
      })
    }}
  </div>

</div>

{% endblock %}

{% block pageScripts %}
  <script>
    new MOJFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.moj-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary'
    },
    closeButton: {
      container: $('.moj-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.moj-filter')
    }
  });
  </script>
{% endblock %}
