
{% extends "_templates/_record.html" %}

{% set backLink = '/records' %}
{% set backText = 'All registered trainees' %}
{% set pageHeading = record.personalDetails.shortName %}
{% set activeTab = 'trainee-details' %}

{% block tabContent %}
{% set referrer = recordPath %}

{% set hasCommencementDate = record.trainingDetails.traineeStarted | falsify %}

{% set recordPath = "/record/" + record.id %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% if canAmend %}
      <div class="record-actions">
        {% if record.status | canRecommendForQts %}
          {% if record | ittInTheFuture %}
            {{ govukInsetText({
            text: "The trainee’s ITT starts on " + (record.courseDetails.startDate | govukDate),
            classes: "govuk-!-margin-0"
          }) }}
          {% elseif record | hasOutstandingActions %}
            {{ govukInsetText({
              text: "This trainee record requires additional details",
              classes: "govuk-!-margin-0"
            }) }}
          {% else %}
            {{ govukButton({
              text: "Recommend trainee for " + (record | getQualificationText),
              href: referrer + '/qualification/outcome-date',
              classes: "govuk-!-margin-bottom-0"
            }) }}
          {% endif %}
        {% elseif record.status == "Pending TRN" %}
          {{ govukInsetText({
            text: "This trainee is pending a TRN",
            classes: "govuk-!-margin-0"
          }) }}
        {% elseif record.status == "Deferred" %}
          {{ govukInsetText({
            text: "This trainee is deferred",
            classes: "govuk-!-margin-0"
          }) }}
        {% endif %}
        {% include "_includes/record-actions.njk" %}
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}


    <h2 class="govuk-heading-s">Trainee progress</h2>
    {% include "_includes/summary-cards/trainee-progress.html" %}

    <h2 class="govuk-heading-s">Course details</h2>
    {% include "_includes/summary-cards/course-details.html" %}

    {% if record | requiresSection("schools") %}
      <h2 class="govuk-heading-s">Schools</h2>
      {% include "_includes/summary-cards/schools.html" %}
    {% endif %}

    {% if record | requiresSection("placement") %}
      <h2 class="govuk-heading-s">Placements</h2>
      {% include "_includes/summary-cards/placements/placement-overview.html" %}
    {% endif %}

    {% if record | requiresSection("funding") %}
      <h2 class="govuk-heading-s">Funding</h2>
      {% set showBursaryRow = true %}
      {% include "_includes/summary-cards/funding.html" %}
    {% endif %}
  </div>
<div>

{% endblock %}
