
{% extends "_templates/_page.html" %}
{% set backLink = '/start-page' %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}


{% set pageHeading = 'Request an account to use Register trainee teachers' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{pageHeading}}</h1>

    <p class="govuk-body">You can only get a Register trainee teachers (Register) account if you work for either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>an initial teacher training (ITT) accredited provider</li>
      <li>a lead school involved in School Direct teacher training</li>
    </ul>
    <p class="govuk-body">Follow these steps to get an account to use Register.</p>
    <h2 class="govuk-heading-m">1. Get a DfE Sign-in account</h2>
      <p class="govuk-body">You’ll use a DfE Sign-in account to sign in to Register.</p>
    <p class="govuk-body">The email address you use for your DfE Sign-in account must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be a named individual email address, for example jane.doe@example.com</li>
      <li>have an email domain belonging to your organisation, for example it cannot end with @gmail.com or @icloud.com</li>
    </ul>
    <p class="govuk-body"><a href="https://services.signin.education.gov.uk/" class="govuk-link">Get a DfE Sign-in account</a> if you do not already have one.</p>
    <h2 class="govuk-heading-m">2. Get a register account</h2>
    <p class="govuk-body">Once you have a DfE Sign-in account, you can request a Register account by emailing <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Request a Register account" class="govuk-link">becomingateacher@digital.education.gov.uk</a>.</p>
    <p class="govuk-body">Ask a colleague with an account to send the email if your organisation already uses Register. Otherwise you can send the email yourself.</p>
    <p class="govuk-body">The email should say that you want to start using Register and include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the accredited provider or lead school you work for</li>
      <li>the email address used for your DfE Sign-in account</li>
    </ul>
    <p class="govuk-body">If more than one person at your organisation needs a Register account, all their details can be included in the same email.</p>
    <p class="govuk-body"></p>
    <p class="govuk-body">You’ll be sent an email once your Register account has been set up.</p>
    <h2 class="govuk-heading-m">3. Ask for access to additional accredited providers or lead schools (optional)</h2>
    <p class="govuk-body">Do not create multiple user accounts if you need access to additional accredited providers or lead schools.</p>
    <p class="govuk-body">Once your Register account has been set up, email <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Add multiple organisations to Register account" class="govuk-link">becomingateacher@digital.education.gov.uk</a> to ask for the other organisations to be added to your account.</p>
  </div>
</div>

{% endblock %}
