
{% extends "_templates/_page.html" %}
{% set backLink = '/start-page' %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}


{% set pageHeading = 'Request an account' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{pageHeading}}</h1>

    <p class="govuk-body">Follow these steps to get an account to use Register trainee teachers (Register).</p>
    <h2 class="govuk-heading-m">Step 1: Get a DfE Sign-in account</h2>
    <p class="govuk-body">To use Register, each person in your organisation will need a DfE Sign-in account.</p>
    <p class="govuk-body">The email address you use for your DfE Sign-in account  must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be a named individual email address, for example jane.doe@example.com</li>
      <li>have an email domain from your organisation, for example we cannot accept emails that end with @gmail.com or @icloud.com</li>
    </ul>
    <p class="govuk-body">Get a <a href="https://services.signin.education.gov.uk/" class="govuk-link">DfE Sign-in account</a> if you do not already have one.</p>
    <h2 class="govuk-heading-m">Step 2: Email us to request a Register account</h2>
    <p class="govuk-body">Once you have a DfE Sign-in account with a named email address, email <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Request a Register account" class="govuk-link">becomingateacher@digital.education.gov.uk</a></p>
    <p class="govuk-body">In your email, tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the training provider or lead school you represent</li>
      <li>that you would like to start using Register</li>
      <li>the email address used for your DfE Sign-in account</li>
    </ul>
    <p class="govuk-body">If there is more than one person at your organisation who would like to get set up, you can send one email with everyone’s details.</p>
    <h2 class="govuk-heading-m">Step 3: Start using Register</h2>
    <p class="govuk-body">Once you’ve sent us the email in Step 2, we will set up your Register account.</p>
    <p class="govuk-body">We will then email you a link to start using Register.</p>
    <h2 class="govuk-heading-m">Step 4 (optional): Access to multiple providers or lead schools</h2>
    <p class="govuk-body">If you need access to multiple providers or lead schools, you do not need to create multiple user accounts.</p>
    <p class="govuk-body">Once your Register account is set up, you can request that the relevant organisations are added to your account by emailing <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Add multipl organisations to Register account" class="govuk-link">becomingateacher@digital.education.gov.uk</a></p>
  </div>
</div>

{% endblock %}
