
{% extends "_templates/_page.html" %}
{% set backLink = '/start-page' %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}


{% set pageHeading = 'Request an account' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{pageHeading}}</h1>

    <p class="govuk-body">To get a Register trainee teachers (Register) account you need a DfE Sign-in account.</p>
    <p class="govuk-body">Get a <a href="https://services.signin.education.gov.uk/" class="govuk-link">DfE Sign-in account</a> if you do not already have one.</p>
    <p class="govuk-body">Then request an account for Register by emailing <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Request an account for the Register trainee teachers service" class="govuk-link">becomingateacher@digital.education.gov.uk</a></p>
    <p class="govuk-body">The email address used for your DfE Sign-in and Register account must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be a named email address, for example jane.doe@example.com</li>
      <li>have an email domain from your organisation, for example we cannot accept emails that end with @gmail.com or @icloud.com</li>
    </ul>
    <p class="govuk-body">In your email, tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of your training provider or Lead school</li>
      <li>that you would like to start using Register</li>
      <li>the email address used for your DfE Sign-in account</li>
    </ul>
    <p class="govuk-body">We will email you once we have set up your account.</p>

  </div>
</div>

{% endblock %}
