
{% extends "_templates/_page.html" %}
{% set backLink = '/home' %}

{% if query.initialProvider %}
  {% set hidePrimaryNav = true %}
{% endif %}

{% set pageHeading = 'Choose provider' %}

{% set navActive = 'provider' %}

{% block pageNavigation %}

  {% if backLink and not query.initialProvider %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        {{data.settings.userProviders | log}}

        {% set userProviders = data.settings.userProviders | getProviderData %}
        {% set providersByType = userProviders | groupby("type") %}

        {{providersByType | log}}

        {% if providersByType.accreditingProvider %}
          <h2 class="govuk-heading-m">Accrediting providers</h2>

          <ul class="govuk-list">
            {% for provider in providersByType.accreditingProvider %}
              <li>
                {# TODO: make real stles for this element #}
                <a href="/home?settings[userActiveProvider]={{provider.name}}&clearQuery=true" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">{{provider.name}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if providersByType.leadSchool %}
          <h2 class="govuk-heading-m">Lead schools</h2>

          <ul class="govuk-list">
            {% for provider in providersByType.leadSchool %}
              <li>
                {# TODO: make real stles for this element #}
                <a href="/home?settings[userActiveProvider]={{provider.name}}&clearQuery=true" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">{{provider.name}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}


      </div>
    </div>
  </div>
</div>

{% endblock %}
