
{% extends "_templates/_page.html" %}

{% set backLink = '/records' %}
{% set backText = 'All registered trainees' %}
{% set pageHeading = 'Prototype settings' %}
{# {% set pageAction = value %} #}

{% block content %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    <form action="" method="post">

      {% set insetHtml %}
        More settings: <a href="/admin-providers">providers</a>.
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      {% set insetHtml %}
        <a href="/direct-set-data">Directly set data</a>
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      {% if not data.isAdmin %}
        {% set hrefHtml %}
          ./settings?settings[userActiveProvider]={{data.settings.defaultAdminName}}&clearQuery=true&settings[previousUserActiveProvider]={{data.settings.userActiveProvider}}
        {% endset %}
        {{ govukButton({
          "text": "Sign in as Admin",
          href: hrefHtml
        }) }}
      {% else %}
        {% set hrefHtml %}
          ./settings?settings[userActiveProvider]={{data.settings.previousUserActiveProvider}}&clearQuery=true&settings[previousUserActiveProvider]=
        {% endset %}
        {{ govukButton({
          "text": "Sign out as Admin",
          href: hrefHtml
        }) }}
      {% endif %}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Group apply sections together"
          }
        ]
      } | decorateAttributes(data, "data.settings.groupApplySections")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Highlight invalid answers"
          }
        ]
      } | decorateAttributes(data, "data.settings.highlightInvalidAnswers")) }}
      
      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show declaration page"
          }
        ]
      } | decorateAttributes(data, "data.settings.includeDeclaration")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show WIP bulk links"
          }
        ]
      } | decorateAttributes(data, "data.settings.showBulkLinks")) }}

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show funding in nav"
          }
        ]
      } | decorateAttributes(data, "data.settings.showFundingInPrimaryNav")) }}

      {{ govukInput({
        label: {
          text: "Number of publish courses the provider offers",
          classes: "govuk-label--s"
        },
        suffix: {
          text: "courses"
        },
        classes: "app-!-max-width-one-quarter"
      } | decorateAttributes(data, "data.settings.courseLimit")) }}

      {{ govukRadios({
        fieldset: {
          legend: {
            text: "Bulk links in nav",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: 'Show bulk recommend',
            text: "Show bulk recommend"
          },
          {
            value: 'Show bulk updates',
            text: "Show bulk updates"
          },
          {
            value: 'Show bulk actions',
            text: "Show bulk actions"
          },
          {
            value: 'None',
            text: "None"
          }
        ]
      } | decorateAttributes(data, "data.settings.bulkLinksInPrimaryNav")) }}


      {% set allTrainingRoutes = [] %}
      {% for route in data.allTrainingRoutes %}
        {% set allTrainingRoutes = allTrainingRoutes | push({
          text: route
        }) %}
      {% endfor %}

      {% set trainingLinksHtml %}
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "Enabled training routes",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: allTrainingRoutes
        } | decorateAttributes(data, "data.settings.enabledTrainingRoutes")) }}
      {% endset %}
      

      {{ govukDetails({
        summaryText: "Enabled training routes",
        html: trainingLinksHtml
      }) }}

      {{ govukButton({
        "text": "Update"
      }) }}

      <input name="successFlash" type="hidden" value="Prototype settings updated">

    </form>

  </div>

</div>

{% endblock %}
