{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block pageTitle %}
  {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Register trainee teachers' %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
  <div class="start-page-banner">

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          {{ govukTag({
            text: "prototype",
            classes: "govuk-phase-banner__content__tag start-page-banner__tag"
          }) | indent(4) | trim }}
          <span class="govuk-phase-banner__text start-page-banner__text">
            This is a prototype of a new service. <a href="#" class="govuk-link start-page-banner__link">Give feedback to help us improve this service</a>.
          </span>
        </p>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">{{pageHeading}}</h1>
          <p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">Register trainees with the Department for Education and record the outcome of their training.</p>
          <div class="start-page-banner__actions">
            {{ govukButton({
              text: "Sign in",
              href: "/sign-in",
              classes: "start-page-banner__button",
              isStartButton: true
            }) }}
            <p class="govuk-body start-page-banner__text">or
            <a class="govuk-link govuk-link--no-visited-state" href="/home">request an account</a></p>
          </div>

        </div>
      </div>
    </div>

    </div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Latest news and updates
    </h2>
    {% for update in data.serviceUpdates.items -%}
      {%- if loop.index == 1 -%}
        {% include "_includes/app-service-updates.html" %}
      {%- endif -%}
    {%- endfor %}
    <a href="/service-updates" class="govuk-body">
      View all news and updates
    </a>
  </div>
</div>

{% endblock %}
