{% extends "layout.html" %}

{% set navActive = "home" %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Test page</h1>
        <form method="POST" action="">

          {# <h2 class="govuk-heading-m">The answer is: {{data.autocompleteTest}}</h2> #}



          {# {{ ["Hope Academy", "Coventry University"] | getProviderData | log('is leadschool')}} #}

          {# {{ recordAccessLevel | log("Access levels")}} #}

          {{ isAuthorised('viewDiversity') | log('view diversity') }}

          {{'Coventry University' | getProviderData | log}}


          {# {{items | log}} #}
          {# {{data | log}} #}

          {# {{ appAutocompleteFromSelect({
            label: {
              text: "The label",
              classes: "govuk-label--s"
            },
            hint: {
              text: "The hint"
            },
            id: 'new-autocomplete',
            parentClasses: "app-!-autocomplete--max-width-two-thirds",
            name: 'autocompleteTest[foo][component]',
            value: data.autocompleteTest.foo.component,
            showAllValues: true,
            items: items,
            autocompleteOptions: {
              showAllValues: true
            }
          })}}
 #}
          {# {{ appAutocompleteFromInput({
            label: {
              text: "Input label",
              classes: "govuk-label--s"
            },
            hint: {
              text: "The hint"
            },
            id: 'input-autocomplete',
            parentClasses: "app-!-autocomplete--max-width-two-thirds",
            name: 'autocompleteTest[foo][theinput]',
            value: data.autocompleteTest.foo.theinput,
            showAllValues: true,
            items: [['thing abba abba','gb'], 'thing abecca becca', 'thing cantona fesfe'],
            autocompleteOptions: {
              autoselect: true
            }
          })}} #}


         {#  <div data-module="app-autocomplete">
            {{ govukSelect({
            id: "sort",
            name: "autocompleteTest[foo][select]",
            label: {
              text: "Sort by"
            },
            attributes: {
              "data-showAllValues": true
            },
            items: [
              {
                value: "published",
                text: "Recently published"
              },
              {
                value: "updated",
                text: "Recently updated",
                selected: true
              },
              {
                value: "views",
                text: "Most views"
              },
              {
                value: "comments",
                text: "Most comments"
              }
            ]
          }) }}
          </div> #}

          {# {% set values = [
            { 
              name: 'ab foo'
            },
            { 
              name: 'ab bar'
            },
            { 
              name: 'ab baz'
            }
          ] %} #}

          {# <div data-module="app-autocomplete" data-values="{{ values | dump }}">
            {{ govukInput({
              label: {
                text: "What is the name of the event?",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              id: "event-name",
              name: "autocompleteTest[foo][input]"
            }) }}
            <div id="event-name-autocomplete-container"></div>
          </div>
 #}
          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

        
        

      </div>
    </div>
    



{% endblock %}
