{% extends "_templates/_page.html" %}

{% set navActive = "funding" %}
{% set backLink = 'false' %}

{% set filteredRecords = data.records | filterRecords(data) %}

{# Get an array of the trainees #}
{% set processedTrainees = processedRows | lodash("map", "trainee") %}

{% set pageHeading = "File processed successfully" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleText: pageHeading,
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <p class="govuk-body">
        Providers and lead partners can now view their monthly funding payments.
      </p>

      <p class="govuk-body">You should check if the correct monthly funding payments were processed. You can do this by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>viewing the 'Last completed' column on Upload funding information page to see how current the upload date is</li>
      </ul>


      <h2 class="govuk-heading-m">Next steps</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/support/funding/index" class="govuk-link">Upload more funding information</a></li>
        <li><a href="/support/" class="govuk-link">Support home</a></li>
      </ul>

      {{data | log}}
    </div>
  </div>

{% endblock %}
