{% extends "_layouts/main.njk" %}

{% if not backLink %}
  {% set backLink = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
  {% set backText = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
  {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
  {% set backText = '' %}
{% endif %}

{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% set backLink = '/guidance' %}
{% set backText = "How to use this service" %}

{% block pageNavigation %}
  {% if breadcrumbs %}
    {{ govukBreadcrumbs(breadcrumbs)}}
  {% elseif backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "_includes/app-flash-message.njk" %}

  <div class="govuk-grid-row">
    <div class="app-markdown {{ gridColumn or 'govuk-grid-column-two-thirds-from-desktop' }}">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      {{ guidanceContent | markdown | safe }}
    </div>
   </div>
{% endblock %}
