{% extends "layout.html" %}

{% if not backLink %}
    {% set backLink      = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText      = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}


{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{# {% set breadcrumbs  = {
  items: [
    {
      text: "How to use this service",
      href: "/guidance"
    }
  ]
} %}
 #}
{% set backLink = '/guidance' %}
{% set backText = "How to use this service" %}

{% block pageNavigation %}
  {% if breadcrumbs %}
    {{ govukBreadcrumbs(breadcrumbs)}}
  {% elseif backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "_includes/app-flash-message.html" %}

  <div class="govuk-grid-row">
    <div class="{{ gridColumn or govuk-grid-column-two-thirds-from-desktop }}">
      {% markdown %}
        {% block guidanceContent %}
          
        {% endblock %}
      {% endmarkdown %}
    </div>
   </div>

{% endblock %}


