{% extends "layout.html" %}

{% set navActive = "drafts" %}

{% if not backLink %}
    {% set backLink = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText      = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}


{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% set record = data.record %}

{% if not record %}
  {% set record = {} %}
{% endif %}

{% set canAmend = (record.status or 'Draft') | canBeAmended %}

{# Used by summary cards #}
{% set recordPath = "/new-record" %}

{% block content %}
  
  {{ record | log(record | getShortName or 'Draft record') }}

  {% include "_includes/app-flash-message.html" %}

  {% block beforePageTitle %}{% endblock %}

  {% set hasReferrer = '' | addReferrer(referrer) | falsify %}
  {% set formActionHtml -%}
  {%- if formAction -%}
    action={{- formAction -}}
  {%- elseif hasReferrer -%}
    action={{- '' | addReferrer(referrer) -}}
  {%- endif -%} 
  {%- endset %}
  
  <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
    <div class="govuk-grid-row">
      <div class="{{ gridColumn or 'govuk-grid-column-two-thirds-from-desktop'}}">
        {% block formContent %}

        {% endblock %}

        {% if returnLink %}
          <p class="govuk-body"><a href="{{returnLink.href}}" class="govuk-link">{{returnLink.text}}</a></p>
        {% endif %}

        {# {% if not hideReturnLink %}
          <p class="govuk-body"><a href="{{ '/new-record/overview' | orReferrer(referrer)}}" class="govuk-link">Cancel</a></p>
        {% endif %} #}
      </div>
      {% if hasSecondary %}
        <div class="govuk-grid-column-one-third">
          {% block secondary %}{% endblock %}
        </div>
      {% endif %}


    </div>
  </form>
{% endblock %}


