{% extends "layout.html" %}

{% set navActive = "records" %}

{% if not backLink %}
    {% set backLink      = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText      = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}


{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{# Record could be set by locals, or in session data #}
{% set record = record or data.record %}
{% if not record %}
  {% set record = {} %}
{% endif %}

{% set canAmend = isAuthorised("editRecords") and (record.status | canBeAmended) and (not record | isHesaAndLocked) %}

{# Used by summary cards #}
{% set recordPath = "/record/" + record.id %}
{% set referrer = recordPath %}

{% block content %}

  {% include "_includes/app-flash-message.html" %}

  <div class="record-header">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      {{pageHeading}}
      {% if not record | recordIsComplete and isAuthorised('showIncomplete') and (not record | isHesaAndLocked) %}
          <span style="display: inline-block;">
            {{govukTag({
              text: "Incomplete",
              classes: "app-tag--record-incomplete"
            })}}
          </span>
        {% endif %}
      {{govukTag({
          text: record.status,
          classes: record.status | getStatusClass
      })}}
      {# {% if data.settings.enableApplyIntegration %}
        {{govukTag({
          text: record.source,
          classes: record.source | getStatusClass
        })}}
      {% endif %} #}
    </h1>
    {% if record.trn %}
      <span class="govuk-caption-l">TRN: {{record.trn}}
      </span>
    {% endif %}
  </div>

  {% if record | isHesaAndLocked %}
    {% set hesaRecordSummary %}
      <h3 class="govuk-heading-s">
        This record was imported from HESA and cannot be edited
      </h3>
      <p class="govuk-body">
        Updates from HESA are imported regularly.
      </p>
      <p class="govuk-body">
        You will be able to recommend the trainee for QTS at the end of the academic year.
      </p>
    {% endset %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukInsetText({
          text: hesaRecordSummary | safe,
          classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0"
        }) }}
      </div>
    </div>
  {% endif %}

  {% include "_includes/actions-banner.njk" %}

  {% include "_includes/record-sub-nav.njk" %}

  {% block tabContent %}
  
  {% endblock %}
    
{% endblock %}


