{% extends "layout.html" %}

{% set navActive = "records" %}

{% if not backLink %}
    {% set backLink      = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText      = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}


{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% set record = data.record %}
{% if not record %}
  {% set record = {} %}
{% endif %}

{% set canAmend = record.status | canBeAmended %}

{# Used by summary cards #}
{% set recordPath = "/record/" + record.id %}

{% block content %}

  {{ record | log(record | getShortName or 'Record') }}

  {% include "_includes/app-flash-message.html" %}

  {% block beforePageTitle %}{% endblock %}
  <form{% if formAction %} action="{{ formAction }}"{% endif %} method="post" novalidate spellcheck="false">
    <div class="govuk-grid-row">
      <div class="{{ gridColumn or 'govuk-grid-column-two-thirds-from-desktop'}}">
        {% block formContent %}

        {% endblock %}

        {% if not hideReturnLink %}
          {% if returnLink %}
            <p class="govuk-body"><a href="{{returnLink.href}}" class="govuk-link">{{returnLink.text}}</a></p>
          {% else %}
            <p class="govuk-body"><a href="{{recordPath | orReferrer(referrer)}}" class="govuk-link">Cancel and return to record</a></p>
          {% endif %}
        {% endif %}
      </div>
      {% if hasSecondary %}
        <div class="govuk-grid-column-one-third">
          {% block secondary %}{% endblock %}
        </div>
      {% endif %}


    </div>
  </form>
{% endblock %}


