{% include "_includes/trainee-name-caption.njk" %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes, I can add at least one of them now"
    },
    {
      value: "Not yet",
      text: "No, I’ll add them later",
      _hint: {
        text: "You will need to add placement details before you can recommend for " + record | getQualificationText
      }
    }
  ]
} | decorateAttributes(record, "record.placement.hasPlacements"))}}

{{ govukButton({
  text: "Continue"
}) }}
