{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">
  {{pageHeading}}
</h1>

{% set placementCount = record.placement.items | length %}

{# Placement data is stored in a temp location before being merged back to array #}

{# Get placement (if it exists) from existing data #}

{% set placement = {} %}

{% if record.placement.items %}
  {% set placement = record.placement.items | getRecordById(placementUuid) %}
{% endif %}

{# Merge with temp store #}
{% set placementTemp = placement | mergeObjects(data.placementTemp) %}

{% set label = "Search for a school by its unique reference number (URN), name or postcode" %}

{{ govukInput({
  label: {
    text: label,
    classes: "govuk-label--s"
  },
  classes: "govuk-!-width-two-thirds"
}| decorateAttributes(placementTemp, "placementTemp.location"))}}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Select the start month for this placement",
      classes: "govuk-label--s"
    }
  },
  items: [
    {
      value: "1",
      text: "January"
    },
    {
      value: "2",
      text: "February"
    },
    {
      value: "3",
      text: "March"
    },
    {
      value: "4",
      text: 'April'
    },
    {
      value: "5",
      text: "May"
    },
    {
      value: "6",
      text: "June"
    },
    {
      value: "7",
      text: "July"
    },
    {
      value: "8",
      text: "August"
    },
    {
      value: "9",
      text: "September"
    },
    {
      value: "10",
      text: "October"
    },
    {
      value: "11",
      text: "November"
    },
    {
      value: "12",
      text: "December"
    },
    {
      divider: "or"
    },
    {
      value: "Not provided",
      text: "Not known"
    }
  ]
} | decorateAttributes(placementTemp, "placementTemp.startMonth"))}}

{{ govukInput({
  label: {
    text: "Approximate duration in weeks",
    classes: "govuk-label--s"
  },
  suffix: {
    text: "weeks"
  },
  classes: "govuk-!-width-one-quarter"
}| decorateAttributes(placementTemp, "placementTemp.duration"))}}

{{ govukButton({
  text: "Continue"
}) }}
