{% set commencementStartDateArray = record.trainingDetails.commencementDate | toDateArray %}

{% set traineeStartDate = record.trainingDetails.commencementDate or false %}

{% set commencementDateHint %}
  Their ITT started on {{ record.courseDetails.startDate | toDateArray | spaceSeparate }}
{% endset %}

{% set legendText = "Trainee start date" %}
{% set hintHtml = "For example, " + today() | toDateArray | spaceSeparate %}

{% set commencementDateInputHtml %}
  {{ govukDateInput({
    id: commencementDateID,
    namePrefix: "record[trainingDetails][commencementDate]",
    fieldset: {
      legend: {
        text: legendText
      }
    },
    hint: {
      html: hintHtml
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: commencementStartDateArray["2"]
        }
      ]
  }) }}
{% endset %}

{% include "_includes/trainee-name-caption.njk" %}

{% if not traineeStartDate %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "started-itt-on-time",
        text: "Yes, they started on time — " + record.courseDetails.startDate | govukDate
      },
      {
        value: "started-itt-later",
        text: "No, they started later",
        conditional: {
          html: commencementDateInputHtml
        }
      },
      {
        divider: "or"
      } if not startConfirmed,
      {
        value: "trainee-not-started",
        text: "They have not started yet"
      } if not startConfirmed
    ]
  } | decorateAttributes(record, "record.trainingDetails.traineeStarted")) }}

  {% else %}

    {# If the trainee start exists, use date input for editing #}
    {{ govukDateInput({
      fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      id: commencementDateID,
      namePrefix: "record[trainingDetails][commencementDate]",
      hint: {
        html: commencementDateHint
      },
      items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: commencementStartDateArray["0"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: commencementStartDateArray["1"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: commencementStartDateArray["2"]
          }
        ]
    }) }}

{% endif %}

{{ govukButton({
  text: "Continue"
}) }}

