<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set courseStartDate = record.courseDetails.startDate or false %}

{% set commencementStartDateArray = record.trainingDetails.commencementDate | toDateArray %}

{% set commencementDateLabel = "What is the trainee’s start date?" %}
{% set commencementDateHint = "This is the date the trainee starts on the course. This can be different from the ITT start date." %}


{% set commencementDateInputHtml %}

  {% set hintHtml %}
    {% if not courseStartDate %}
      {{commencementDateHint}}<br>
    {% endif %}
    For example, {{ today() | toDateArray | spaceSeparate }}
  {% endset %}

  {{ govukDateInput({
    id: "commencement-start-date",
    namePrefix: "record[trainingDetails][commencementDate]",
    fieldset: {
      legend: {
        text: "Trainee start date" if courseStartDate else commencementDateLabel,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      html: hintHtml
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: commencementStartDateArray["2"]
        }
      ]
  }) }}
{% endset %}

{# If we have a ITT start date, offer radio choice betwen that and manual  #}
{% if courseStartDate %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: commencementDateLabel,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: commencementDateHint
    },
    items: [
      {
        value: "use-course-start-date",
        text: "Use the ITT start date – " + record.courseDetails.startDate | govukDate
      } if record.courseDetails.startDate,
      {
        value: "true",
        text: "Enter another date" if record.courseDetails.startDate else "Start date known",
        conditional: {
          html: commencementDateInputHtml
        }
      },
      {
        divider: "or"
      } if startDateNotKnownAllowed,
      {
        value: "false",
        text: "Start date not known – provide it later"
      } if startDateNotKnownAllowed
    ]
  } | decorateAttributes(record, "record.trainingDetails.traineeStarted")) }}

{# If we don’t have a ITT start date, just show an input to collect date. This means they don’t
have to do course details before starting this section. #}
{% else %}
  {{ commencementDateInputHtml | safe }}
{% endif %}

{# Trainee ID #}
{{ govukInput({
  label: {
    text: "Assign a trainee ID",
    classes: "govuk-label--s"
  },
  hint: {
    text: "This will help you to identify them and search for them in your trainee records. We may also use it if we need to get in touch with you about this trainee."
  },
  classes: "govuk-!-width-one-half"
} | decorateAttributes(record, "record.trainingDetails.traineeId"))}}


{{ govukButton({
  text: "Continue"
}) }}
