{% extends "_templates/_form.html" %}

{% set pageHeading = "Select Apply offers to import" %}

{% set filteredRecords = data.records | filterRecords(data) %}

{% set applyPendingRecords = filteredRecords | filterByStatus("Apply pending conditions") %}

{% if filteredRecords | length == 0 %}
  {% set pageHeading = "No Apply offers to import" %}
{% endif %}

{% set navActive = 'drafts' %}

{% set returnLink = {
  href: "/drafts",
  text: "Cancel"
} %}

{% set formAction = "./apply-importable-answer" | addReferrer(referrer) %}

{% set hideReturnLink = true if filteredRecords | length == 0 %}

{% block formContent %}
  {% include "_includes/forms/apply-pending-conditions-select-trainees.html" %}

{% endblock %}
