
{% extends "_templates/_page.njk" %}
{% set backLink = '/home' %}
{% set backText = "Home" %}

{% set pageHeading = 'Reports' %}
{% set navActive = 'reports' %}

{% set filteredRecords = data.records | filterRecords(data) %}
{% set traineesThatCanBeRecommended = filteredRecords | filterByReadyToRecommend %}
{% set needAcademicAward = traineesThatCanBeRecommended | filterByAcademicQualificationsApply %}
{% set qualifications = traineesThatCanBeRecommended | getQualifications | orSeparate %}
{% set previousAcademicYear = data.years.previousAcademicYear %}
{% set nextAcademicYearSimple = data.years.nextAcademicYearSimple %}

{% block content %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>

    <!-- Dummy text prior to content designer supplying it -->
    <h2 class="govuk-heading-m">Census sign off</h2>
    <p class="govuk-body"><a class="govuk-link" href="/census-sign-off/">Sign off your new trainee data for the {{ previousAcademicYear }} academic year</a></p>

    <h2 class="govuk-heading-m">Performance profiles</h2>

    <!-- 31st January - 1 Dec -->
<!--    <p class="govuk-body">No reports are currently available.</p>-->

<!--    <p class="govuk-body">When they’re available, you’ll be able to download report showing:</p>-->

<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--      <li>trainees who studied in the 2023 to 2024 academic year - for performance profiles sign off with a deadline of 28 February 2025</li>-->
<!--    </ul>-->

<!--    <p class="govuk-body">You can read guidance about signing off performance profiles.</p>-->

    <!-- From 1 Dec - 31st January -->
    <p class="govuk-body"><a class="govuk-link" href="/performance-profile/">Trainees who studied in the 2023 to 2024 academic year report</a> - for performance profiles sign off with a deadline of 28 February {{ nextAcademicYearSimple }}.</p>



    {% if data.settings.signOffPeriods == "none" %}

    {# Hidden this content for the time for demo #}
    {#
      <p class="govuk-body">No reports are currently available.</p>

      <p>When they’re available, you’ll be able to download reports showing:</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>new trainees for the {{data.years.currentAcademicYear}} academic year - for census sign off</li>
        <li>trainees who studied in the {{data.years.previousAcademicYear}} academic year - for performance profiles sign off</li>

      </ul>

      <p class="govuk-body"> You can read <a class="govuk-link" href="#">guidance about signing off performance profiles</a>.</p>
    #}
    {% else %}
      <ul class="govuk-list govuk-list--spaced">
        {# Hidden for user research as not available in production #}
        {# <li>
          <a class="govuk-link" href="/reports/choose-trainee-records">
            Choose trainee records to export
          </a>
        </li> #}

        {# HESA export only relevant to HEIs - hidden as not available in production #}
        {# {% if activeProvider.accreditingProviderType == "HEI" %}
          <li>
            <a class="govuk-link" href="/reports/hesa">
              Export HESA (Higher Education Statistics Agency) records
            </a>
          </li>
        {% endif %} #}

        <li>
          {% if data.settings.signOffPeriods == "census" %}
            <a class="govuk-link" href="/reports/itt-new-starter-data-sign-off">New trainees for the {{data.years.currentAcademicYear}} academic year</a> - for census sign off
          {% else %}
            New trainees for the {{data.years.currentAcademicYear}} academic year - will be available for census sign off
          {% endif %}
        </li>
        <li>
          {% if data.settings.signOffPeriods == "performanceProfiles" %}
            <a class="govuk-link" href="/reports/performance-profiles">Trainees who studied in the {{data.years.previousAcademicYear}} academic year</a> - for performance profiles sign off
          {% else %}
            Trainees who studied in the {{data.years.previousAcademicYear}} academic year</a> - will be available for performance profiles sign off
          {% endif %}
        </li>
      </ul>

    {% endif %}

  </div>
</div>
{% endblock %}
