
{% include "_includes/trainee-name-caption.njk" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{{ govukInput({

  label: {
    text: "Comment for trainee timeline",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: 'For example, ‘Provider withdrew the trainee in error’'
  }
} | decorateAttributes(record, "record.revert.withdraw.auditLogComment"))  }}

{{ govukInput({

  label: {
    text: "Zendesk ticket URL (optional)",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: 'For example, https://becomingateacher.zendesk.com/agent/tickets/12345'
  }
} | decorateAttributes(record, "record.revert.withdraw.zendeskUrl"))  }}

{{ govukButton({
  text: "Continue"
}) }}
