{% extends "layouts/auth.njk" %}

{% set hideAccountNavigation = true %}

{% set title = "Give feedback on " + serviceName %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: actions.home
    }
  ]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "_includes/page-heading.njk" %}

    <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

      {{ govukRadios({
        name: "feedback[satisfaction]",
        fieldset: {
          legend: {
            text: "Overall, how do you feel about this service?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        errorMessage: errors | getErrorMessage("satisfaction"),
        value: feedback.satisfaction,
        items: [
          {
            value: "5",
            text: "Very satisfied"
          },
          {
            value: "4",
            text: "Satisfied"
          },
          {
            value: "3",
            text: "Neither satisfied nor dissatisfied"
          },
          {
            value: "2",
            text: "Dissatisfied"
          },
          {
            value: "1",
            text: "Very dissatisfied"
          }
        ]
      }) }}

      {{ govukCharacterCount({
        name: "feedback[details]",
        id: "feedback-details",
        label: {
          text: "How could we improve this service?",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        hint: {
          text: "Do not include any personal or sensitive information"
        },
        errorMessage: errors | getErrorMessage("details"),
        maxwords: wordCount,
        value: feedback.details
      }) }}

      {% call govukFieldset({
        legend: {
          text: "If you want a reply (optional)",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

        <p class="govuk-body">
          If you’d like us to get back to you, please leave your details below.
        </p>

        {{ govukInput({
          id: "feedback-fullname",
          name: "feedback[fullname]",
          label: {
            text: "Your name",
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          value: feedback.fullname
        }) }}

        {{ govukInput({
          id: "feedback-email",
          name: "feedback[email]",
          label: {
            text: "Your email address",
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          hint: {
            text: "We’ll only use this to reply to your message"
          },
          errorMessage: errors | getErrorMessage("email"),
          value: feedback.email,
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="{{ actions.cancel }}" class="govuk-link">Cancel</a>
    </p>

  </div>
</div>

{% endblock %}
