<nav class="app-secondary-navigation {{- ' ' + params.classes if params.classes}}" {%- if params.label %} aria-label="{{ params.label }}"{% endif %} {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  <ul class="app-secondary-navigation__list">
    {%- for item in params.items %}
      {% if item.html.length or item.text.length %}
        <li class="app-secondary-navigation__item {{- ' app-secondary-navigation__item--active' if item.active }}">
          <a class="app-secondary-navigation__link" {{ 'aria-current="page"' | safe if item.active }} href="{{ item.href }}" {%- for attribute, value in item.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
            {{- item.html | safe if item.html else item.text -}}
          </a>
        </li>
      {% endif %}
    {% endfor -%}
  </ul>
</nav>
