{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{% block pageTitle -%}
  {{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{%- endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true,
    homepageUrl: "/"
  }) }}

  {% if not hideServiceNavigation %}
    {{ govukServiceNavigation({
      navigationId: "primaryNavigation",
      serviceName: serviceName,
      serviceUrl: "/"
    }) }}
  {% endif %}

  {% if not hidePhaseBanner %}
    {% include "_includes/phase-banner.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
