{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{% from "_components/notice/macro.njk" import appNotice %}
{% from "_components/secondary-navigation/macro.njk" import appSecondaryNavigation %}
{% from "_components/organisation-actions/macro.njk" import appOrganisationActions %}

{% set navigationBaseUrl = baseUrl if baseUrl else "" %}

{% block pageTitle -%}
  {{ "Error: " if errors }}{{ subtitle + " - " if subtitle }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{%- endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true,
    homepageUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  {% set navigationEndHtml %}
    <li class="govuk-service-navigation__item {{- ' govuk-service-navigation__item--active' if primaryNavId == 'account' }} app-service-navigation__align-right">
      <a class="govuk-service-navigation__link" href="#" {{- ' aria-current="true"' if primaryNavId == "account" }}>Support</a>
    </li>
    <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="/sign-out">Sign out</a>
    </li>
  {% endset %}

  {% if currentProvider and hasMultipleProviders and not hidePrimaryNavigation %}
    {% set organisationHtml %}
      {{ currentProvider.operatingName }}
    {% endset %}

    {{ appOrganisationActions({
      html: organisationHtml,
      actions: {
        items: [
          {
            text: "Change provider",
            href: "/providers"
          }
        ]
      },
      classes: "govuk-width-container"
    }) }}
  {% endif %}

  {% if not hidePrimaryNavigation and navigationBaseUrl %}
    {{ govukServiceNavigation({
      navigationId: "primaryNavigation",
      serviceName: serviceName,
      serviceUrl: navigationBaseUrl or "/providers",
      navigation: [
        {
          text: "Home",
          href: navigationBaseUrl or "/providers",
          active: primaryNavId == "home"
        },
        {
          text: "Draft trainees",
          href: navigationBaseUrl + "/trainees/draft",
          active: primaryNavId == "draftTrainees"
        },
        {
          text: "Registered trainees",
          href: navigationBaseUrl + "/trainees/registered",
          active: primaryNavId == "registeredTrainees"
        },
        {
          text: "Bulk updates",
          href: navigationBaseUrl + "/trainees/bulk",
          active: primaryNavId == "bulkUpdates"
        },
        {
          text: "Reports",
          href: "#",
          active: primaryNavId == "reports"
        }
      ],
      slots: {
        navigationEnd: navigationEndHtml
      }
    }) }}
  {% endif %}

  {% include "_includes/phase-banner.njk" %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
